img.noUpdate, img.noError
{
    visibility: hidden;
}

img.update, img.error
{
    visibility: visible;
}

tr.fuelFalse, tr.fuelFalse
{
    color: #aaaaaa;
}

#listFuel > tbody > tr.fuelTrue.isUpdate
{
    background-color: #bfddf1;
}

#listFuel > tbody > tr.fuelTrue.isUpdate:hover
{
    background-color: #aad2ec;
}

#listFuel > tbody > tr.fuelTrue.isError
{
    background-color: #ffe5e6;
}

#listFuel > tbody > tr.fuelTrue.isError:hover
{
    background-color: #ffc5c8;
}

#listFuel > tbody > tr.fuelTrue.isUpdated
{
    background-color: #cde7cd;
}

#listFuel > tbody > tr.fuelTrue.isUpdated:hover
{
    background-color: #b6e0b6;
}