div.alertBlock
{
    position: relative;
    width: 340px;
    margin: 8px 6px 6px 2px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 1px 1px 6px #bbc;
}

div.alertBlock div.top
{
    position: relative;
    background: white url("../../../img/default/home/alertBlock/bgTop.gif") repeat-x left top;
    height: 22px;
    margin: 0;
    padding: 0;
}

div.alertBlock div.top div.title
{
    margin: 0;
    padding: 5px 4px 0 4px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    color: #900000;
}

div.alertBlock div.content
{
    position: relative;
    margin: 0;
    padding: 2px;
    border: 1px solid #abc3d7;
    background-color: #fafafa;
    overflow: hidden;
}

div.alertBlock div.content div.alerts
{
    margin: 0;
    padding: 0;
    z-index: 1;
    min-height: 34px;
}

div.alertBlock div.content a.alert
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 1px center;
    background-image: url("../../../img/default/home/alertBlock/alert.png");
    padding: 2px 1px 1px 21px;
    margin: 0;
    height: 15px;
    border: none;
    text-decoration: none;
    color: #888888;
    display: block;
}

div.alertBlock div.content a.alert:hover
{
    padding: 1px 0 0 20px;
    border: 1px solid #d4dadc;
    background-color: #f3f6f7;
    background-position: 0px center;
}

div.alertBlock div.content a.alert.hot
{
    background-image: url("../../../img/default/home/alertBlock/alertHot.gif");
    color: black;
}

div.alertBlock div.content a.alert span.count
{
    font-weight: bold;
    padding: 0 4px 0 0;
    margin: 0;
}

div.alertBlock div.content a.alert span.title
{
    font-weight: normal;
    padding: 0;
    margin: 0;
}
