body
{
    background: url('../../../img/default/home/bgLogo.gif') no-repeat right bottom;;
}

div#homeTitle
{
    width: 100%;
    height: 96px;
    background: url("../../../img/default/home/bgTitleLeft.png") no-repeat left bottom,
                url('../../../img/default/home/bgTitle.gif') repeat-x right top;
    position: relative;
    z-index: 100;
    min-width: 750px;
    overflow: hidden;
}

div#homeTitle div.right
{
    position: absolute;
    right: -1px;
    top: 0px;
    z-index: 1;
    width: 455px;
    height: 96px;
    background: url('../../../img/default/home/logoAI.svg') no-repeat right 7px top,
        url('../../../img/default/home/bgTitleRight.png') no-repeat right top;
}

div#homeTitle div.titleGrid
{
    position: absolute;
    width: 100%;
    top: 26px;
    display: grid;
    grid-template-columns: 176px auto auto;
    grid-template-rows: 26px 30px;
    grid-template-areas: "logo welcome langs"
                         "logo search search";
    align-items: center;
    margin-top: 8px;
}

div#homeTitle div.logo
{
    grid-area: logo;
}

div#homeTitle div.logo > img
{
    height: 48px;
    margin: -2px 6px 0 6px;
}

div#homeTitle div.env
{
    position: absolute;
    color: #101040;
    font-family: Verdana, Arial, 'Bitstream Vera Sans', Helvetica, Sans-serif;
    font-size: 16pt;
    text-align: left;
    right: 128px;
    top: -1px;
    z-index: 8;
    font-style: italic;
    font-weight: normal;
}

div#homeTitle div.env > input.switchdb
{
    margin-left: 5px;
    font-size: 80%;
}

div#homeTitle div.env > input.switchdb:first-child
{
    margin-left: 15px;
}

div#homeTitle div.env > input.switchdb.selected
{
    font-weight: bold;
    color: #800000;
    background: #F4FADF url('../../../img/default/home/bgSwitchDbSelected.gif');
    border: 1px outset #990000;
    border-top: 1px solid #b30000;
    border-left: 1px solid #b30000;
}

div#homeTitle div.welcome
{
    grid-area: welcome;
    font-family: Verdana, Arial, 'Bitstream Vera Sans', Helvetica, Sans-serif;
    font-size: 9pt;
    font-weight: bold;
    padding: 1px 0;
    z-index: 20;
    white-space: nowrap;
    padding-left: 8px;
    height: 24px;
    line-height: 24px;
    background: url("../../../img/default/home/bgTitleWelcome.png") no-repeat left center,
                url("../../../img/default/home/bgTitleRepeat.png") repeat-x left center;
}

div#homeTitle div.welcome span.name
{
    color: #007ac2;
}

div#homeTitle div.welcome span.extras
{
    margin-left: 16px;
    color: #555565;
    font-style: italic;
}

div#homeTitle div.langs
{
    grid-area: langs;
    height: 24px;
    z-index: 25;
    background: /*url("../../../img/default/home/bgTitleLangs.png") no-repeat right center,*/
                url("../../../img/default/home/bgTitleRepeat.png") repeat-x left center;
    padding: 0 10px 0 8px;
    text-align: right;
}

div#homeTitle div.langs img
{
    display: inline-block;
    margin: -2px 1px 0 4px;
    vertical-align: middle;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

div#homeTitle div.langs img.active
{
    opacity: 1;
    filter: none;
}

div#homeTitle div.langs div.separator
{
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 4px;
    background: transparent url('../../../img/default/home/bgTitleLangsSep.png') no-repeat right top;
}

div#homeTitle div.search
{
    grid-area: search;
    z-index: 10;
}

div#homeMiddle
{
    width: 100%;
    overflow: hidden;
    margin: 0;
    position: relative;
    z-index: 0;
}

div#homeMenu
{
    position: relative;
    width: 176px;
    height: 100%;
    float: left;
    background: white url("../../../img/default/home/bgMenu.gif") repeat-y left top;
    min-height: 416px;
    z-index: 50;
}

div#homeMenu div.top
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 176px;
    height: 208px;
    background: transparent url("../../../img/default/home/bgMenuTop.gif") no-repeat left top;
    z-index: 2;
}

div#homeMenu div.bottom
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 176px;
    height: 10px;
    background: transparent url("../../../img/default/home/bgMenuBottom.png") no-repeat left bottom;
    z-index: 10;
}

div#homeMenu div.topContent
{
    left: 0px;
    top: 6px;
    width: 167px;
    z-index: 5;
    position: absolute;
    overflow: hidden;
}

div#homeMenu div.topContent div.menuItem
{
    position: relative;
    overflow: hidden;
    width: 100%;
}

div#homeMenu div.topContent div.menuItem a
{
    cursor: default;
    text-decoration: none;
    display: block;
    background: url('../../../img/default/home/menu/left.gif') no-repeat left top;
    height: 22px;
    line-height: 22px;
}

div#homeMenu div.topContent div.menuItem a div.text
{
    position: relative;
    font-size: 11px;
    font-weight: bold;
    padding: 0 6px 0 6px;
    white-space: nowrap;
    overflow: hidden;
    height: 22px;
    background: url('../../../img/default/home/menu/right.gif') no-repeat right top;
    text-decoration: none;
    color: #669ACB;
}

div#homeMenu div.topContent div.menuItem a div.text.iconified
{
    padding: 0 0 0 23px;
}

div#homeMenu div.topContent div.menuItem a div.text div.icon
{
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    padding: 2px 0 0 4px;
}

div#homeMenu div.topContent div.menuItem a div.text:first-letter
{
    color: #396e9d;
}

div#homeMenu div.topContent div.menuItem a:hover
{
    background: url('../../../img/default/home/menu/hoverLeft.gif') no-repeat left top;
}

div#homeMenu div.topContent div.menuItem a:hover div.text
{
    background: url('../../../img/default/home/menu/hoverRight.gif') no-repeat right top;
}

div#homeMenu div.topContent div.menuItem.arrow a,
div#homeMenu div.topContent div.menuItem.arrowOpen a
{
    cursor: pointer;
}

div#homeMenu div.topContent div.menuItem.arrow a div.text
{
    background: url('../../../img/default/home/menu/rightArrow.gif') no-repeat right top;
}

div#homeMenu div.topContent div.menuItem.arrow a:hover div.text
{
    background-image: url('../../../img/default/home/menu/hoverRightArrow.gif');
}

div#homeMenu div.topContent div.menuItem.arrowOpen a
{
    background: url('../../../img/default/home/menu/leftArrowOpen.gif') no-repeat left top;
}

div#homeMenu div.topContent div.menuItem.arrowOpen a div.text
{
    background: url('../../../img/default/home/menu/rightArrowOpen.gif') no-repeat right top;
    color: #224866;
}

div#homeMenu div.topContent div.menuItem.arrowOpen a div.text:first-letter
{
    color: #1c3446;
}

div#homeMenu div.topContent div.menuItem.arrowOpen a:hover
{
    background: url('../../../img/default/home/menu/hoverLeft.gif') no-repeat left top;
}

div#homeMenu div.topContent div.menuItem.arrowOpen a:hover div.text
{
    background-image: url('../../../img/default/home/menu/hoverRightArrowOpen.gif');
}


div#homeMenu div.topContent div.menuItem
{
    position: relative;
}

div#homeMenu div.topContent div.menuItem div.subMenu
{
    padding: 0;
    margin: 0 0 10px 0;
    overflow: hidden;
    display: none;
    position: relative;
    border-radius: 2px;
}

div#homeMenu div.topContent div.menuItem.arrowOpen div.subMenu
{
    display: block;
}

div#homeMenu div.topContent div.menuItem div.subMenu a
{
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    background-image: none;
}

div#homeMenu div.topContent div.menuItem div.subMenu a div.text
{
    font-size: 10px;
    font-weight: normal;
    margin-left: 4px;
    background-image: none;
    color: #36668a;
    text-decoration: none;
}

div#homeMenu div.topContent div.menuItem div.subMenu a div.text:first-letter
{
    font-weight: bold;
    color: #36668a;
}

div#homeMenu div.topContent div.menuItem div.subMenu a div.text.iconified
{
    padding-left: 20px;
}

div#homeMenu div.topContent div.menuItem div.subMenu a div.text div.icon
{
    padding: 1px 0 0 1px;
}

div#homeMenu div.topContent div.menuItem div.subMenu a:hover
{
    background-image: url('../../../img/default/home/menu/subHoverLeft.gif');
    margin: 0;
}

div#homeMenu div.topContent div.menuItem div.subMenu a:hover div.text
{
    background-image: url('../../../img/default/home/menu/subHoverRight.gif');
}

div#homeMenu div.bottomContent
{
    position: absolute;
    left: 0px;
    bottom: 80px;
    width: 167px;
    padding: 0;
    text-align: center;
    z-index: 5;
}

div#homeMenu div.bottomContent a.reports
{
    display: block;
    line-height: 34px;
    text-decoration: none;
    background: url('../../../img/default/home/menu/reports.gif') no-repeat left top;
    margin: 1px 0 1px 16px;
    padding: 0 0 0 40px;
    text-align: left;
    font-size: 10pt;
    font-weight: bold;
}

div#homeMenu div.bottomContent a.reports:hover
{
    background: url('../../../img/default/home/menu/reportsOver.gif') no-repeat left top;
    text-decoration: underline;
}

div#homeContent
{
    text-align: left;
    padding: 0;
    height: 100%;
    overflow: auto;
    margin: 0;
    position: relative;
    border: 0px;
}

div#homeFooter
{
    width: 100%;
    height: 20px;
    background: white url("../../../img/default/home/bgFooter.gif") repeat-x left top;
    background-color: #158BCB;
    border-top: none;
    bottom: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 200;
    min-width: 750px;
    text-shadow: 1px 1px 2px #666;
}

div#homeFooter span.elapsed
{
    font-weight: bold;
}

div#homeFooter div.copyright
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    padding: 0 0 0 5px;
    vertical-align: middle;
    color: white;
}

div#homeFooter div.right
{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px 0 0;
    text-align: right;
    vertical-align: middle;
    color: white;
}
div#homeFooter > div.maintenance
{
    position: absolute;
    right: 140px;
    top: 0px;
    height: 20px;
    line-height: 20px;
    padding: 0 8px 0 8px;
    text-align: right;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    background: url("../../../img/default/home/bgFooterMaintenance.png") no-repeat left -20px,
                url("../../../img/default/home/bgFooterMaintenance.png") no-repeat right top;
}

div#homeFooter div.right a.time
{
    color: white;
    text-decoration: none;
    cursor: default;
}

div#homeFooter div.right a.time:hover
{
    text-decoration: underline;
}

div#homeFooter div.version
{
    position: absolute;
    right: 56px;
    top: 0px;
    height: 20px;
    line-height: 20px;
    padding: 0 8px 0 0;
    text-align: right;
    vertical-align: middle;
    color: white;
    font-size: 7pt;
    font-style: italic;
    background: transparent url("../../../img/default/home/bgFooterVersion.gif") no-repeat right top;
}

div#homeFooter div.version a.date
{
    color: white;
    text-decoration: none;
    cursor: default;
}

div#homeFooter div.version a.date:hover
{
    text-decoration: underline;
}



a#homeChangeProfileButton
{
    position: absolute;
    display: block;
    left: 45%;
    bottom: 0px;
    height: 20px;
    line-height: 20px;
    background: transparent url("../../../img/default/home/changeProfileBtn.gif") no-repeat left bottom;
    padding: 0 0 0 18px;
    color: white;
    text-decoration: none;
    z-index: 2;
}

a#homeChangeProfileButton:hover
{
    padding-left: 34px;
    height: 30px;
    line-height: 30px;
    background-image: url("../../../img/default/home/changeProfileBtnOver.gif");
    color: black;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: underline;
}

div#homeChangeProfileWindow
{
    position: absolute;
    left: 45%;
    bottom: 20px;
    background-color: #48a6d7;
    border: 1px solid #003453;
    border-bottom: none;
    padding: 0 0 4px 0;
    color: white;
    z-index: 2;
    display: none;
}

div#homeChangeProfileWindow div.title
{
    position: relative;
    padding: 2px 8px 1px 18px;
    font-weight: bold;
    margin: 1px 1px 3px 1px;
    background: #a4d6ed url("../../../img/default/home/changeProfileIcon.gif") no-repeat 1px center;
}

div#homeChangeProfileWindow div.title a.close
{
    position: absolute;
    display: block;
    right: 2px;
    top: 1px;
    width: 13px;
    height: 14px;
    background: #a4d6ed url("../../../img/default/home/changeProfileCloseBtn.gif") no-repeat right center;
}

div#homeChangeProfileWindow div.title a.close:hover
{
    background-image: url("../../../img/default/home/changeProfileCloseBtnOver.gif");
}

div#homeChangeProfileWindow div.content
{
    padding: 0 4px;
}

div#homeChangeProfileWindow div.content form
{
    padding: 0;
    margin: 0;
}

div#homeChangeProfileWindow div.content select
{
    margin-right: 4px;
}

div.homeLoading
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #f2f9fc url("../../../img/default/home/loading.gif") no-repeat center center;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 300;
    display: none;
}


/* ---------------------------------------------------------------------------------------------- */


fieldset
{
    padding-bottom: 15px;
    margin: 2px;
    background-color: #f5fbff;
}

table#divHomeContent
{
    width: 100%;
}

table#divHomeContent tr
{
    vertical-align: top;
}

#catalogField ul
{
    list-style-position: inside;
    list-style-type: none ;
    margin: 6px 0 0 4px;
    padding: 0;
}

#catalogField ul li
{
    line-height: 20px;
    padding: 0;
    vertical-align: middle;
}

#nomadAgency
{
    color: #990000;
    font-weight: bold;
}

#changeUserAgency
{
    font-weight: bold;
}

.label
{
    font-weight: bold;
    margin-left: 8px;
}

.button
{
    margin-left: 10px;
}

#searchMore
{
    position: absolute;
    z-index: 10000;
    top: 20px;
    left:25px;
    text-align: right;
    display: none;
    width: 280px;
}

.resultSearch
{
    position: absolute;
    z-index: 10000;
    top: 20px;
    left:25px;
    text-align: right;
    display: none;
    width: 280px;
}

#panelSearch
{
    display: inline;
}

#closePanelSearch
{
    display: none;
}

#panelSearchField
{
    padding-left:20px;
    padding-right: 20px;
    top:5px;
}


#tableSearchMore
{
    margin-right: auto;
    margin-left: auto;
}

#tableSearchMore td.left
{
    text-align: left;
    height: 30px;
}

#alertContainer
{
    z-index: -2;
}

div.newscontainer
{
    position: fixed;
    left: 176px;
    right: 0px;
    bottom: 15px;
    z-index: 0;
}

div.newscontainer .newstitle
{
	display: inline-block;
    /*font-family: Arial, Helvetica, Sans-serif;*/
    font-size: 15pt;
    /*font-weight: bold;*/
    color: #BB0000;
    text-transform: uppercase;
    margin-left: 5px;
}

div.newscontainer div.top
{
    position: relative;
    margin-left: 5px;
    display: inline-block;
}

div.newscontainer div.top div.title
{
    font-size: 15pt;
    color: #BB0000;
    text-transform: uppercase;
    display: inline-block;
}

div.newscontainer div.top div.controls
{
    display: inline-block;
    margin-left: 10px;
}

div.news
{
    background: white url("../../../img/default/home/newsbg.jpg") repeat-x left top;
    border-top: 3px solid #BB0000;
    border-bottom: 1px solid #BB0000;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;
    margin: 2px 2px 7px 2px;
    padding: 2px 5px 5px 2px;
}

div.news .date
{
    font-weight: bold;
    display: inline-block;
    color: #707070;
    margin-top: 3px;
    padding-left: 0px;
}

div.news .title
{
    font-weight: bold;
    text-transform: uppercase;
    color: #007AC2;
    display: inline-block;
    border-right: 1px solid #AAAAAA;
    padding-right: 5px;
    margin-top: 3px;
}

div.news .title.breaking
{
    color: white;
    padding: 2px 5px;
    background: #BB0000 url("../../../img/default/home/breakingnews.gif") repeat-x left center;
    border-right-style: none;
}

div.news .message
{
    margin-left: 10px;
    margin-bottom: 7px;
}

div.news .message.breaking
{
    color: #BB0000;
    font-weight: bold;
}

#resultSearchCli
{
    position: absolute;
    z-index: 10000;
    top: 20px;
    left:290px;
    text-align: right;
    display: none;
    width: 280px;
}

#resultSearchMach
{
    position: absolute;
    z-index: 10000;
    top: 20px;
    left:290px;
    text-align: right;
    display: none;
    width: 280px;
}

#resultSearchCity
{
    position: absolute;
    z-index: 10000;
    top: 20px;
    left:290px;
    text-align: right;
    display: none;
    width: 280px;
}

fieldset.resultSearch
{
    display: inline;
    padding-left:20px;
    padding-right: 20px;
    top:5px;
    font-weight: bold;
    vertical-align: middle;
}

a.locCtrlButton.noemails
{
    color: grey;
}

a.locCtrlButton.emails
{
    color: black;
}

a.locCtrlButton.noemails:hover, a.locCtrlButton.emails:hover
{
    color: #990000;
}

fieldset.nextinvoicing
{
    padding-top: 5px;
    padding-bottom: 10px;
}

fieldset.nextinvoicing span.invoicing
{
    margin-left: 5px;
    margin-right: 20px;
}

fieldset.nextinvoicing span.invoicing a
{
    color: black;
}

fieldset.nextinvoicing span.invoicing span
{
    font-weight: bold;
}


fieldset.catalog
{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

ul
{
     list-style-image: none;
     list-style-position: outside;
     list-style-type: none;
     margin: 0px 5px;
     padding: 0px;
}

li.reports
{
    background: transparent url("../../../img/default/home/reports.png") no-repeat left center;
    height: 16px;
    padding-left: 20px;
}

li.reports a
{
    line-height: 16px;
}


/* ---------------------------------------------------------------------------------------------- */


/* IMPRESSION */
@media print
{
    div#homeTitle, div#homeFooter
    {
        display: none;
    }

    div#homeMiddle
    {
        height: auto;
        overflow: visible;
        margin: 0;
        padding: 0;
    }

    div#homeContent
    {
        height: auto;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
}
