h1.searchResult
{
    color: #007AC2;
    font-size: 8pt;
    background-image: url("../../../img/searchResults.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
}

p.noResult
{
    font-style: italic;
    padding-left: 20px;
    background-image: url("../../../img/iconWarning.gif");
    background-repeat: no-repeat;
    font-size : 1.4em;
}