div.legend
{
    display: block;
    position: relative;
    text-align: left;
}

div.legend > span.title
{
    font-style: italic;
    vertical-align: bottom;
}

div.legend > div.button
{
    display: inline-block;
    position: relative;
    margin: 0 1px;
    padding: 2px;
    z-index: 1;
}

div.legend > div.button > div.errorImg
{
    position: relative;
    z-index: 1;
}

div.legend > div.button > div.text
{
    display: none;
}

div.legend > div.button:hover
{
    padding: 1px;
    border: 1px solid #b5e1f5;
    border-right-color: #66afda;
    border-bottom-color: #66afda;
    background-color: #e8f3f9;
}

div.legend > div.button:hover > div.text
{
    display: inline;
    position: absolute;
    left: -12px;
    top: 26px;
    border: 1px solid #dadada;
    border-right-color: #767676;
    border-bottom-color: #767676;
    background-color: #f1f1f1;
    color: #151515;
    padding: 2px 4px 2px 4px;
    line-height: 16px;
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 2px 3px;
    z-index: 10;
    min-width: 32px;
}

div.legend > div.button:hover > div.text > div.pick
{
    position: absolute;
    left: 12px;
    top: -8px;
    width: 20px;
    height: 10px;
    background: url('../../../img/common/alerts/errors.png') no-repeat -16px -64px;
    z-index: 2;
}


div.noResult
{
    margin-top: 16px;
}


div.list
{
    position: relative;
    margin: 0;
    padding: 3px 0;
    z-index: 1;
}


/* Barre de contrôle */
div.list > div.toolbar
{
    margin: 0;
    display: table;
    width: 100%;
    padding-top: 13px;
}

div.list > div.toolbar > div.col
{
    display: table-cell;
    position: relative;
}

div.list > div.toolbar > div.col > div.fixed-content
{
    display: none;
    margin-top: 4px;
    margin-left: 10px;
}

div.list > div.toolbar > div.col.content
{
    text-align: left;
}

div.list > div.toolbar > div.col.controls
{
    display: table-cell;
    text-align: right;
    padding-right: 4px;
}

div.list > div.toolbar > div.col.controls > div.recap
{
    position: relative;
    display: block;
    font-size: 10px;
    line-height: 12px;
    min-height: 12px;
    margin: 3px 0;
    color: #606060;
    padding-right: 20px;
}

div.list > div.toolbar > div.col.controls > div.recap
{
    margin-top: 6px;
}


div.list > div.toolbar > div.col.controls > ul
{
    margin: 0px;
    display: inline-block;
}

div.list > div.toolbar > div.col.controls > ul > li
{
    list-style: none;
    position: relative;
    float: left;
}

div.list > div.toolbar > div.col.controls > ul > li:not(:first-child)
{
    border-left: 1px solid #A5D0E9;
    margin-left: 10px;
    padding-left: 10px;
}

div.list > div.toolbar > div.col.controls > ul > li #do-checked
{
    font-weight: normal;
    color: #666666;
}

div.list > div.content
{
    margin: 8px 0;
}

/* Fixation de la barre d'outils */
body.table-toolbar-fixed #locStandardMiddle.scroll-top:before
{
    display: none;
}

body.table-toolbar-fixed #table-toolbar-container
{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #b3d7ed;
    margin: 0;
    padding: 16px 5px 6px 5px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.35);
}

body.table-toolbar-fixed #table-toolbar-container > div.col > div.fixed-content
{
    display: block;
}

body.table-toolbar-fixed #table-container
{
    margin-top: 90px;
}

#back-top-btn
{
    display: inline-block;
    opacity: 0.8;
    margin-top: 4px;
}

#back-top-btn:hover
{
    opacity: 1;
}


table.create
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

table.create > tbody > tr
{
    line-height: 14px;
    height: 32px;
}

table.create > tbody > tr.selected,
table.create > tbody > tr.selected.odd
{
    background-color: #ecf5fb;
}

table.create > tbody > tr.selected.even
{
    background-color: #e5f1f9;
}

table.create > tbody > tr.selected:hover,
table.create > tbody > tr.selected.odd:hover
{
    background-color: #d2eafa;
}

table.create > tbody > tr.selected.even:hover
{
    background-color: #cde8fa;
}

table.create > thead > tr > th.header
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

table.create > thead > tr > th.header.headerSortDown
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortAsc.png');
    text-decoration: underline;
}

table.create > thead > tr > th.header.headerSortUp
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortDesc.png');
    text-decoration: underline;
}

table.create > tbody > tr > td.model
{
    font-size: 10px;
}


table.create > tbody > tr.ko,
table.create > tbody > tr.ok.isError
{
    background-color: #f9e5e6;
}
table.create > tbody > tr.ko.even,
table.create > tbody > tr.ok.isError
{
    background-color: #fadadb;
}

table.create > tbody > tr.ko:hover,
table.create > tbody > tr.ok.isError
{
    background-color: #f8c8c9;
}


/* Mode d'affichage */
#viewmode-btn
{
    font-weight: normal;
    color: black;
}

#viewmode-btn span.viewmode-label
{
    display: none;
    font-weight: bold;
}

#viewmode-btn.disabled,
#viewmode-btn.disabled span.viewmode-label
{
    color: #AAAAAA !important;
}

#table-wrapper.viewmode-checked #viewmode-btn span.viewmode-label
{
    color: #A00000;
}

#table-wrapper.viewmode-checked #viewmode-btn span.viewmode-label.checked
{
    display: inline;
}

#table-wrapper.viewmode-full #viewmode-btn span.viewmode-label.full
{
    display: inline;
}
