div.unknownMachine
{
    margin: 10px 0px;
}

fieldset.sub
{
    margin-right: 10px;
    float: left;
}

table.formTable > tbody > tr > td
{
    vertical-align: baseline;
}

/* En-tête de la fiche machine */
#headband
{
    margin: 10px 0px;
}

body.headband-fixed #headband
{
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 1px solid #b3d7ed;
    margin: 0px;
    padding: 5px 0px;
    left: 0px;
    z-index: 100;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.35);
}

body.headband-fixed #locStandardMiddle.scroll-top:before
{
    display: none;
}

#headband > table
{
    border-collapse: collapse;
    width: 100%;
}

body.headband-fixed #headband > table
{
    margin: 0px;
}

#headband > table > tbody > tr > td.left
{
    text-align: left;
}

body.headband-fixed #headband > table td.left
{
    padding-left: 5px;
}

#headband > table > tbody > tr > td.right
{
    text-align: right;
    vertical-align: bottom;
}

body.headband-fixed #headband > table td.right
{
    padding-right: 5px;
}


div.locStandardParkNumber
{
    font-size: 300%;
    line-height: 100%;
}

body.headband-fixed #headband div.locStandardParkNumber
{
    font-size: 200%;
}

#headband div.agency
{
    color: gray;
    font-size: 200%;
    display: inline-block;
    margin: 0px 10px;
}

body.headband-fixed #headband div.agency
{
    font-size: 130%;
}

#headband div.agency > a
{
    color: inherit;
}

.siteBlocked,
.siteAsbestos,
.outOfPark,
.state
{
    display: inline-block;
    font-family: 'Arial', Helvetica, Sans-serif;
    font-size: 150%;
    font-weight: bold;
}

body.headband-fixed #headband .siteBlocked,
body.headband-fixed #headband .siteAsbestos,
body.headband-fixed #headband .outOfPark,
body.headband-fixed #headband .state
{
    font-size: 100%;
}

.siteBlocked
{
    background-image: url('../../../img/machine/view/siteBlocked.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 24px;
    line-height: 24px;
}

.siteAsbestos
{
    background-image: url('../../../img/rent/helper/site/ic_asbestos_24px.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 24px;
    line-height: 24px;
}

.outOfPark
{
    padding: 0px 5px;
    color: #ffde00;
    border: 2px solid #ffde00;
    background-color: #666666;
}

.outOfPark > a
{
    color: inherit;
}

.state
{
    padding: 2px 5px;
    color: gray;
    border: 5px solid rgb(200,200,200);
}

.state > a
{
    color: inherit;
}

.state.MAC01
{
    border-color: rgb(230,184,183);
}

.state.MAC02
{
    border-color: rgb(196,215,155);
}

.state.MAC03
{
    border-color: rgb(235,241,222);
}

.state.MAC04
{
    border-color: rgb(252,213,180);
}

.state.MAC05
{
    border-color: rgb(253,233,217);
}

.state.MAC06
{
    border-color: rgb(255,204,102);
}

.state.MAC07
{
    border-color: rgb(216,228,188);
}

.state.MAC09
{
    border-color: rgb(220,230,241);
}

.state.MAC12
{
    border-color: rgb(238,225,225);
}


/* Bloc d'identification */
body.headband-fixed #headband + #identification
{
    margin-top: 53px;
}

.id
{
    position: absolute;
    right: 10px;
    margin-left: 10px;
}

#telematicsId
{
    line-height: 25px;
    margin: 0 5px;
    z-index: 10;
}

#identification .name
{
    font-family: 'Arial', Helvetica, Sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin: 5px 0px 10px;
}

.general
{
    float: left;
    margin-right: 40px;
    margin-bottom: 5px;
}

.info
{
    float: left;
    margin-bottom: 5px;
    margin-right: 40px;
    padding-top:20px;
}
.machineInfo
{
    float: left;
    margin-bottom: 5px;
    margin-right: 40px;
}

div.tree div
{
    margin: 2px 0px 10px 0px;
}

div.tree > div div
{
    background-image: url('../../../img/machine/view/tree.png');
    background-position: 4px top;
    background-repeat: no-repeat;
    padding-left: 24px;
}

div.tree > div > div > div > div
{
    font-weight: bold;
}

.elevation,
.energy
{
    font-family: 'Arial', Helvetica, Sans-serif;
    font-weight: bold;
    font-size: 140%;
    color: #A00000;
    background-position: left center;
    background-repeat: no-repeat;
    margin-bottom: 7px;
    margin-right: 10px;
    line-height: 20px;
    display: inline-block;
}

.elevation > a,
.energy > a
{
    color: inherit;
}

.elevation
{
    background-image: url('../../../img/machine/view/up.png');
    padding-left: 22px;
}

.energy
{
    background-image: url('../../../img/machine/view/energy-unknown.png');
    padding-left: 26px;
}

.energy.electric
{
    background-image: url('../../../img/machine/view/energy-electric.png');
}

.energy.fuel
{
    background-image: url('../../../img/machine/view/energy-fuel.png');
}

.energy.bi
{
    background-image: url('../../../img/machine/view/energy-bi.png');
}

.energy.gas
{
    background-image: url('../../../img/machine/view/energy-gas.png');
}

table.dimensions > tbody > tr > td.height
{
    padding-right: 7px;
    height: 36px;
    background-image: url('../../../img/machine/view/height.png');
    background-position: right center;
    background-repeat: no-repeat;
    text-align: right;
}

table.dimensions > tbody > tr > td.width
{
    padding-left: 33px;
    padding-bottom: 15px;
    background-image: url('../../../img/machine/view/width.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    text-align: left;
    vertical-align: bottom;
}

table.dimensions > tbody > tr > td.length
{
    padding-top: 5px;
    width: 90px;
    background-image: url('../../../img/machine/view/length.png');
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

table.addInfos > tbody > tr > td.label
{
    padding-left:2px;
    white-space:nowrap;
}


table.addInfos > tbody > tr > td.value
{
    padding-left: 10px;
    padding-right: 20px;
}

table.formTable > tbody > tr.nextControl > td
{
    vertical-align: baseline;
}
table.formTable > tbody > tr.nextControl > td > div.locStandardScore
{
    padding-top: 0;
    padding-bottom: 0;
}

/* Bloc des informations commerciales */
table.utilization
{
    border-collapse: collapse;
}

table.utilization > tbody > tr > td
{
    padding: 0px 5px;
    vertical-align: baseline;
    line-height: 16px;
}

table.utilization > tbody > tr > td.agency,
table.utilization > tbody > tr > td.area,
table.utilization > tbody > tr > td.country
{
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
}

table.utilization > tbody > tr > td.agency
{
    background-image: url('../../../img/agency.png');
}

table.utilization > tbody > tr > td.area
{
    background-image: url('../../../img/area.png');
}

table.utilization > tbody > tr > td.country.fr
{
    background-image: url('../../../img/base/country/fr.gif');
}

table.utilization > tbody > tr > td.country.es
{
    background-image: url('../../../img/base/country/es.gif');
}

table.utilization > tbody > tr > td.country.pt
{
    background-image: url('../../../img/base/country/pt.gif');
}

table.utilization > tbody > tr > td.country.ma
{
    background-image: url('../../../img/base/country/ma.gif');
}

table.utilization > tbody > tr > td.percent
{
    text-align: right;
}

table.utilization > tbody > tr > td.number
{
    text-align: left;
    font-size: 7pt;
    color: gray;
}

table > tbody > tr.deallocated
{
    text-decoration: line-through;
}

table > tbody > tr.current
{
    height: 27px;
    background-color: #DEEFDE;
}

table > tbody > tr.current > td
{
    border-bottom-color: #A4E0A2;
    color: #107810;
}

.lastContractsLabel
{
    margin-bottom: 5px;
}

/* - Popup de désattribution machine */
#deallocatePopup > ul.choices > li > div.icon
{
    background-image: url("../../../img/machine/view/deallocateBtns.png");
}

#deallocatePopup > ul.choices > li.none > div.icon
{
    background-position: -120px center;
}
#deallocatePopup > ul.choices > li.deallocate-redirect > div.icon
{
    background-position: -60px center;
}

#deallocatePopup > ul.choices > li.deallocate-redirect:hover > div.icon
{
    background-position: -90px center;
}

/* Bloc télématique */
#telematics .warning-notification
{
    position: relative;
    border: 1px solid #3a78ab;
    border-left-width: 3px;
    margin: 4px 6px 6px 0px;
    padding: 4px 4px 4px 32px;
    overflow: hidden;
    border-radius: 2px;
    border-color: #c5964a;
    background: #ecab43;
    background-image: -webkit-linear-gradient(bottom, rgb(237,167,55) 38%, rgb(234,181,96) 86%);
    background-image: linear-gradient(to top, rgb(237,167,55) 38%, rgb(234,181,96) 86%);
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}
#telematics .warning-notification .icon
{
    position: absolute;
    background: transparent url("../../../img/base/notifications/bg.png") no-repeat 0 0;
    background-position: 0 -24px;
    left: 8px;
    top: 2px;
    width: 24px;
    height: 24px;
}
#telematics .warning-notification .msg
{
    margin: 0;
    padding: 3px 10px;
    border: 0;
    background: transparent;
    text-shadow: 0 0 1px #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    display: block;
}

#telematics table > tbody > tr > td > fieldset.sub
{
    position: relative;
}

#telematics table.startcodes
{
    margin: 5px 0 0 0;
}
#telematics table.startcodes td
{
    vertical-align: middle;
}

#telematics table.startcodes tr.startcode a > img
{
    width: 16px;
}

#telematics table.startcodes tr.startcode-pending td.code > span.startcode
{
    position: relative;
    color: #666;
    border-color: #888;
    font-weight: normal;
}
#telematics table.startcodes tr.startcode-unapp-pending td.code > span.startcode
{
    position: relative;
}
#telematics table.startcodes tr.startcode-pending td.code > span.startcode::after
{
    content: '';
    position: absolute;
    display: block;
    top: -6px;
    right: -10px;
    background: #fff url('../../../img/machine/view/startcode-pending.png') no-repeat center center;
    width: 12px;
    height: 12px;
    padding: 1px;
    border-radius: 2px;
    border: 1px solid #368a3e;
}

#telematics table.startcodes tr.startcode-unapp-pending td.code > span.startcode::after
{
    content: '';
    position: absolute;
    display: block;
    top: -6px;
    right: -10px;
    background: #fff url('../../../img/machine/view/startcode-unapp-pending.png') no-repeat center center;
    width: 12px;
    height: 12px;
    padding: 1px;
    border-radius: 2px;
    border: 1px solid #c13131;
}

#telematics table.startcodes td.rules
{
    white-space: nowrap;
    padding-right: 16px;
}

#telematics table.startcodes td.rules div.rule
{
    margin: 2px;
    text-align: center;
}

#telematics table.startcodes td.rules div.rule span.date
{
    display: inline-block;
    width: 7.5em;
    text-align: center;
}

#telematics table.startcodes td.rules div.rule-pending
{
    position: relative;
    color: #777;
    font-style: italic;
}
#telematics table.startcodes td.rules div.rule-unapp-pending
{
    position: relative;
}

#telematics table.startcodes tr td.rules span.rule-states
{
    display: inline-block;
    height: 12px;
    width: 2em;
    text-align: center;
}
#telematics table.startcodes tr td.rules span.rule-states i
{
    position: relative;
}


#telematics table.startcodes tr.startcode-applied td.rules i.rule-pending::after,
#telematics table.startcodes tr.startcode-unapp-pending td.rules i.rule-pending::after
{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: #fff url('../../../img/machine/view/startcode-pending.png') no-repeat center center;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 2px;
    border: 1px solid #368a3e;
    opacity: 0.8;
}

#telematics table.startcodes tr.startcode-applied td.rules i.rule-unapp-pending::after,
#telematics table.startcodes tr.startcode-pending td.rules i.rule-unapp-pending::after
{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: #fff url('../../../img/machine/view/startcode-unapp-pending.png') no-repeat center center;
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 2px;
    border: 1px solid #c13131;
    opacity: 0.8;
}

#telematics table.startcodes tr.startcode-applied td.rules i.rule-pending + i.rule-unapp-pending::after
{
    left: 15px;
}

#telematics .manage-btn
{
    display: block;
    position: absolute;
    top: -6px;
    right: 5px;
    background-color: #f5fbff;
    padding: 4px;
}

/* Bloc d'actions */
#lastKnownControlDate
{
    font-size: 80%;
    font-style: italic;
    margin-top: 5px;
}
#control-print-btns
{
    margin-top: 15px;
}

#siteBlockedComment
{
    margin-top: 5px;
}

#siteBlockedComment.light
{
    vertical-align: middle;
    margin-left: 5px;
}

#transfer > div:not(:first-child)
{
    margin-top: 10px;
}

#transfer:not(:nth-child(2))
{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #CCCCCC;
}

#transfer .strong
{
    font-weight: bold;
    color: #0068a5;
}

#transfer .label
{
    display: inline-block;
    vertical-align: middle;
}

#transfer .buttons
{
    display: inline-block;
    margin-left: 20px;
}

div.infotip
{
    position: relative;
    display: none;
    z-index: 100;
    display: inline-block;
    padding: 2px;
    vertical-align: -4px;
}

div.infotip > div.tip
{
    display: none;
}

div.infotip:hover > div.text
{
    display: block;
    position: absolute;
    left: -50px;
    top: 26px;
    border: 1px solid #dadada;
    border-right-color: #969696;
    border-bottom-color: #969696;
    background-color: #f1f1f1;
    color: #151515;
    padding: 2px 6px 2px 6px;
    line-height: 16px;
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 2px 3px;
    z-index: 10;
    min-width: 32px;
    text-align: left;
    box-shadow: 2px 2px 4px #bbb;
}

div.infotip:hover > div.pick
{
    display: block;
    position: absolute;
    left: 1px;
    top: 19px;
    width: 20px;
    height: 10px;
    background: url("../../../img/common/alerts/errors.png") no-repeat -16px -64px;
    z-index: 11;
}

div.infotip > div.icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../../img/rent/helper/transport/info.png") no-repeat 0 0;
}

div.infotip > div.text > div.row > span.label
{
    font-weight: bold;
    margin-right: 4px;
}

div.infotip > div.text > div.row
{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.btn.do,
a.btn.undo,
a.btn.cancel
{
    width: 36px;
    height: 33px;
    background: url('../../../img/machine/view/buttons.png') no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}

a.btn.hidden
{
    display: none;
}

a.btn.do
{
    background-position: 0 0;
}

a.btn.do:hover
{
    background-position: 0 -33px;
}

a.btn.do.disabled
{
    background-position: 0 -66px !important;
    cursor: default;
}

a.btn.undo
{
    background-position: -36px 0;
}

a.btn.undo:hover
{
    background-position: -36px -33px;
}

a.btn.undo.disabled
{
    background-position: -36px -66px !important;
    cursor: default;
}

a.btn.cancel
{
    background-position: -72px 0;
}

a.btn.cancel:hover
{
    background-position: -72px -33px;
}

a.btn.cancel.disabled
{
    background-position: -72px -66px !important;
    cursor: default;
}

#actionsValid
{
    clear: both;
}


/* Bloc des dernières modifications */
#history\.result
{
    display: inline-block;
    margin-bottom: 5px;
}

#history div.hidden
{
    display: none;
}

#history table > tbody > tr > td.deleted
{
    text-decoration: line-through;
}

#history\.noresult,
#history\.error
{
    margin: 5px 0px;
}

#waiting
{
    background-image: url('../../../img/loading4.gif');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 48px;
    display: inline-block;
}

#waiting.hidden
{
    display: none;
}

#moreHistoryBtn,
#allHistoryBtn,
#waitingHistory
{
    float: right;
    margin-top: 5px;
}

#allHistoryBtn
{
    margin-left: 10px;
}

#moreHistoryBtn.hidden,
#allHistoryBtn.hidden,
#waitingHistory.hidden
{
    display: none;
}

#waitingHistory
{
    background-image: url('../../../img/loading2.gif');
    background-position: left center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}


/* Bloc des données Kimoce */
#kimoceData fieldset.sub
{
    display: inline-block;
    float: none;
    vertical-align: top;
}

#kimoceData table.formTable
{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

#kimoceData table.formTable:last-child
{
    margin-right: 0px;
}

#kimoceData .wrong
{
    color: #CC0000;
    font-weight: bold;
    text-decoration: line-through;
}

#kimoceData .right
{
    font-style: italic;
    font-size: 80%;
    color: #666666;
}

fieldset.error legend
{
    color: #CC0000;
}
