div.noResult
{
    margin-top: 16px;
}


table.list
{
    border: 1px solid #66afda;
    border-bottom-color: #007ac2;
    border-right-color: #007ac2;
    vertical-align: middle;
    text-align: left;
    width: 100%;
}

table.list > thead > tr > th.header
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

table.list > thead > tr > th.header.headerSortDown
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortAsc.png');
    text-decoration: underline;
}

table.list > thead > tr > th.header.headerSortUp
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortDesc.png');
    text-decoration: underline;
}

table.list > tbody > tr
{
    height: 28px;
}

table.list > tbody > tr.isUpdate
{
    background-color: #bfddf1;
}

table.list > tbody > tr.isUpdate:hover
{
    background-color: #aad2ec;
}

table.list > tbody > tr.isError
{
    background-color: #ffe5e6;
}

table.list > tbody > tr.isError:hover
{
    background-color: #ffc5c8;
}

table.list > tbody > tr.isUpdated
{
    background-color: #cde7cd;
}

table.list > tbody > tr.isUpdated:hover
{
    background-color: #b6e0b6;
}

table.list > tbody > tr > td.id
{
    font-size: 9px;
}

table.list > tbody > tr > td.type > div
{
    background: url('../../../img/common/proforma/types.png') no-repeat 0 0;
    width: 16px;
    height: 16px;
    white-space: nowrap;
}

table.list > tbody > tr.type_1 > td.type > div
{
    background-position: 0 -16px;
}

table.list > tbody > tr.type_2 > td.type > div
{
    background-position: 0 -32px;
}

table.list > tbody > tr.type_3 > td.type > div
{
    background-position: 0 -48px;
}

table.list > tbody > tr > td.amountWithVat,
table.list > tbody > tr > td.total
{
    text-align: right;
}

table.list > tbody > tr > td.total
{
    font-weight: bold;
}


table.list > tbody > tr > td.documentCode
{
    text-align: center;
}

table.list > tbody > tr > td.date,
table.list > tbody > tr > td.documentBeginDate,
table.list > tbody > tr > td.documentCode
{
    font-size: 10px;
    white-space: nowrap;
}

table.list > tbody > tr > td.encashment
{
    white-space: nowrap;
}

table.list > tbody > tr > td.encashment input[type=text]
{
    width: 78px;
}

table.list > tbody > tr > td.justification,
table.list.readOnly > tbody > tr > td.validation
{
    text-align: center;
}

table.list > tbody > tr > td.validation > div
{
    position: relative;
    vertical-align: middle;
}

table.list > tbody > tr > td.validation > div > textarea
{
    display: none;
}

table.list > tbody > tr.validate > td.validation > div > textarea
{
    display: inline;
    position: absolute;
    left: 16px;
    top: -5px;
    width: 45px !important;
    height: 20px !important;
    overflow: hidden;
    border-color: #66AFDA;
}


table.list > tbody > tr.validate > td.validation > div:hover > textarea,
table.list > tbody > tr.validate > td.validation > div > textarea:focus
{
    top: -25px;
    height: 64px !important;
    width: 140px !important;
    border-width: 2px;
    box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#222222', Direction=135, Strength=3);
    overflow: auto;
    z-index: 10000;
}

table.list > tbody > tr.validate > td.validation > div > textarea:focus
{
    border-color: #9C0 !important;
    z-index: 10001;
}

table.list > tbody > tr > td.encashment > div.param
{
    display: none;
    white-space: nowrap;
}

table.list > tbody > tr > td.encashment > div.param > span.title
{
    font-weight: bold;
    padding-right: 6px;
    display: block;
}

table.list > tbody > tr.encashment_ECM04 > td.encashment > div.param.debt,
table.list > tbody > tr.encashment_ECM03 > td.encashment > div.param.enclosed
{
    display: block;
}

table.list > tbody > tr.encashment_ECM03 > td.encashment > div.param.debt input[type=text]
{
    width: 48px;
}

table.list > tbody > tr.encashment_ECM03 > td.encashment > div.param.debt.error input[type=text]
{
    color: red;
}

table.list > tbody > tr > td.editCtrls > div
{
    white-space: nowrap;
    visibility: hidden;
}

table.list > tbody > tr:hover > td.editCtrls > div
{
    visibility: visible;
}

div.errorImg
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../../../img/common/alerts/errors.png') no-repeat -16px 0;
}

#specialReductionStatus > div.errorImg + div.errorImg
{
    margin-left: 4px;
}
#specialReductionStatus > div.errorImg
{
    display: none;
}

div.errorImg.rentTariff
{
    background-position: 0 -64px;
}
div.errorImg.transportTariff
{
    background-position: 0 -80px;
}

#specialReductionStatus.ko.rentTariff > div.errorImg.rentTariff,
#specialReductionStatus.ko.transportTariff > div.errorImg.transportTariff
{
    display: inline-block;
}

div.errorImg.customerNotVerified
{
    display: block;
    background-position: 0 -96px;
}

div.legend
{
    display: block;
    position: relative;
    text-align: left;
}

div.legend > span.title
{
    font-style: italic;
    vertical-align: bottom;
}

div.legend > div.button
{
    display: inline-block;
    position: relative;
    margin: 0 1px;
    padding: 2px;
    z-index: 1;
}

div.legend > div.button > div.errorImg
{
    position: relative;
    z-index: 1;
}

div.legend > div.button > div.text
{
    display: none;
}

div.legend > div.button:hover
{
    padding: 1px;
    border: 1px solid #b5e1f5;
    border-right-color: #66afda;
    border-bottom-color: #66afda;
    background-color: #e8f3f9;
}

div.legend > div.button:hover > div.text
{
    display: inline;
    position: absolute;
    left: -12px;
    top: 26px;
    border: 1px solid #dadada;
    border-right-color: #767676;
    border-bottom-color: #767676;
    background-color: #f1f1f1;
    color: #151515;
    padding: 2px 4px 2px 4px;
    line-height: 16px;
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 2px 3px;
    z-index: 10;
    min-width: 32px;
}

div.legend > div.button:hover > div.text > div.pick
{
    position: absolute;
    left: 12px;
    top: -8px;
    width: 20px;
    height: 10px;
    background: url('../../../img/common/alerts/errors.png') no-repeat -16px -64px;
    z-index: 2;
}



#refreshTimeDiv
{
    position: absolute;
    right: 135px;
    top: 0;
    height: 20px;
    line-height: 20px;
    padding: 0 8px 0 0;
    text-align: left;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    background: transparent url("../../../img/standard/bg.png") no-repeat right -20px;
}

#refreshTimeDiv > span.title
{
    margin-right: 8px;
}