.codes-container
{
    margin-top: 10px;
}

.codes-container > fieldset
{
    margin: 15px;
    width: 300px;
    display: inline-block;
}

.align-center
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.align-center > span.startcode
{
    margin-top: 0;
}

.resume
{
    margin-top: 20px;
}

.resume .stat-bar
{
    height: 5px;
    width: 85%;
    margin: auto;
}
.resume .stat-bar span
{
    width: 0;
    height: 100%;
    display: inline-block;
    float: left;
}

.resume .stat-bar .active,
.resume .legend p.active::before
{
    background-color: #27ae60;
}

.resume .stat-bar .pending,
.resume .legend p.pending::before
{
    background-color: #f39c12;
}
.resume .legend
{
    width: 85%;
    margin: auto;
    margin-top: 10px;
}
.resume .legend p
{
    position: relative;
    padding-left: 20px;
}

.resume .legend p::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.pending-machines
{
    margin: 20px;
}

.pending-machines table
{
    width: 100%;
}

.pending-machines table td
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.pending-machines span.startcode
{
    font-size: 12px;
    padding: 3px;
    margin: 0;
}

.hide
{
    display: none;
}


