<table style="font-size: 9pt;">
<tr>
<td style="padding-right: 15px;"><img src="cid:logo-ai-email.png" /></td>
<td>
<p style="font-weight: bold; margin-top: 0px; margin-bottom: 0px;"><%user.firstName> <%user.name></p>
<p style="font-weight: bold; color: grey; margin-top: 0px; margin-bottom: 0px;">Acces industrie <%label></p>
<p style="font-size: 7pt; margin-top: 0px; margin-bottom: 0px;">
<%address><br />
<%postalCode> <%city><br />
Tél. <%telephone><br />
Fax <%fax>
</p>
</td>
</tr>
</table>