<table style="font-size: 9pt;">
<tr>
<td style="padding-right: 15px;"><img src="cid:logo-ai-email.png" /></td>
<td>
<p style="font-weight: bold; color: grey; margin-top: 0px; margin-bottom: 0px;">PLATEFORME TRANSPORT</p>
<p style="font-size: 7pt; margin-top: 0px; margin-bottom: 0px;">
Orléans, Île de France - France<br />
Tél. +33 2 38 80 97 15<br />
Fax +33 2 38 91 03 87
</p>
</td>
</tr>
</table>