@media print
{
    html
    {
        visibility: hidden;
    }

    #locPlgModalWindow
    {
        visibility: visible;
        width: auto;
        margin: auto;
    }
}

#locStandardCtrls .label
{
    font-weight: bold;
    margin-right: 10px;
}

table.structure
{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table.structure > tbody > tr
{
    vertical-align: top;
}

table.structure > tbody > tr > td
{
    width: 50%;
}

.nextInvoicingHeader
{
    padding-bottom: 5px;
    border-bottom: 1px dotted #72B5DD;
    margin-bottom: 10px;
}

.nextInvoicingHeader.subrent_1
{
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.nextInvoicingHeader .date
{
    font-family: 'Segoe UI', Arial, Helvetica, Sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

.nextInvoicingHeader .type
{
    margin-left: 30px;
    font-style: italic;
}

#rentNumber,
#repairNumber,
#subRentNumber
{
    width: 60px;
}

.formTable td.separator
{
    width: 10px;
}
span.separator
{
    padding: 0px 5px;
}

table.structure.subrent_0 #nextRentInvoicing,
table.structure.subrent_0 #nextRepairInvoicing
{
    height: 190px;
}

table.structure.subrent_1
{
    margin-bottom: 6px;
}

table.structure.subrent_1 #bloc_rent
{
    height: 258px;
}
table.structure.subrent_1 #bloc_repair
{
    height: 163px;
}
table.structure.subrent_1 #bloc_subrent
{
    height: 83px;
}

table.structure.subrent_1 #nextRentInvoicing,
table.structure.subrent_1 #nextRepairInvoicing,
table.structure.subrent_1 #subRent
{
    height: 100%;
}

.invoiceSummary
{
    display: none;
    padding: 5px;
}

.contractsCtrlReport,
.customersCtrlReport,
.cancelReport
{
    display: none;
    max-height: 500px;
}

#cancel\.report\.invoices
{
    height: 400px;
    overflow: auto;
}

div.invoiceLogsCointainer
{
    max-height: 100px;
    overflow-y: auto;
}

.invoiceLogs
{
    border-left: 1px dotted #72B5DD;
}

.invoiceLogs > tbody > tr > td
{
    font-style: italic;
    font-size: 7pt;
    border-bottom-style: none;
    color: grey;
}

.noresult
{
    font-style: italic;
}

table#latestInvoicing > tbody > tr > td
{
    white-space: nowrap;
}

div.invoiceSummary tr.total td
{
    font-style: italic;
}

#rentUploadFrame,
#repairUploadFrame,
#subRentUploadFrame
{
    width: 220px;
    height: 26px;
    vertical-align: middle;
    margin-left: -5px;
}

.result
{
    padding: 0px 2px;
}

.waiting
{
    padding: 0px 10px;
    background-image: url("../../../img/loading2.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

.result.hidden,
.waiting.hidden,
.locCtrlButton.hidden
{
    display: none;
}

.messages
{
    margin-bottom: 5px;
    font-style: italic;
    font-size: 7pt;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.error,
div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.warning,
div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.valid
{
    padding-right: 20px;
    background: transparent url("../../../img/accounting/invoice/tabStates.png") no-repeat right 0px;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.warning
{
    background-position: right -14px;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.valid
{
    background-position: right -28px;
}

#history\.loading
{
    padding: 0px 10px;
    background-image: url("../../../img/loading4.gif");
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 48px;
}

#history\.loading.hidden,
#history\.content.hidden,
#rent\.invoiceBtn.hidden,
#rent\.progression.hidden,
#repair\.progression.hidden,
#repair\.invoiceBtn.hidden,
#cancel\.invoiceBtn.hidden,
#cancel\.cancelBtn.hidden
{
    display: none;
}

div.progressbar
{
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    width: 150px;
    height: 10px;
    border: 1px solid #66AFDA;
    border: 1px solid #BBBBBB;
    border-radius: 2px;
    background: transparent url("../../../img/accounting/invoice/progressbarBg.jpg") repeat-x top left;
}

div.progression
{
    display: inline-block;
    vertical-align: middle;
    width: 0%;
    height: 100%;
    background: transparent url("../../../img/accounting/invoice/progressbar.jpg") repeat-x top left;
}
