/**
 * $Revision$
 * $Date$
 * $Author$
 */

@media print
{
    html
    {
        display: none;
    }
}

table.structure
{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table.structure tr
{
    vertical-align: top;
}

fieldset#invoiceInfos .title
{
    color: #007AC2;
    font-family: 'Segoe UI', Arial, Helvetica, Sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin: 0 0 10px;
    text-transform: uppercase;
}

table#references
{
    width: 100%;
    margin-top: 10px;
}

table#lines
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

table#vat
{
    width: 300px;
    float: left;
}

table#totals
{
    float: right;
    width: 350px;
    table-layout: fixed;
}

table#totals th
{
    width: 60%;
}

table#totals td.total
{
    font-weight: bold;
}
