input[type=button],
input[type=submit]
{
    padding: 1px 4px 2px 4px;
}

input[type=file]
{
    margin: 0;
}

a.locCtrlButton.disabled
{
    filter: alpha(opacity: 70);
}

fieldset
{
    background-image: url("../../img/base/white.gif");
    background-position: left top;
    background-repeat: repeat-x;
}