<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr_FR" xml:lang="fr_FR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pro forma aceptada - <%customer.name> - <%customer.code></title>
<style>
body
{
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 10pt;
}
table.signature
{
    font-size: 9pt;
}
table.signature td.logo
{
    padding-right: 15px;
}
p.user
{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.label
{
    font-weight: bold;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.address
{
    font-size: 7pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

table.customerInfos
{
    padding: 0px;
    margin: 5px 0 35px 0;
}

table.customerInfos td
{
    vertical-align: top;
    padding: 0px;
}

table.customerInfos td.label:first-letter
{
    font-weight: bold;
}

table.customerInfos td.content
{
    padding-left: 5px;
    font-weight: bold;
}

span.documentCode,
span.proformaAmount
{
    font-weight: bold;
}

ul.customerInfos
{
    margin-bottom: 50px;
}

</style>
</head>

<body>
<p>Buenos días,</p>
<p>La <%proforma.type> (linea <%proforma.indexLine> de la pestaña pro forma) sobre la linea <%document.estimateLine> del presupuesto <a href="<%document.url>"><span class="documentCode"><%document.code></span></a> de un importe de <span class="proformaAmount"><%cur:proforma.amount|2|€|es_ES></span> acaba de ser modificada por el servicio contabilidad:</p>
<ul>
    <%mod:Justificada|justification>
    <%mod:Validada por agencia|validation>
    <%mod:Totalmente cobrada|encashment>
</ul>
<p>La linea <%document.estimateLine> del presupuesto <a href="<%document.url>"><span class="documentCode"><%document.code></span></a> está desbloqueada.</p>

<ul class="customerInfos">
    <li>Código cliente: <%customer.code></li>
    <li>Razón social: <%customer.name></li>
    <li>Tipo de máquina: <%machine.model></li>
    <li>Fecha de inicio de alquiler: <%dte:date.begin|10|es_ES></li>
    <li>Fecha de fin de alquiler: <%dte:date.end|10|es_ES></li>
    <li>Obra: <%site.address></li>
</ul>

<table class="signature">
<tr>
<td class="logo"><img src="cid:logo-accesindustrie.png" /></td>
<td>
<p class="user"><%user.firstName> <%user.name></p>
<p class="agency label">Acces industrie <%agency.label></p>
<p class="agency address">
<%agency.address><br />
<%agency.postalCode> <%agency.city><br />
Tel. <%agency.telephone><br />
Fax <%agency.fax>
</p>
</td>
</tr>
</table>
</body>

</html>