<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr_FR" xml:lang="fr_FR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ACCES INDUSTRIE: Livraison machine n°<%machine.parkNumber> réalisée</title>
<style>
body
{
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 10pt;
}

table.infos
{
    padding: 0px;
    margin: 5px 0 35px 0;
}

table.infos tr.hidden
{
    display: none;
}

table.infos td
{
    vertical-align: top;
    padding: 0px;
}

table.infos td.label:first-letter
{
    font-weight: bold;
}

table.infos td.content
{
    padding-left: 5px;
}

</style>
</head>

<body>

<p>Bonjour,</p>
<p>Acces Industrie vous informe que la livraison de la machine n°<b><%machine.parkNumber></b> a été réalisée le <b><%dte:date|5|fr_FR></b> sur votre chantier :<br /></p>
<p>
<%site.label><br />
<%site.address><br />
<%site.locality.label><br /><br />

Contrat : <u><%contract.code></u>.
</p>
<p>Vous trouverez en pièces jointes les photos relatives à cette livraison.</p>
<p>Cordialement,</p>

<%signature>

</body>

</html>