div.locMessage
{
    margin-top: 10px;
}

#majStocksAlerts
{
    background-color: #000;
}

fieldset.form > legend
{
    background: url("../../../img/helpdesk/common/form.png") no-repeat 2px 0;
    padding-left: 22px;
}

fieldset.info > legend
{
    background: url("../../../img/helpdesk/common/info.png") no-repeat 2px 0;
    padding-left: 22px;
}

fieldset.scripts > legend
{
    background: url("../../../img/helpdesk/common/console.png") no-repeat 2px 0;
    padding-left: 22px;
}