

body
{
    background: url("../../img/helpdesk/bg.png") repeat left top;
}

fieldset
{
    background-color: white;
    background: -webkit-linear-gradient(top left, rgba(245, 250, 255, 1), rgba(255, 255, 255, 0.3));
    background:    -moz-linear-gradient(top left, rgba(245, 250, 255, 1), rgba(255, 255, 255, 0.3));
    background:         linear-gradient(top left, rgba(245, 250, 255, 1), rgba(255, 255, 255, 0.3));
    box-shadow: 2px 2px 4px #ccc;
}

fieldset > legend
{
    line-height: 16px;
}

div#locStandardContent
{
    padding: 10px;
    background: url("../../img/helpdesk/logo.png") no-repeat right bottom;
}


fieldset.scripts
{
    margin-top: 20px;
}

fieldset.scripts > legend
{
    background: url("../../img/helpdesk/common/console.png") no-repeat 2px 0;
    padding-left: 22px;
}

fieldset.scripts > iframe
{
    width: 100%;
    height: 200px;
}

td.label.align-top
{
    vertical-align: top;
}