.nbContracts
{
    font-weight: bold;
}

label
{
    font-size: 8pt;
    color: gray;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
    margin-right: 4px;
    line-height: 21px;
}

div.printButtons.disabled
{
    display: inline-block !important;
}

div.printButtons.disabled > a
{
    color: #aaaaaa;
    cursor: default;
    opacity: 0.5 !important;
}

div.printButtons.disabled > a:hover
{
    text-shadow: 0 1px 1px #ccc;
}

div.printButtons.disabled > a.print:hover
{
    background-position: 0 0;
}

div.printButtons.disabled > a.pdf:hover
{
    background-position: -16px 0;
}

div.printButtons.disabled > a.mail:hover
{
    background-position: -32px 0;
}


/* Message d'erreur */
.messageBlock.error > .popup
{
    height: 80px !important;
}

/* Tableau */
table.list
{
    margin: 1em 0;
    table-layout: fixed;
    width: 100%;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

table.list > thead > tr > th.header
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

table.list > thead > tr > th.header.headerSortDown
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortAsc.png');
    text-decoration: underline;
}

table.list > thead > tr > th.header.headerSortUp
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortDesc.png');
    text-decoration: underline;
}

table.list > thead th > div
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.list > thead th.state
{
    width: 26px;
}

table.list > thead th.contract
{
    width: 120px;
}

table.list > thead th.customer
{
    min-width: 200px;
    width: 20%;
}

table.list > thead th.begin,
table.list > thead th.end
{
    width: 90px;
}

table.list > thead th.arrow
{
    width: 13px;
}

table.list > thead th.park
{
    width: 70px;
}

table.list > thead th.checkbox
{
    width: 20px;
}

table.list > tbody > tr
{
    height: 24px;
}

table.list > tbody > tr.selected,
table.list > tbody > tr.selected.odd
{
    background-color: #ecf5fb;
}

table.list > tbody > tr.selected.even
{
    background-color: #e5f1f9;
}

table.list > tbody > tr.selected:hover,
table.list > tbody > tr.selected.odd:hover
{
    background-color: #d2eafa;
}

table.list > tbody > tr.selected.even:hover
{
    background-color: #cde8fa;
}

table.list > tbody > tr.isError
{
    background-color: #ffe5e6;
}

table.list > tbody > tr.isError:hover
{
    background-color: #ffc5c8;
}

table.list > tbody td.contract,
table.list > tbody td.site,
table.list > tbody td.locality,
table.list > tbody td.model
{
    font-size: 10px;
}

table.list > tbody td.state > div
{
    padding: 0;
}

table.list > tbody td.contract
{
    font-weight: bold;
}

table.list > tbody td.customer > div,
table.list > tbody td.site > div,
table.list > tbody td.locality > div
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.list > tbody td.arrow
{
    font-size: 13px;
}

table.list > tbody td.arrow,
table.list > tbody td.park
{
    text-align: center;
}

table.list > tbody td.checkbox
{
    text-align: right;
}