.DynarchCalendar, .DynarchCalendar-focused {
  background-color: #c5e0ef;
}

.DynarchCalendar-topBar,
.DynarchCalendar-bottomBar,
.DynarchCalendar-focused .DynarchCalendar-topBar,
.DynarchCalendar-focused .DynarchCalendar-bottomBar {
  background-color: #1e98de;
  color: #fff;
}

.DynarchCalendar-title div { color: #fff; }

.DynarchCalendar-dayNames { background-color: #e1f2fb; }

.DynarchCalendar-hover-navBtn div,
.DynarchCalendar-hover-title div,
.DynarchCalendar-hover-bottomBar-today {
  border-color: #e1f2fb #444038 #444038 #e1f2fb;
  background-color: #a9d8f3;
  color: #000;
}
.DynarchCalendar-menu table td div.DynarchCalendar-hover-navBtn {
  border-color: #e1f2fb #444038 #444038 #e1f2fb;
  background-color: #e4e0d8;
  color: #000;
}

.DynarchCalendar-pressed-navBtn div,
.DynarchCalendar-pressed-title div,
.DynarchCalendar-pressed-bottomBar-today,
.DynarchCalendar-menu table td div.DynarchCalendar-pressed-navBtn {
  border-color: #444038 #e1f2fb #e1f2fb #444038;
  background-color: #646058;
  color: #fff;
}

.DynarchCalendar-hover-date {
  border-color: #e1f2fb #444038 #444038 #e1f2fb;
  background-color: #e4e0d8;
}
.DynarchCalendar-day {
  border-radius: 0;
}

.DynarchCalendar-day-disabled {
  background: #c4c0b8;
}

.DynarchCalendar-hover-week { background-color: #e4e0d8 !important; }

.DynarchCalendar-day-selected {
  background-color: #e4e0d8;
  border: 1px solid;
  border-color: #444038 #e1f2fb #e1f2fb #444038;
  margin: 0;
}

.DynarchCalendar-day-today.DynarchCalendar-day-selected { background-color: #e4e0d8; }

.DynarchCalendar-menu {
  background-color: #a9d8f3;
}
