#tabFiltersFieldset
{
    margin-bottom: 10px;
}

#tabFilters tr
{
    vertical-align: baseline;
}

#noFilterBtn
{
    float: right;
}

table.formTable td.label.padding
{
    padding-left: 20px;
}

table.standard.ex
{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
table.standard.ex tr td
{
    cursor: pointer;
}

table.standard.ex th.right,
table.standard.ex td.right,
table.standard.ex td.red,
table.standard.ex td.green,
table.standard.ex td.bold
{
    white-space: nowrap;
    text-align: right;
}

table.standard.ex td.small
{
    text-align: left;
    font-weight: bold;
    font-size: 9px;
}

table.standard.ex td.red
{
    background-color: #FFE5E6;
    color: #DA0005;
}

table.standard.ex td.green
{
    background-color: #DEEFDE;
    color: #107810;
}

table.standard.ex td.bold
{
    font-weight: bold;
}