html
{
    margin: 20px;
}

body
{
    text-align: center;
    font-size: 13px;
    background-color: #EFEFEF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1
{
    font-weight: 600;
}

.logo > img
{
    width: 96px;
}

.info
{
    overflow: hidden;
    height: 200px;
}

.wrapper
{
    display: grid;
    grid-template-rows: 200px 200px;
    transition: margin-top 1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.info.complete .wrapper
{
    margin-top: -200px;
}

.message
{
    align-self: center;
    transition: opacity 1s;
}

.info:not(.complete) #completeMessage
{
    opacity: 0;
}

.info.complete #pendingMessage
{
    opacity: 0;
}
