<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr_FR" xml:lang="fr_FR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pro forma validée - <%customer.name> - <%customer.code></title>
<style>
body
{
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 10pt;
}
table.signature
{
    font-size: 9pt;
}
table.signature td.logo
{
    padding-right: 15px;
}
p.user
{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.label
{
    font-weight: bold;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.address
{
    font-size: 7pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

table.customerInfos
{
    padding: 0px;
    margin: 5px 0 35px 0;
}

table.customerInfos td
{
    vertical-align: top;
    padding: 0px;
}

table.customerInfos td.label:first-letter
{
    font-weight: bold;
}

table.customerInfos td.content
{
    padding-left: 5px;
    font-weight: bold;
}

span.documentCode,
span.proformaAmount
{
    font-weight: bold;
}
ul.customerInfos
{
    margin-bottom: 50px;
}

</style>
</head>

<body>
<p>Bonjour,</p>
<p>La <%proforma.type> (ligne <%proforma.indexLine> de l'onglet pro forma) sur le contrat <a href="<%document.url>"><span class="documentCode"><%document.code></span></a> d'un montant de <span class="proformaAmount"><%cur:proforma.amount|2|€|fr_FR></span> vient d'être modifiée par le service comptabilité. 
Elle est maintenant :
<ul>
    <%mod:Justifiée|justification>
    <%mod:Validée par agence|validation>
    <%mod:Totalement encaissée|encashment>
</ul>
<p>Le contrat <a href="<%document.url>"><span class="documentCode"><%document.code></span></a> est débloqué.</p>

<ul class="customerInfos">
    <li>Code client : <%customer.code></li>
    <li>Raison sociale : <%customer.name></li>
    <li>Type de machine : <%machine.model></li>
    <li>N° de parc : <%machine.park></li>
    <li>Date de début de location : <%dte:date.begin|10|fr_FR></li>
    <li>Date de fin de location : <%dte:date.end|10|fr_FR></li>
    <li>Chantier : <%site.address></li>
</ul>


<table class="signature">
<tr>
<td class="logo"><img src="cid:logo-ai-email.png" /></td>
<td>
<p class="user"><%user.firstName> <%user.name></p>
<p class="agency label">Acces industrie <%agency.label></p>
<p class="agency address">
<%agency.address><br />
<%agency.postalCode> <%agency.city><br />
Tél. <%agency.telephone><br />
Fax <%agency.fax>
</p>
</td>
</tr>
</table>
</body>

</html>