<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr_FR" xml:lang="fr_FR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%title></title>
<style>
body
{
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 10pt;
}
table.signature
{
    font-size: 9pt;
}
table.signature td.logo
{
    padding-right: 15px;
}
p.user
{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.label
{
    font-weight: bold;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.address
{
    font-size: 7pt;
    margin-top: 0px;
    margin-bottom: 0px;
}
</style>
</head>

<body>
<%message>

<table class="signature">
<tr>
<td class="logo"><img src="cid:logo-marocelevation.png" /></td>
<td>
<p class="user"><%user.firstName> <%user.name></p>
<p class="agency label">Maroc Elévation <%agency.label></p>
<p class="agency address">
<%agency.address><br />
<%agency.postalCode> <%agency.city><br />
Tél. <%agency.telephone><br />
Fax <%agency.fax>
</p>
</td>
</tr>
</table>
</body>

</html>