<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr_FR" xml:lang="fr_FR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Le prospect <%customer.name> devient client</title>
<style>
body
{
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 10pt;
}
table.signature
{
    font-size: 9pt;
}
table.signature td.logo
{
    padding-right: 15px;
}
p.user
{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.label
{
    font-weight: bold;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.address
{
    font-size: 7pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

table.customerInfos
{
    padding: 0px;
    margin: 5px 0 35px 0;
}

table.customerInfos td
{
    vertical-align: top;
    padding: 0px;
}

table.customerInfos td.label:first-letter
{
    font-weight: bold;
}

table.customerInfos td.content
{
    padding-left: 5px;
    font-weight: bold;
}

span.customerLabel,
span.contractCode,
span.contractBeginDate
{
    font-weight: bold;
}

</style>
</head>

<body>

<p>Le prospect <span class="customerLabel"><%customer.name></span> devient client pour le contrat <span class="contractCode"><%contract.code></span> qui débute le <span class="contractBeginDate"><%contract.beginDate></span>.</p>
<table cellspacing="0" cellpadding="0" class="customerInfos">
<tr>
    <td class="label">Siret:</td><td class="content statCode"><%customer.statCode></td>
</tr>
<tr>
    <td class="label" rowspan="3">Adresse:</td><td class="content address"><%customer.address1></td>
</tr>
<tr>
    <td class="content address"><%customer.address2></td>
</tr>
<tr>
    <td class="content address"><%customer.address3></td>
</tr>
<tr>
    <td class="label">Téléphone:</td><td class="content telephone"><%customer.telephone></td>
</tr>
<tr>
    <td class="label">Fax:</td><td class="content fax"><%customer.fax></td>
</tr>
</table>


<table class="signature">
<tr>
<td class="logo"><img src="cid:logo-accesindustrie.png" /></td>
<td>
<p class="user"><%user.firstName> <%user.name></p>
<p class="agency label">Acces industrie <%agency.label></p>
<p class="agency address">
<%agency.address><br />
<%agency.postalCode> <%agency.city><br />
Tél. <%agency.telephone><br />
Fax <%agency.fax>
</p>
</td>
</tr>
</table>
</body>

</html>