<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr_FR" xml:lang="fr_FR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%slf:Transfert inter-chantiers|0><%slf:Reprise sur chantier|1> de la machine <%model.label> nº <%machine.parkNumber></title>
<style>
body
{
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 10pt;
}
table.signature
{
    font-size: 9pt;
}

table.signature td.logo
{
    padding-right: 15px;
}
p.user
{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.label
{
    font-weight: bold;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.address
{
    font-size: 7pt;
    margin-top: 0px;
    margin-bottom: 0px;
}
span.parkNumber
{
    font-weight: bold;
}

li
{
    margin-bottom: 8px;
}

</style>
</head>
<body>
<p>Bonjour,</p>
<p><%slf:Le transfert inter-chantiers|0><%slf:La reprise sur chantier|1> de la machine <a href="<%machine.url>"><span class="parkNumber"><%machine.parkNumber></span></a>
a été créé<%slf:e|1>.

<ul>
    <li>Numéro de parc : <a href="<%machine.url>"><%machine.parkNumber></a></li>
    <li>Modèle de machines : <%model.label></li>
    <li>Contrat de provenance :<br />
        – Numéro : <a href="<%from.contract.url>"><%from.contract.code></a><br />
        – Client : <a href="<%from.customer.url>"><%from.customer.name></a><br />
        – Chantier : <%from.site.address><br />
        – Date de fin : <%dte:from.endDate|10|fr_FR><br />
        - Durée (jours ouvrés): <%from.duration>
    </li>
    <li>Contrat de destination :<br />
        – Numéro : <a href="<%to.contract.url>"><%to.contract.code></a><br />
        – Client : <a href="<%to.customer.url>"><%to.customer.name></a><br />
        – Chantier : <%to.site.address><br />
        – Date de début : <%dte:to.beginDate|10|fr_FR><br />
        - Durée (jours ouvrés) : <%to.duration>
    </li>
</ul>

<table class="signature">
<tr>
<td class="logo"><img src="cid:logo-accesindustrie.png" /></td>
<td>
<p class="user"><%user.firstName> <%user.name></p>
<p class="agency label">Acces industrie <%agency.label></p>
<p class="agency address">
<%agency.address><br />
<%agency.postalCode> <%agency.city><br />
Tél. <%agency.telephone><br />
Fax <%agency.fax>
</p>
</td>
</tr>
</table>
</body>

</html>