div.noResult
{
    margin-top: 16px;
}

table.standard
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

table.standard > thead > tr > th.parkNumber
{
    width: 100px;
}

table.standard > tbody > tr
{
    height: 24px;
}

table.standard > tbody > tr > td
{
    line-height: 24px;
}

table.standard > tbody > tr > td.parkNumber
{
    text-align: center;
}

table.standard > tbody > tr > td.fuelEstimate > span > input
{
    vertical-align: middle;
}
