fieldset.form > legend
{
    background: url("../../../img/helpdesk/common/form.png") no-repeat 2px 0;
    padding-left: 22px;
}

fieldset.solution
{
    margin: 5px;
    display: inline-block;
}

fieldset.solution td
{
    white-space: nowrap;
}

fieldset.solution tr.error > td
{
    color: red;
    font-weight: bold;
    font-size: 12px;
}

fieldset.solution tr.error > td.label:first-letter
{
    color: red;
}

fieldset.solution tr > td.desc
{
    font-size: 10px;
    font-style: italic;
}

fieldset.solution tr.contractCode > td.content
{
    font-weight: bold;
}

div.locMessage
{
    margin-top: 10px;
}
