a.locCtrlButton:not(:hover) > img
{
    opacity: 0.75;
}

.info
{
    font-style: italic;
    color: #666666;
    padding-bottom: 6px !important;
}

.heading
{
    font-weight: bold;
}

.right
{
    text-align: right;
}