@CHARSET "ISO-8859-1";

div.checkpointDisabled
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    z-index: 1;

    background: #fcf3f7 url("../../img/error.png") no-repeat center center;
    opacity: 0.70;
    display: block
}

input#fixCost, input#repairCost
{
    width: 50px;
}