#locStandardCtrls .title
{
    color: grey;
    font-style: italic;
    margin-right: 10px;
}
#locStandardCtrls .label
{
    font-weight: bold;
    margin-right: 10px;
}

#searchButton
{
    vertical-align: middle;
}



#clearButton
{
    margin-left: 4px;
}
table.standard td
{
    vertical-align: middle;
}

h1.searchResult
{
    color: #007AC2;
    font-size: 8pt;
    background-image: url("../../img/searchResults.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
}

.noResult
{
    font-style: italic;
    padding-left: 20px;
    background-image: url("../../img/iconWarning.gif");
    background-repeat: no-repeat;    
    font-size : 1.4em;    
}

#searchResults p.info
{
    font-style: italic;
    padding-left: 20px;
}


h1.searchResult
{
    color: #007AC2;
    font-size: 8pt;
    background-image: url("../../img/searchResults.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
}

table.standard.ex
{
    width: 100%;
}
table.standard.ex tr
{
    cursor: pointer;
}


.spinInput
{
    width: 25px;
}

fieldset#customer,
fieldset#site
{
    height: 110px;
}

#infosCtn,
#totalCtn,
#photosCtn
{
    padding-top: 10px;
}

#totalCtn
{
    float: right;
    margin-left: 10px;
}

#photosCtn
{
    margin-bottom: 1.5em;
}

fieldset#infos,
fieldset#total,
fieldset#photos
{
    min-height: 120px;
    margin-top: 0px;
}

table#infoTableEstimate tr
{
    height: 25px;
}
span#proformaGeneratedEstimate
{
    background: transparent url("../../img/repair/sheet/generateOver.png") no-repeat left 0; 
    display: inline-block;
    line-height: 16px;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 20px;
    margin-left: 8px;
}



#photosContainer > a.photo
{
    display: inline-block;
    margin: 4px;
    padding: 2px;
    opacity: 0.8;
    position: relative;
}

#photosContainer > a.photo:hover
{
    opacity: 1;
}

#photosContainer > a.photo > img
{
    border: 2px solid #007AC2;
    border-radius: 4px;
}

#photosContainer > a.photo > div.cb
{
    position: absolute;
    right: -3px;
    bottom: -3px;
}

#photosContainer > div.actions
{
    display: block;
    margin: 8px 6px;
}

.uninvoiced
{
    text-decoration: line-through;
}

.discount
{
    width: 4.5em;
}

#header hr
{
    width: auto;
}

#header table.formTable > tbody > tr
{
    vertical-align: baseline;
}

.sheetCommentLabel
{
    font-style: italic;
    font-size: 0.85em;
    margin-right: 0.5em;
}


#total tr.total td.amount
{
    padding: 1px 1px 0 0;
    min-width: 100px;
}

#total tr.total td.amount > div
{
    background: url("../../img/repair/estimate/totalBg.png") repeat-x scroll left top #357295;
    border: 1px solid #357295;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    padding: 1px 5px;
}

[id^=tdLineWarning_],
#total > tbody > tr > td.warning
{
    width: 16px;
}

#tableLine > tbody > tr > td > span.warning,
#total > tbody > tr > td.warning > span.warning
{
    display: none;
    width: 16px;
    height: 16px;
    background-image: url("../../img/iconWarning.gif");
}


#tableLine > tbody > tr > td.warning > span.warning,
#total > tbody > tr > td.warning.on > span.warning
{
    display: inline-block;
    vertical-align: middle;
}


#tableService > tbody > tr.removed > td,
#tableService > tbody > tr.removed > td select,
#tableService > tbody > tr.removed > td input
{
    text-decoration: line-through;
}
#tableService > tbody > tr.removed > td[id^=tdServiceRemBtn_] > a
{
    visibility: hidden;
}