span.label
{
    font-weight: bold;
}

span.label[type='right']
{
    margin-left: 10px;
}

.locControlPanel span
{
    margin-right: 10px;
}

input.displayText, input.displayText:hover, input.displayText:focus
{
    border: none;
    background: none;
    cursor: default;
}

textarea.readonlyComments
{
    color: #4a4a4a !important;
    opacity: 1 !important;
    border: 1px solid #95a3ac !important;
    background: #f8f8f8 !important;
}

a.deleteServiceLine
{
    background: transparent url("../../img/remove.png") no-repeat right center;
    width: 16px;
    height: 16px;
    display: inline-block;
}

a.deleteServiceLine:hover
{
    background-image: url("../../img/removeOver.png");
}

#imagesContainer > div
{
    display: inline-block;
    margin: 4px;
    padding: 2px;
    position: relative;
    opacity: 0.8;
    filter:alpha(opacity=80);
    cursor: default;
}

#imagesContainer > div:hover
{
    opacity: 1;
    filter:none;
    cursor: pointer;
}

#imagesContainer > div > img.image
{
    border: 2px solid #007AC2;
    border-radius: 4px;
}

#imagesContainer > div > a
{
    background: transparent url(../../img/repair/sheet/removeImg.png);
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: -6px;
    top: -6px;
}

#imagesContainer > div > a:hover
{
    background-image: url(../../img/repair/sheet/removeImg.png);
    background-position: 0 -16px;
}

#imagesContainer > div.deleted
{
    opacity: 0.2;
    filter:alpha(opacity=20);
    cursor: default;
   
}

#imagesContainer > div.deleted > a
{
    display: none;
}

#imagesContainer > div > input[type=checkbox]
{
    width: 16px;
    height: 16px;
    position: absolute;
    right: -6px;
    bottom: -6px;
}


#locStandardCtrls .title
{
    color: grey;
    font-style: italic;
    margin-right: 10px;
}
#locStandardCtrls .label
{
    font-weight: bold;
    margin-right: 10px;
}


#searchButton
{
    vertical-align: middle;
}


#clearButton
{
    margin-left: 4px;
}


#tableService
{
    width: 100%;
}

#tableService > tbody > tr.removed > td,
#tableService > tbody > tr.removed > td select,
#tableService > tbody > tr.removed > td input
{
    text-decoration: line-through;
}
#tableService > tbody > tr > td select
{
    width: 260px;
}
#tableService > tbody > tr > td .tooltipIcon.hidden
{
    display: none;
}

#tableReferences.error
{
    border-color: red;
}

table.tableCheckPoints
{
    width: 100%;
}

table.tableCheckPoints > thead > tr > th.chg,
table.tableCheckPoints > thead > tr > th.type
{
    width: 240px;
}

table.tableCheckPoints > thead > tr > th.amount
{
    width: 80px;
    text-align: right;
}
table.tableCheckPoints > thead > tr > th.controls,
table.tableCheckPoints > thead > tr > th.ctrls
{
    width: 16px;
}
table.tableCheckPoints > tbody> tr > td.chg > span.loader
{
    display: none;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-left: 5px;
    background: url(../../img/loading.gif) no-repeat;
}

table.tableCheckPoints > tbody > tr > td.amount
{
    border-left : 1px solid rgb(204, 228, 242); 
    text-align : right;
}

table.tableCheckPoints > tbody > tr:hover > td,
#oldCheckpoints > tbody > tr:hover > td
{
    background-color: #FCF2CC;
}

table.tableCheckPoints > tbody > tr.removed > td.label,
table.tableCheckPoints > tbody > tr.removed > td.type,
table.tableCheckPoints > tbody > tr.removed > td.amount,
table.tableCheckPoints > tbody > tr.removed > td input
{
    text-decoration: line-through;
}

table.tableCheckPoints > tbody > tr > td.chg > input
{
    margin-left: 5px;
}

#oldCheckpoints
{
    margin-bottom: 10px;
}

#oldCheckpoints > thead > tr > th
{
    background: #d8e1e8;
    border-bottom: 1px solid #b3d7ed;
}
#oldCheckpoints > tbody > tr > td
{
    background: #e9eef1;
}

#oldCheckpoints > tbody > tr > td.type
{
    font-style: italic;
}


.tableCheckPoints  tr > td.ctrls > a,
.tableCheckPoints  tr > td.ctrls > a
{
    background: transparent url("../../img/repair/sheet/ctrls.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    opacity: 0.70;
    margin-right: 4px;
    display: inline-block;
}

.tableCheckPoints  tr > td.ctrls > a:hover
{
    opacity: 1;
}

.tableCheckPoints  tr > td.ctrls > a.remove
{
    background-position: 0 -16px;
}

.tableCheckPoints  tr > td.ctrls > a.add
{
    background-position: 0 -48px;
}

.tableCheckPoints  tr.removed > td.ctrls > a
{
    display: none;
}

.spinInput
{
    width: 25px;
}

.costInput
{
    width: 40px;
}

.labelReference
{
    width: 70%;
}

.referenceCode
{
    width: 155px;
}

.disabledDiv
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #fcf3f7 url("../../img/error.png") no-repeat center center;
    opacity: 0.70;
    display: block;
}

#error
{
    font-weight: bold;
    color: red;
}

div.buttonZip
{
    display: block;
    text-align: right;
    padding: 8px 8px 0 0;
}

table.searchResults
{
    width: 100%;
}
table.searchResults > tbody > tr
{
    cursor: pointer;
}

#abortComment
{
    width: 200px;
    height: 86px;
}

#proformaGenerated > td > span
{
    background: transparent url("../../img/repair/sheet/generateOver.png") no-repeat left; 
    display: block;
    line-height: 16px;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 20px;
}

.dynamicSearch > .container
{
    max-width: none;
}

.dynamicSearch > .container > ul > li > span
{
    display: block;
    font-size: 7pt;
}
