#rentCustomerFieldset legend
{
    background-image:  url("../../../img/rent/helper/customer/icons.png");
    background-repeat: no-repeat;
    background-position: 2px -1px;
    padding-left: 22px;
    height: 16px;
}

#rentOrderFieldset legend
{
    background-image:  url("../../../img/rent/helper/customer/icons.png");
    background-repeat: no-repeat;
    background-position: 2px -1px;
    padding-left: 22px;
    height: 16px;
}

#rentCustomerBlock
{
    position: relative;
}

#rentCustomerBlock > div.loadingMask
{
    z-index: 2;
}

#rentCustomerBlock.loading > div.loadingMask
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background: #f2f9fc url("../../../img/loading3.gif") no-repeat center center;
    opacity: 0.70;
    filter: alpha(opacity=70);
}

#rentCustomerBlock.error > div.loadingMask
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background: #fcf3f7 url("../../../img/error.png") no-repeat center center;
    opacity: 0.70;
    filter: alpha(opacity=70);
}

#rentCustomerBlock.loading #rentCustomerControls
{
    visibility: hidden;
}

#rentCustomerControls
{
    position: absolute;
    right: 4px;
    top: 2px;
    z-index: 10;
}

#rentCustomerFlags > span
{
    display: none;
    background-image:  url("../../../img/rent/helper/customer/icons.png");
    background-repeat: no-repeat;
    margin-right: 10px;
    padding-left: 20px;
    height: 16px;
}

#rentCustomerFlags span.none
{
    display: inline-block;
    background-position: left -37px;
}

#rentCustomerFlags[class] span.none
{
    display: none;
}

#rentCustomerFlags.electric span.electric
{
    display: inline-block;
    background-position: left -55px;
}

#rentCustomerFlags.tempGrid span.tempGrid
{
    display: inline-block;
    background-position: left -73px;
}


#customerUnderSurveillance
{
    color : red;
    font-weight:bold;
    margin-right: 5px
}

#customerHasAreaExemption
{
    display: none;
    width: 16px;
    height: 16px;
    background: url('../../../img/rent/helper/customer/ic_customer_areaExemption_16px.svg') no-repeat;
}
#customerHasAreaExemption.active
{
    display: inline-block;
}

.customerDisplayBlock,
#customerLockedLevel0, #customerLockedLevel1, #customerLockedLevel2, #customerLockedLevel3, #customerLockedLevel4
{
    display: inline-block;
}
#customerLockedLevel0, #customerLockedLevel1, #customerLockedLevel2, #customerLockedLevel3, #customerLockedLevel4
{
    width: 280px;
}

.customerDisplayBlock .hidden,
#customer\.insurance .hidden,
#customerLockedLevel0.hidden, #customerLockedLevel1.hidden, #customerLockedLevel2.hidden, #customerLockedLevel3.hidden, #customerLockedLevel4.hidden
{
    display: none;
}

#customer\.id
{
    max-width: 340px;
}

#customer\.code,
#customer\.code
{
    margin-right: 10px;
}
#customer\.code.visible,
#customer\.code\.none.visible
{
    display: inline-block;
}
#customer\.code.hidden,
#customer\.code\.none.hidden
{
    display: none;
}

#customer\.accountOpening
{
    color: red;
    background-image:  url("../../../img/rent/helper/customer/icons.png");
    background-repeat: no-repeat;
    background-position: left -19px;
    margin-right: 10px;
    padding-left: 20px;
    height: 16px;
    display: inline-block;
}
#customer\.accountOpening.visible
{
    display: inline-block;
}
#customer\.accountOpening.hidden
{
    display: none;
}

#customer\.email\.send.hidden
{
    visibility: hidden;
}

#customer\.refreshBtn
{
    margin-left: 15px;
    display: none;
}

#customer\.appCRMBtn
{
    margin-left: 10px;
    display: none;
}

#customer\.historyBtn
{
    margin-left: 10px;
    display: none;
}

#customer\.unlockingTempPopupBtn
{
    margin-left: 10px;
    display: none;
}

#customer\.newBtn
{
    display: none;
}


div.customerHlp_popup
{
    display: inline-block;
    margin-top: 8px !important;
}

div.customerHlp_popup > fieldset
{
    margin: 12px 32px 16px 12px;
    text-align: left;
}

div.customerHlp_popup > fieldset > table tr.comment textarea
{
    width: 300px !important;
    height: 100px !important;
}

#orderContact\.email\.send.hidden
{
    visibility: hidden;
}
