#documentsHlp_container
{
    position: relative;
}
#documentsHlp_container > fieldset
{
    float: left;
}

#documentsHlp_container > fieldset.list
{
    position: relative;
    min-width: 650px;
}

#documentsHlp_container > fieldset.add-list
{
    margin-left: 20px;
    min-width: 350px;
    display: none;
}

#documentsHlp_container > fieldset.add-list.active
{
    display: block;
}

.documentsHlp_list
{
    width: 100%;
    margin-bottom: 4px;
    margin-top: 5px;
}

#documentsHlp_viewEstimateLineBtn
{
    position: relative;
    z-index: 1;
    margin-left: 10px;
}

.legendBtn
{
    position: absolute;
    width: 100%;
    top: -0.3em;
    text-align: right;
    right: 6px;
}
.legendBtn > div
{
    position: relative;
    display: inline-block;
    padding: 0 2px;
    background-color: white;
}
.legendBtn > div + div
{
    margin-left: 20px;
}

#documentsHlp_warning-maxMailAttachmentsSize
{
    display: none;
}
#documentsHlp_warning-maxMailAttachmentsSize.active
{
    display: block;
}

#documentsHlp_mailBtn.error > img,
#documentsHlp_mailBtn.loading > img
{
    display: none;
}

#documentsHlp_mailBtn.loading:before,
#documentsHlp_mailBtn.error:before
{
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

#documentsHlp_mailBtn.loading:before
{
    background-image: url(../../../img/loading.gif);
}

#documentsHlp_mailBtn.error:before
{
    background-image: url(../../../img/iconWarning.gif);
}

/* Pas de documents */
.documentsHlp_list > tfoot.no-document
{
    display: none;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}
.documentsHlp_list.noResult > tfoot.no-document
{
    display: table-footer-group;
}

/* plus de documents */
.documentsHlp_list > tbody.more
{
    display: none;
}
.documentsHlp_list > tbody.more > tr
{
    background-color: rgba(0, 122, 194, 0.1);
    color: rgba(0, 122, 194, 1);
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    cursor: pointer;
    height: 24px;
}
.documentsHlp_list.moreResult > tbody.more
{
    display: table-row-group;
}

/* Colonnes */
.documentsHlp_list > tbody > tr
{
    height: 30px;
}

.documentsHlp_list > tbody > tr.isExtern > td
{
    background-color: #f6f6fb;
    font-style: italic;
}

.documentsHlp_list > tbody > tr.updated > td
{
    color: #007ac2;
    background-color: #dfeef8;
}

.documentsHlp_list > tbody > tr.downloading > td
{
    background-color: #dfeef8;
}

.documentsHlp_list > tbody > tr.updated.action_remove > td
{
    text-decoration: line-through;
    color: #e11a13;
    background-color: #fadadb;
}

.documentsHlp_list > tbody > tr.notAttached > td
{
    text-decoration: line-through;
    color: #797979;
    background-color: #f6f6fb;
}
.documentsHlp_list > tbody > tr.notAttached > td > *
{
    text-decoration: inherit;
}

.documentsHlp_list > tbody > tr > td.icon > div
{
    background: transparent url("../../../img/rent/helper/documents/controls.png") no-repeat -16px -32px;
    width: 16px;
    height: 16px;
}

.documentsHlp_list > tbody > tr > td.id
{
    font-size: 9px;
    width: auto;
    max-width: 45px;
}
.documentsHlp_list > tbody > tr > td.type
{
    width: 30px;
    padding: 5px 0;
    text-align: center;
}

.documentsHlp_list > tbody > tr > td.type > span.machineInventory
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url("../../../img/rent/helper/documents/machineInventory.png") no-repeat;
}

#documentsHlp_fileExtension
{
    display: none;
}

.documentsHlp_list > thead > tr > td.size
{
    text-align: right;
}
.documentsHlp_list > tbody > tr > td.size
{
    width: 50px;
    color: #888;
    font-size: smaller;
    white-space: nowrap;
    text-align: right;
}

.documentsHlp_list > tbody > tr > td.title
{
    width: 350px;
}

.documentsHlp_list > tbody > tr > td.title > a
{
    display: inline-block;
    color: inherit;
}

.documentsHlp_list > tbody > tr > td.title span
{
    display: block;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.documentsHlp_list > tbody > tr > td.title span.fileName
{
    color: #8e8e8e;
    font-size: smaller;
}

.documentsHlp_list > tbody > tr > td.origin
{
    text-align: right;
    min-width: 24px;
    width: 24px;
}

.documentsHlp_list > tbody > tr > td.ctrls
{
    text-align: right;
    min-width: 70px;
    width: 70px;
}

.documentsHlp_list > tbody > tr > td.ctrls > a
{
    background: transparent url("../../../img/rent/helper/documents/controls.png") no-repeat -48px 0;
    width: 16px;
    height: 16px;
    opacity: 0.70;
    margin-right: 4px;
    display: inline-block;
}
.documentsHlp_list > tbody > tr > td.ctrls > span
{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
}

.documentsHlp_list > tbody > tr.downloading > td.ctrls > a
{
    display: none;
}

.documentsHlp_list > tbody > tr > td.ctrls > a:hover
{
    opacity: 1;
}

.documentsHlp_list > tbody.list > tr > td.ctrls > a.download
{
    background-position: 0 -96px
}

.documentsHlp_list > tbody.list > tr > td.ctrls > a.edit
{
    background-position: 0 -48px;
}

.documentsHlp_list > tbody.list > tr > td.ctrls > a.delete
{
    background-position: 0 -112px;
}

.documentsHlp_list > tbody.list > tr > td.ctrls > a.remove
{
    background-position: 0 -32px;
}

.documentsHlp_list > tbody.list > tr > td.ctrls > a.undo
{
    background-position: 0 -64px;
}

.documentsHlp_list > tbody.list > tr > td.ctrls > a.view
{
    background-position: 0 -80px;
}

.documentsHlp_list > tbody > tr.downloading > td.ctrls::after
{
    content: url("../../../img/loading2.gif");
}

.documentsHlp_list > tbody > tr > td.editCtrls
{
    text-align: right;
}


/* Spécificités : Tableau des ajouts en cours */
#documentsHlp_list-add > tbody > tr > td
{
    color: #107810;
    background-color: #deefde;
}
#documentsHlp_list-add > tbody > tr.error > td
{
    color: #d03625;
    background-color: #fdc4c4;
}

#documentsHlp_list-add > tbody > tr > td.title > span.fileName
{
    color: rgba(16, 120, 16, 0.7);
    font-size: smaller;
}

#documentsHlp_list-add > tbody > tr > td.icon,
#documentsHlp_list-add > tbody > tr > td.ctrls
{
    width: 16px;
}
#documentsHlp_list-add > tbody > tr > td.progress
{
    text-align: center;
}

#documentsHlp_list-add > tbody > tr > td.progress > progress
{
    width: 100%;
}

#documentsHlp_list-add > tbody > tr > td.progress > span
{
    font-size: 7pt;
    font-style: italic;
}

#documentsHlp_list-add > tbody > tr > td.ctrls > a
{
    display: inline-block;
    background-position: 0 -32px;
}
#documentsHlp_list-add > tbody > tr > td.ctrls
{
    min-width: initial;
}
#documentsHlp_list-add > tbody > tr > td.title
{
    width: 190px;
    max-width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.documentsHlp_popup.readonly > fieldset.content > legend,
div.documentsHlp_popup.readonly > fieldset.ctrls
{
    display: none;
}

/* Drag and drop */
#documentsHlp_container.drag-and-drop-on *,
#documentsHlp_addPopup.drag-and-drop-on *
{
    pointer-events: none;
}

#documentsHlp_container > .drag-layer,
#documentsHlp_addPopup > .drag-layer,
#documentsHlp_addPopup > .loading-layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    display: none;
    background-color: rgba(102, 175, 218, 0.5);
    text-align: center;
}

#documentsHlp_container > .drag-layer.hoverClass,
#documentsHlp_addPopup > .drag-layer.hoverClass
{
    display: block;
}

#documentsHlp_container > .drag-layer.hoverClass.off
{
    background-color: rgba(228, 188, 114, 0.5);
}


#documentsHlp_container > .drag-layer > p,
#documentsHlp_addPopup > .drag-layer > p
{
    display: none;
    padding: 1.2em;
    margin-top: 50px;
    background-color: #3395ce;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}
#documentsHlp_container > .drag-layer.hoverClass:not(.off) > p.on
{
    display: inline-block;
}

#documentsHlp_container > .drag-layer.hoverClass.off > p.off
{
    background-color: #dc8f15;
    display: inline-block;
}

/* Popup */
div.documentsHlp_popup > fieldset
{
    margin: 12px 32px 0 12px;
    text-align: left;
}

.documentsHlp_popup > fieldset > .formTable input:not([type="checkbox"]),
.documentsHlp_popup > fieldset > .formTable textarea
{
    width: 250px;
}

.documentsHlp_popup > fieldset > .formTable textarea
{
    height: 50px;
}

.documentsHlp_popup > fieldset > .formTable  tr.file .file-button
{
    position: relative;
    display: inline-block;
    width: 26px;
    margin-right: 15px;
}
.documentsHlp_popup > fieldset > .formTable  tr.file .file-button > input[type=file]
{
    display: none;
}
.documentsHlp_popup > fieldset > .formTable  tr.file .file-button a
{
    display: block;
    background-color: #66afda;
    border-radius: 2px;
    padding: 5px;
    width: 26px;
    text-align: center;
}
.documentsHlp_popup > fieldset > .formTable  tr.file .file-button a > img
{
    opacity: 1;
}

#documentsHlp_error-noFile
{
    display: none;
}
#documentsHlp_error-noFile.active
{
    margin-top: 10px;
    margin-left: -6px;
    display: block;
}

#documentsHlp_addFileName
{
    display: inline-block;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#documentsHlp_addPopup.loading > .loading-layer
{
    background: #f2f9fc url("../../../img/loading4.gif") no-repeat center center;
    opacity: 0.40;
    filter: alpha(opacity=40);
    display: block;
}
