#durationHlp_content > div.container
{
    display: flex;
}
#durationHlp_content > div.container > div
{
    flex: 1;
}
#durationHlp_content > div.container > div.hasBadge
{
    margin-top: -5px;
}
#durationHlp_content > div.container > div + div
{
    margin-left: 10px;
}

#durationHlp_content .legendBtn
{
    position: relative;
    top: -2.2em;
}

#durationHlp_content .legendBtn > a,
#durationHlp_content .legendBtn > div
{
    position: absolute;
    right: 0;
    background-color: white;
    padding: 0 2px;
}
#durationHlp_content .legendBtn a + a
{
    margin-left: 15px;
}

/* Bloc période de location */
#durationHlp_content > div.container span.rentalDate
{
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}
#durationHlp_content > div.container span.rentalDate.end:before
{
    content: '';
    padding-left: 16px;
    background: transparent url("../../../img/rent/helper/duration/arrow.png") no-repeat center center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: none;
}

#durationHlp_content > div.container span.rentalDate.end.hasDate:before
{
    display: inherit;
}

#durationHlp_content > div.container div.dateToConfirm
{
    margin-top: 5px;
}

/* Durée totale */
#durationHlp_content > div.container > div.totalDuration div.duration
{
    display: inline-block;
}
#durationHlp_content > div.container > div.totalDuration div.duration + div.duration
{
    margin-left: 10px;
}


#durationHlp_periodValidBtn.loading
{
    padding-right: 22px;
    background: transparent url("../../../img/loading2.gif") no-repeat right center;
}

#durationHlp_theorEndDate
{
    display: block;
    font-size: 9px;
    font-style: italic;
    padding: 0 0 8px 14px;
    background: transparent url("../../../img/rent/helper/duration/info.gif") no-repeat left 1px;
    color: #555555;
}

/* Bloc jours supplémentaires/déduits */
#durationHlp_content > div.container > div.additionalDays table,
#durationHlp_content > div.container > div.deductedDays table
{
    width: 100%;
}
#durationHlp_additionalDaysList > tfoot.no-additionaldays,
#durationHlp_deductedDaysList > tfoot.no-deducteddays
{
    display: none;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}
#durationHlp_additionalDaysList.noResult > tfoot.no-additionaldays,
#durationHlp_deductedDaysList.noResult > tfoot.no-deducteddays
{
    display: table-footer-group;
}
#durationHlp_content table.days-list > tbody > tr
{
    height: 18px;
}
/* plus de jours */
#durationHlp_additionalDaysList > tbody.more,
#durationHlp_deductedDaysList > tbody.more
{
    display: none;
}
#durationHlp_additionalDaysList.moreResult > tbody.more > tr,
#durationHlp_deductedDaysList.moreResult > tbody.more > tr
{
    background-color: rgba(0, 122, 194, 0.1);
    color: rgba(0, 122, 194, 1);
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    cursor: pointer;
    height: 24px;
}
#durationHlp_additionalDaysList.moreResult > tbody.more,
#durationHlp_deductedDaysList.moreResult > tbody.more
{
    display: table-row-group;
}

#durationHlp_content table.days-list > thead > tr > th.date,
.durationHlp_popup.externalDays table > thead > tr > th.date
{
    width: 110px;
}
#durationHlp_content table.days-list > thead > tr > th.invoiceDuration,
.durationHlp_popup.externalDays table > thead > tr > th.invoiceDuration
{
    width: 20px;
}

#durationHlp_content table.days-list > tbody > tr > td.date
{
    font-weight: bold;
    white-space: nowrap;
}

#durationHlp_content table.days-list > tbody > tr.toComplete
{
    font-style: italic;
}
#durationHlp_content table.days-list > tbody > tr.toComplete:not(.invoiced)
{
    color: #880E4F;
    background-color: #FCE4EC;
}
#durationHlp_content table.days-list > tbody > tr.nonInvoiceable
{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}
#durationHlp_content table.days-list > tbody > tr.invoiced
{
    color: #455A64;
    background-color: #ECEFF1;
}
#durationHlp_content table.days-list > tbody > tr.invoiced.toComplete > td
{
    font-weight: normal;
}
#durationHlp_content table.days-list > tbody > tr.updated > td
{
    color: #007ac2;
    background-color: #dfeef8;
}
#durationHlp_content table.days-list > tbody > tr.updated.action-add > td
{
    color: #107810;
    background-color: #deefde;
}
#durationHlp_content table.days-list > tbody > tr.updated.action-remove > td
{
    text-decoration: line-through;
    color: #e11a13;
    background-color: #fadadb;
}
#durationHlp_content table.days-list > tbody > tr.updated.action-setInvoiceable
{
    text-decoration: inherit;
}
#durationHlp_content table.days-list > tbody > tr.updated.action-setNonInvoiceable
{
    text-decoration: line-through;
}

.durationHlp_popup.externalDays table > tbody > tr.contract
{
    background-color: rgba(0, 122, 194, 0.1);
    color: rgba(0, 122, 194, 1);
    font-weight: bold;
    height: 18px;
    line-height: 18px;
}

.durationHlp_popup.externalDays table > tbody > tr.contract a
{
    color: inherit;
}

.durationHlp_popup.externalDays table > tbody > tr.contract > td
{
    font-size: 7pt;
}

#durationHlp_content table.days-list > tbody > tr > td.invoiceDuration > span,
.durationHlp_popup.externalDays table > tbody > tr > td.invoiceDuration > span,
#durationHlp_content table.days-list > tbody > tr > td.date > span,
.durationHlp_popup.externalDays table > tbody > tr > td.date > span
{
    display: inline-block;
    color: white;
    margin-left: 0.5em;
    border-radius: 1px;
    height: 1.2em;
    text-align: center;
    font-weight: normal;
    width: 1.2em;
    background-color: #90A4AE;
    font-size: 0.9em;
}
#durationHlp_content table.days-list > tbody > tr > td.invoiceDuration > span.half::after,
.durationHlp_popup.externalDays table > tbody > tr > td.invoiceDuration > span.half::after,
#durationHlp_content table.days-list > tbody > tr > td.date > span.half::after,
.durationHlp_popup.externalDays table > tbody > tr > td.date > span.half::after
{
    content: '½';
}
#durationHlp_content table.days-list > tbody > tr > td.invoiceDuration > span.double::after,
.durationHlp_popup.externalDays table > tbody > tr > td.invoiceDuration > span.double::after,
#durationHlp_content table.days-list > tbody > tr > td.date > span.double::after,
.durationHlp_popup.externalDays table > tbody > tr > td.date > span.double::after
{
    content: '2';
}

#durationHlp_content table.days-list > thead > tr > th.appliedToContract,
.durationHlp_popup.externalDays table > thead > tr > th.contract,
#durationHlp_content table.days-list > tbody > tr > td.appliedToContract,
.durationHlp_popup.externalDays table > tbody > tr > td.contract,
#durationHlp_content table.days-list > thead > tr > th.comment,
.durationHlp_popup.externalDays table > thead > tr > th.comment,
#durationHlp_content table.days-list > tbody > tr > td.comment,
.durationHlp_popup.externalDays table > tbody > tr > td.comment
{
    width: 16px;
}

.durationHlp_popup.externalDays table > thead > tr > th.status
{
    width: 130px;
}

#durationHlp_content table.days-list > tbody > tr > td.appliedToContract > a
{
    background: transparent url("../../../img/common/rentContract/ic_open_rent_contract_16px.svg") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
}

#durationHlp_content table.days-list > tbody > tr > td.appliedToContract > a:hover,
.durationHlp_popup.externalDays table > tbody > tr > td.contract > a:hover
{
    background-position: -16px 0;
}

#durationHlp_content table.days-list > tbody > tr > td.comment > div,
.durationHlp_popup.externalDays table > tbody > tr > td.comment > div
{
    background: transparent url("../../../img/rent/helper/duration/comment.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
}


#durationHlp_content table.days-list > thead > tr > th.actions,
#durationHlp_content table.days-list > tbody > tr > td.actions
{
    width: 110px;
    text-align: right;
    font-style: italic;
}


#durationHlp_content table.days-list > tbody > tr > td.actions > a
{
    background: transparent url("../../../img/rent/helper/duration/controls.png") no-repeat -48px 0;
    width: 16px;
    height: 16px;
    opacity: 0.70;
    margin-right: 4px;
    display: inline-block;
}
#durationHlp_content table.days-list > tbody > tr > td.actions > span
{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
}

#durationHlp_content table.days-list > tbody > tr > td.actions > a:hover
{
    opacity: 1;
}

#durationHlp_content table.days-list > tbody > tr > td.actions > a.edit
{
    background-position: 0 -48px;
}

#durationHlp_content table.days-list > tbody > tr > td.actions > a.delete
{
    background-position: -16px -80px;
}

#durationHlp_content table.days-list > tbody > tr > td.actions > a.undo
{
    background-position: 0 -64px;
}

#durationHlp_content table.days-list > tbody > tr.action-add > td.actions > a.undo
{
    background-position: 0 -32px;
}

#durationHlp_content table.days-list > tbody > tr > td.actions > a.invoice
{
    background-position: 0 -16px;
}

#durationHlp_content table.days-list > tbody > tr > td.actions > a.uninvoice
{
    background-position: 0 0;
}

/* Popup d'ajout/modif de j+/- */
div.durationHlp_popup > fieldset
{
    margin: 12px 32px 0 12px;
    text-align: left;
}

.durationHlp_popup > fieldset > .formTable .date
{
    vertical-align: top;
}
.durationHlp_popup > fieldset > .formTable textarea
{
    width: 250px;
}

.durationHlp_popup > fieldset > .formTable textarea
{
    height: 50px;
}


.durationHlp_popup > fieldset > legend > span
{
    display: none;
}
.durationHlp_popup.type-A > fieldset > legend > span.legend-A,
.durationHlp_popup.type-D > fieldset > legend > span.legend-D,
.durationHlp_popup.opt-appliedToContract > fieldset > legend > span.legend-appliedToContract
{
    display: inline;
}

#durationHlp_addPeriodInfos, #durationHlp_editPeriodInfos
{
    visibility: hidden;
}
#durationHlp_addPeriodInfos.active, #durationHlp_editPeriodInfos.active
{
    visibility: visible;
}

#durationHlp_addPopup > .loading-layer,
#durationHlp_editPopup > .loading-layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    display: none;
    background-color: rgba(102, 175, 218, 0.5);
    text-align: center;
}

#durationHlp_addPopup.loading > .loading-layer,
#durationHlp_editPopup.loading > .loading-layer
{
    background: #f2f9fc url("../../../img/loading4.gif") no-repeat center center;
    opacity: 0.40;
    filter: alpha(opacity=40);
    display: block;
}

.durationHlp_popup > fieldset > table > tbody > tr.appliedToContract,
.durationHlp_popup > fieldset > table > tbody > tr.noninvoiceable.hidden
{
    display: none;
}

.durationHlp_popup > fieldset > table > tbody > tr.appliedToContract.active
{
    display: table-row;
}

.durationHlp_popupErrors {
    margin-top: 10px;
}

.durationHlp_popupErrors > span
{
    display: none;
    margin-left: -5px;
}
.durationHlp_popupErrors > span.active
{
    display: block;
}

#durationHlp_deducDaysComment,
#durationHlp_addDaysComment
{
    min-width: 325px;
    width: 100%;
    height: 60px;
}

div#durationHlp_period
{
    display: inline-block;
    margin-top: 8px !important;
}

div#durationHlp_period > fieldset
{
    margin: 12px 32px 16px 12px;
    text-align: left;
}

div#durationHlp_period > fieldset > table
{
    margin: 4px 0 8px 0;
}

div#durationHlp_period > fieldset > table td.ctrls
{
    width: 20px;
    padding: 0;
    vertical-align: top;
    text-align: left;
}

tr#durationHlp_periodRequiredEndDateRow div.info,
tr#durationHlp_periodRequiredBeginDateRow div.info,
.durationHlp_popup table > tbody > tr.date div.info
{
    display: none;
    font-size: 9px;
    font-style: italic;
    padding: 0 0 8px 14px;
    background: transparent url("../../../img/rent/helper/proforma/info.gif") no-repeat left 1px;
    color: #555555;
}

.durationHlp_popup table > tbody > tr.date div.info
{
    display: block;
}
}
div#durationHlp_period > fieldset > table tr.beginDate,
div#durationHlp_period > fieldset > table tr.endDate
{
    vertical-align: text-top;
}

#durationHlp_periodRequiredBeginDateRow,
#durationHlp_periodRequiredEndDateRow
{
    vertical-align: text-top;
}

#durationHlp_periodRequiredEndDateRow > td.content > div
{
    display: none;
}

#durationHlp_periodRequiredRealDuration
{
    width: 32px;
}

#durationHlp_periodRequiredRealDurationBtn
{
    margin: 1px 0 0 2px;
    height: 16px;
    font-size: 9px;
    vertical-align: top;
}

#durationHlp_periodRequiredEndDateRow.dateMode > td.content > div.date
{
    display: block;
}

#durationHlp_periodRequiredEndDateRow.daysMode > td.content > div.days
{
    display: block;
}

#durationHlp_periodRequiredEndDateRow.daysMode > td.content > span
{
    visibility: hidden;
}

#durationHlp_periodRequiredEndDateRow > td.ctrls > a
{
    display: none;
    background: transparent url("../../../img/rent/helper/duration/mode.gif") no-repeat 0 0;
    width: 20px;
    height: 16px;
    margin: 2px 0 0 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#durationHlp_periodRequiredEndDateRow > td.ctrls > a:hover
{
    opacity: 1;
    filter: none;
}

#durationHlp_periodRequiredEndDateRow.dateMode > td.ctrls > a.date
{
    display: block;
}

#durationHlp_periodRequiredEndDateRow.daysMode > td.ctrls > a.days
{
    display: block;
    background-position: -20px 0;
}

#durationHlp_durationChanged
{
    display: none;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background: url('../../../img/rent/rentEstimate/lineIcons.png') no-repeat -54px -36px;
}

/* Affichage de l'alerte tarif de base a changé */
#durationHlp_hasChangedBaseAmount
{
    position: relative;
    border: 1px solid #3a78ab;
    border-left-width: 3px;
    margin: 4px 6px 4px 0px;
    padding: 4px 4px 4px 32px;
    overflow: hidden;
    border-radius: 2px;
    display: none;

    border-color: #c5964a;
    background: #ecab43;
    background-image: -webkit-linear-gradient(bottom, rgb(237,167,55) 38%, rgb(234,181,96) 86%);
    background-image:         linear-gradient(to top, rgb(237,167,55) 38%, rgb(234,181,96) 86%);

    -webkit-transition: opacity 0.4s ease-out;
       -moz-transition: opacity 0.4s ease-out;
         -o-transition: opacity 0.4s ease-out;
            transition: opacity 0.4s ease-out;
}

#durationHlp_hasChangedBaseAmount > div.msg
{
    margin: 0;
    padding: 3px 10px;
    border: 0;
    background: transparent;
    text-shadow: 0 0 1px #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    display: block;
}

#durationHlp_hasChangedBaseAmount > div.icon
{
    position: absolute;
    background: transparent url("../../../img/rent/helper/duration/bg.png") no-repeat 0 0;
    background-position: 0 -24px;
    left: 8px;
    top: 2px;
    width: 24px;
    height: 24px;
}


/** Badges **/
#durationHlp_content .daysBadge
{
    display: inline-block;
    padding: 0 0.25em;
    min-width: 16px;
    line-height: 16px;
    border-radius: 8px;
    border: 1px solid #FFC107;
    background: #FFC107 url(../../../img/rent/helper/duration/badgeBg.png) repeat-x top left;
    color: black;
    text-align: center;
    margin-left: 5px;
    margin-top: 4px;
    font-size: 0.85em;
    text-shadow: none;
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-weight: bold;
}


#durationHlp_content .daysBadge.invoiced
{
    min-width: 28px;
}

#durationHlp_content .daysBadge.invoiced:before
{
    content: '';
    background-image: url('../../../img/coinsOver.png');
    background-repeat: no-repeat;
    background-position: 2px center;
    background-size: 12px 12px;
    padding-left: 16px;
}

#durationHlp_content .daysBadge.add
{
    border-color: #80CBC4;
    background-color: #80CBC4;
}

#durationHlp_content .daysBadge.add.invoiced
{
    border-color: #A5D6A7;
    background-color: #A5D6A7;
    color: #1B5E20;
}

#durationHlp_content .daysBadge.ded
{
    border-color: #CE93D8;
    background-color: #CE93D8;
}

#durationHlp_content .daysBadge.ded.invoiced
{
    border-color: #EF9A9A;
    background-color: #EF9A9A;
    color: #B71C1C;
}


#durationHlp_content .dayComment
{
    display: none;
    margin-left: 10px;
    cursor: pointer;
}
#durationHlp_content .dayComment.active
{
    display: inline-block;
}

/* Jours saisis sur un autre contrat */
#durationHlp_content .durationHlp_viewExternalDays
{
    cursor: pointer;
}

.durationHlp_popup.externalDays table
{
    width: 100%;
}
