
#historyHlp_container
{
    display: block;
    padding: 16px 12px 8px 12px;
}

#historyHlp_list
{
    width: 100%;
    margin: 0;
}

#historyHlp_list > tbody.msgs > tr
{
    display: none;
}
#historyHlp_list.msg > tbody.rows
{
    display: none;
}
#historyHlp_list.msg.noResult > tbody.msgs > tr.noResult
{
    text-align: center;
    display: table-row;
    height: 16px;
}


#historyHlp_list > thead > tr > th.date,
#historyHlp_list > thead > tr > th.user
{
    width: 150px;
}

#historyHlp_list > thead > tr > th.entity
{
    width: 52px;
}

#historyHlp_list > thead > tr > th.event
{
    width: 200px;
}

#historyHlp_list > thead > tr > th.buttons
{
    width: 24px;
}

#historyHlp_list > tbody > tr
{
    height: 15px;
}

#historyHlp_list > tbody > tr > td.date,
#historyHlp_list > tbody > tr > td.user,
#historyHlp_list > tbody > tr > td.entity,
#historyHlp_list > tbody > tr > td.event,
#historyHlp_list > tbody > tr > td.buttons
{
    white-space: nowrap;
}

#historyHlp_list > tbody > tr > td.entity > div
{
    background: transparent url('../../../img/rent/helper/history/entities.png') no-repeat 0 0;
    width: 12px;
    height: 12px;
}

#historyHlp_list > tbody > tr.entity_estimateLine > td.entity > div
{
    background-position: 0 -12px;
}

#historyHlp_list > tbody > tr.entity_contract > td.entity > div
{
    background-position: 0 -24px;
}

#historyHlp_list > tbody > tr > td.buttons
{
    text-align: right;
}

#historyHlp_list > tbody > tr > td.buttons > a.locCtrlButton
{
    display: inline-block;
    width: 12px;
    height: 12px;
}

#historyHlp_list > tbody > tr > td.buttons > a.locCtrlButton.extra
{
    background: transparent url('../../../img/rent/helper/history/properties.png') no-repeat 0 0;
}

#historyHlp_list > tbody > tr > td.buttons > a.locCtrlButton.extra:hover
{
    background-position: 0 -12px;
}


#historyHlp_modal
{
    padding: 20px;
}

#historyHlp_modal > fieldset
{
    text-align: left;
}

#historyHlp_modal > fieldset > legend
{
    margin-bottom: 10px;
}

#historyHlp_modalTable > tbody > tr > td
{
    vertical-align: top;
}

#historyHlp_modalTable > tbody > tr:not(:last-child) > td
{
    padding-bottom: 6px;
}

#historyHlp_modalTable > tbody > tr > td > p:first-child
{
    margin-top: 0;
}

#historyHlp_modalTable > tbody > tr > td > p:last-child
{
    margin-bottom: 0;
}
