#rentInfosBlock
{
    position: relative;
}

#rentInfosBlock > table.formTable td.input
{
    padding-right: 20px;
}

#rentInfosBlock div.index
{
    float: right;
}

#rentInfosBlock div.status
{
    display: inline;
}

#rentInfosBlock div.status > div
{
    display: none;
}

#rentInfosBlock div.closed
{
    font-weight: bold;
}


#rentInfosBlock div.status.DEV01 > div[state=DEV01],
#rentInfosBlock div.status.DEV02 > div[state=DEV02],
#rentInfosBlock div.status.DEV03 > div[state=DEV03],
#rentInfosBlock div.status.CON01 > div[state=CON01],
#rentInfosBlock div.status.CON02 > div[state=CON02],
#rentInfosBlock div.status.CON03 > div[state=CON03],
#rentInfosBlock div.status.CON04 > div[state=CON04],
#rentInfosBlock div.status.CON05 > div[state=CON05],
#rentInfosBlock div.status.CON06 > div[state=CON06],
#rentInfosBlock div.status.CON07 > div[state=CON07]
{
    display: inline;
}