
#proformaHlp_list
{
    width: 100%;
    margin-bottom: 4px;
}

#proformaHlp_list td.amount
{
    text-align: right;
}

#proformaHlp_list > thead > tr > td.ctrls
{
    min-width: 40px;
}

#proformaHlp_list > thead > tr > td.icon > a
{
    display: none;
    background: transparent url("../../../img/rent/helper/proforma/controls.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    opacity: 0.70;
    margin-left: 3px;
}

#proformaHlp_list > thead > tr > td.icon > a.expand
{
    display: inline-block;
    background-position: -32px -16px;
}

#proformaHlp_list.light > thead > tr > td.icon > a.expand
{
    background-position: -32px 0;
}

#proformaHlp_list tr > td.amount,
#proformaHlp_list tr > td.amountWithVat,
#proformaHlp_list tr > td.total,
#proformaHlp_list tr > td.cashed,
#proformaHlp_list tr > td.remainDue
{
    text-align: right;
}

#proformaHlp_list tr > td.beginDate
{
    padding-left: 15px;
}

#proformaHlp_list > tbody > tr > td.ctrls > a
{
    display: none;
    background: transparent url("../../../img/rent/helper/proforma/controls.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    opacity: 0.70;
    margin-right: 4px;
}

#proformaHlp_list > thead > tr > td.editCtrls > div.printButtons,
#proformaHlp_list > tbody > tr > td.editCtrls > div.printButtons
{
    visibility: hidden;
}

#proformaHlp_list > tbody > tr
{
    height: 21px;
}

#proformaHlp_list > tbody > tr > td.id
{
    font-size: 9px;
}

#proformaHlp_list > tbody > tr > td.type > div
{
    height: 16px;
    background: transparent url("../../../img/common/proforma/types.png") no-repeat 0 0;
    padding: 0 0 0 18px;
    line-height: 16px;
    white-space: nowrap;
}

#proformaHlp_list > tbody > tr.type_1 > td.type > div
{
    background-position: 0 -16px;
}

#proformaHlp_list > tbody > tr.type_2 > td.type > div
{
    background-position: 0 -32px;
}

#proformaHlp_list > tbody > tr.type_3 > td.type > div
{
    background-position: 0 -48px;
}

#proformaHlp_list > tbody > tr > td.ctrls > a:hover
{
    opacity: 1;
}

#proformaHlp_list > thead > tr > td.icon,
#proformaHlp_list > tbody > tr > td.icon
{
    padding: 0;
}

#proformaHlp_list > tbody > tr > td.icon > div
{
    background: transparent url("../../../img/rent/helper/proforma/controls.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

#proformaHlp_list > tbody > tr > td.editCtrls
{
    text-align: right;
}

#proformaHlp_list > tbody.list > tr > td.justified,
#proformaHlp_list > tbody.list > tr > td.validated
{
    background: transparent url("../../../img/no.png") no-repeat center center;
}

#proformaHlp_list > tbody.list > tr > td.justified.yes,
#proformaHlp_list > tbody.list > tr > td.validated.yes
{
    background-image: url("../../../img/yes.png");
}

#proformaHlp_list > tbody.list > tr > td.encashment > span.state
{
    display: block;
    line-height: 13px;
}

#proformaHlp_list > tbody.list > tr.encashment_ECM02 > td.encashment > span.state
{
    color: #009a00;
    font-weight: bold;
    background: transparent url("../../../img/yes.png") no-repeat left -1px;
    padding-left: 18px;
}

#proformaHlp_list > tbody.list > tr.encashment_ECM03 > td.encashment > span.state
{
    color: #960000;
    font-weight: bold;
    background: transparent url("../../../img/no.png") no-repeat left -1px;
    padding-left: 18px;
}

#proformaHlp_list > tbody.list > tr > td.encashment > span.closure
{
    display: block;
    line-height: 11px;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
}

#proformaHlp_list > tbody.list > tr.state_active > td.type
{
    font-weight: bold;
}

#proformaHlp_list > tbody.list > tr.state_active > td.icon > div
{
    background-position: -16px 0;
}

#proformaHlp_list > tbody.list > tr.state_aborted > td
{
    color: #797979;
}

#proformaHlp_list > tbody.list > tr.state_aborted.encashment_ECM03 > td
{
    text-decoration: none;
}


#proformaHlp_list > tbody.list > tr.state_aborted > td.icon > div
{
    background-position: -16px -16px;
}

#proformaHlp_list > tbody.list > tr.state_active.expired > td
{
    font-style: italic;
    color: #ae7a1d;
    font-weight: bold;
}

#proformaHlp_list > tbody.list > tr.state_active.expired > td.icon > div
{
    background-position: -16px -32px;
}

#proformaHlp_list > tbody.list > tr.state_replaced > td
{
    color: #a1a1a1;
}

#proformaHlp_list > tbody.list > tr.state_replaced > td.icon > div
{
    background-position: -16px -48px;
}

#proformaHlp_list.light > tbody.list > tr.state_replaced
{
    display: none;
}

#proformaHlp_list > tbody.list > tr.updated > td
{
    color: #007ac2;
    background-color: #dfeef8;
}

#proformaHlp_list > tbody.list > tr.updated.action_reactivate > td
{
    text-decoration: none;
}

#proformaHlp_list > tbody.list > tr.updated.action_reactivate > td.icon > div
{
    background-position: -16px 0;
}

#proformaHlp_list > tbody.list > tr.updated.action_abort > td.id,
#proformaHlp_list > tbody.list > tr.updated.action_abort > td.type,
#proformaHlp_list > tbody.list > tr.updated.action_abort > td.paiement,
#proformaHlp_list > tbody.list > tr.updated.action_abort > td.beginDate,
#proformaHlp_list > tbody.list > tr.updated.action_abort > td.encashment,
#proformaHlp_list > tbody.list > tr.state_aborted:not(.action_reactivate) > td.id,
#proformaHlp_list > tbody.list > tr.state_aborted:not(.action_reactivate) > td.type,
#proformaHlp_list > tbody.list > tr.state_aborted:not(.action_reactivate) > td.paiement,
#proformaHlp_list > tbody.list > tr.state_aborted:not(.action_reactivate) > td.beginDate,
#proformaHlp_list > tbody.list > tr.state_aborted:not(.action_reactivate) > td.encashment
{
    text-decoration: line-through;
}

#proformaHlp_list > tbody.list > tr.updated.action_abort > td.icon > div
{
    background-position: -16px -16px;
}

#proformaHlp_list > tbody.list > tr.abortable > td.ctrls > a.abort
{
    display: inline-block;
    background-position: 0 0;
}

#proformaHlp_list > tbody.list > tr.reactivable > td.ctrls > a.reactivate
{
    display: inline-block;
    background-position: 0 -16px;
}

#proformaHlp_list > tbody.list > tr.editable > td.ctrls > a.view
{
    display: inline-block;
    background-position: 0 -80px;
}

#proformaHlp_list > tbody.list > tr.editable > td.ctrls > a.edit
{
    display: inline-block;
    background-position: 0 -48px;
}

#proformaHlp_list > tbody.list > tr.updated > td.ctrls > a.undo
{
    display: inline-block;
    background-position: 0 -64px;
}

#proformaHlp_list > tbody.list > tr:hover > td.editCtrls > div.printButtons
{
    visibility: visible;
}

#proformaHlp_list > tbody.list > tr.updated:hover > td.editCtrls > div.printButtons
{
    visibility: hidden;
}

#proformaHlp_list > tbody.new > tr > td
{
    color: #107810;
    background-color: #deefde;
}

#proformaHlp_list > tbody.new > tr > td.type
{
    font-weight: bold;
}

#proformaHlp_list > tbody.new > tr > td.ctrls > a
{
    display: inline-block;
    background-position: 0 -32px;
}

#proformaHlp_list > tbody.new > tr > td.icon > div
{
    background-position: -16px 0;
}


#proformaHlp_list > tfoot.no-proforma
{
    display: none;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}

div.proformaHlp_popup
{
    display: inline-block;
    margin-top: 8px !important;
}

div.proformaHlp_popup > fieldset
{
    margin: 12px 32px 16px 12px;
    text-align: left;
}

div.proformaHlp_popup > fieldset > table
{
    margin: 4px 0 8px 0;
}

div.proformaHlp_popup > fieldset > table tr.paidAmount input[type=text],
div.proformaHlp_popup > fieldset > table tr.deposit input[type=text],
div.proformaHlp_popup > fieldset > table tr.advance input[type=text]
{
    width: 78px;
}

div.proformaHlp_popup > fieldset > table tr.fuelQty input[type=text]
{
    width: 64px;
}

div.proformaHlp_popup > fieldset > table tr.endDate,
div.proformaHlp_popup > fieldset > table tr.fuelQty
{
    vertical-align: text-top;
}

div.proformaHlp_popup > fieldset > table tr.endDate span.info,
div.proformaHlp_popup > fieldset > table tr.fuelQty span.info
{
    display: block;
    font-size: 9px;
    font-style: italic;
    padding: 0 0 8px 14px;
    background: transparent url("../../../img/rent/helper/proforma/info.gif") no-repeat left 1px;
    color: #555555;
}

#proformaHlp_addMaxDate
{
    display: none;
}

div.proformaHlp_popup > fieldset > table tr.comment textarea
{
    width: 200px !important;
    height: 52px !important;
}

#proformaHlp_editTypeLabel,
#proformaHlp_editEndDate
{
    font-weight: bold;
}

div.proformaHlp_popup > fieldset > table tr.justification,
div.proformaHlp_popup > fieldset > table tr.validation,
div.proformaHlp_popup > fieldset > table tr.encashment
{
    height: 20px;
}

div.proformaHlp_popup > fieldset > table tr.encashment span.closure
{
    display: block;
    font-weight: bold;
    white-space: nowrap;
}

div.proformaHlp_popup.readonly > fieldset.content > legend,
div.proformaHlp_popup.readonly > fieldset.ctrls
{
    display: none;
}

#proformaHlp_editValidation
{
    display: inline;
    margin-right: 4px;
}


#proformaHlp_infoError.msg_repairServices,
#proformaHlp_infoError.msg_repairDays,
#proformaHlp_infoError.msg_rentAmountType,
#proformaHlp_infoError.msg_activeTransfer
{
    display: block;
}

#proformaHlp_infoError.msg_repairServices .generic,
#proformaHlp_infoError.msg_repairServices .repairServices,
#proformaHlp_infoError.msg_repairDays .generic,
#proformaHlp_infoError.msg_repairDays .repairDays,
#proformaHlp_infoError.msg_rentAmountType .generic,
#proformaHlp_infoError.msg_rentAmountType .rentAmountType,
#proformaHlp_infoError.msg_activeTransfer .genericExtension,
#proformaHlp_infoError.msg_activeTransfer .activeTransfer
{
    display: block;
}
#proformaHlp_infoError
{
    margin-top: 20px;
    border:0;
    display: none;
}
#proformaHlp_infoError span
{
    display: none;
}

