
/* Onglet Remise en état */
#repairHlp_content > div.container
{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

#repairHlp_content > div.container > #repairSheets
{
    grid-row: 1 / span 2;
    grid-column: 1;
}

#repairHlp_content > div.container > #repairDays
{
    grid-row: 1;
    grid-column: 2;
    margin-left: 10px;
}

#repairHlp_content > div.container > #repairServices
{
    grid-row: 2;
    grid-column: 2;
    margin-left: 10px;
}

#repairHlp_content > div.container table.standard > tbody > tr.turned
{
    opacity: 0.5;
}

#repairHlp_content > div.container table.standard > tbody > tr.turned > td
{
    border-bottom: none;
}

#repairHlp_content > div.container table.standard > tbody > tr.repairEstimate > td:first-child,
#repairHlp_content > div.container table.standard > tbody > tr.repairServices > td:first-child,
#repairHlp_content > div.container table.standard > tbody > tr.repairDays > td:first-child
{
    padding-left: 29px;
    background-image: url("../../../img/machine/view/tree.png");
    background-repeat: no-repeat;
    background-position: 9px center;
}

/* Jours de remise en état */
#repairHlp_repairDays > thead > tr > th.unitPrice,
#repairHlp_repairDays > tbody > tr > td.unitPrice,
#repairHlp_repairDays > thead > tr > th.quantity,
#repairHlp_repairDays > tbody > tr > td.quantity,
#repairHlp_repairDays > thead > tr > th.amount,
#repairHlp_repairDays > tbody > tr > td.amount
{
    text-align: right;
}

#repairHlp_repairDays > tbody > tr > td.state,
#repairHlp_repairDays > tbody > tr > td.sheet
{
    white-space: nowrap;
}

#repairHlp_repairDays > tbody > tr > td.ctrls > a
{
    display: none;
}

#repairHlp_repairDays > tbody > tr.sep
{
    height: 4px;
}

#repairHlp_repairDays > tbody > tr.approved > td.ctrls > a.uninvoice,
#repairHlp_repairDays > tbody > tr.canceled > td.ctrls > a.invoice
{
    display: inline;
}

#repairHlp_repairDays > tbody > tr.canceled > td.unitPrice,
#repairHlp_repairDays > tbody > tr.canceled > td.quantity,
#repairHlp_repairDays > tbody > tr.canceled > td.amount,
#repairHlp_repairDays > tbody > tr.canceled > td.state > div
{
    text-decoration: line-through;
    color: grey;
}


/* Services de remise en état */


#repairHlp_repairSrvs > tbody > tr
{
    height: 18px;
}

#repairHlp_repairSrvs > thead > tr > th.unitPrice,
#repairHlp_repairSrvs > tbody > tr > td.unitPrice,
#repairHlp_repairSrvs > thead > tr > th.quantity,
#repairHlp_repairSrvs > tbody > tr > td.quantity,
#repairHlp_repairSrvs > thead > tr > th.amount,
#repairHlp_repairSrvs > tbody > tr > td.amount
{
    text-align: right;
}

#repairHlp_repairSrvs > tbody > tr > td.state,
#repairHlp_repairSrvs > tbody > tr > td.sheet
{
    white-space: nowrap;
}

#repairHlp_repairSrvs > tbody > tr > td.ctrls > a
{
    display: none;
}


#repairHlp_repairSrvs > tbody > tr.sep
{
    height: 2px;
}

#repairHlp_repairSrvs > tbody > tr.approved > td.ctrls > a.uninvoice,
#repairHlp_repairSrvs > tbody > tr.canceled > td.ctrls > a.invoice
{
    display: inline;
}

#repairHlp_repairSrvs > tbody > tr.canceled > td.label,
#repairHlp_repairSrvs > tbody > tr.canceled > td.unitPrice,
#repairHlp_repairSrvs > tbody > tr.canceled > td.quantity,
#repairHlp_repairSrvs > tbody > tr.canceled > td.amount,
#repairHlp_repairSrvs > tbody > tr.canceled > td.state > div
{
    text-decoration: line-through;
    color: grey;
}

/* Fiches de remise en état */
#repairHlp_repairSheets > thead > tr > th.amount,
#repairHlp_repairSheets > tbody > tr > td.amount
{
    text-align: right;
}
#repairHlp_repairSheets > tbody > tr > td.inactive
{
    text-decoration: line-through;
}


