
#servicesHlp_calc
{
    visibility: hidden;
    margin-left: 4px;
}
#servicesHlp_cleaningAmount,
#servicesHlp_residuesAmount
{
    width: 60px;
}

#servicesHlp_fuelQty
{
    width: 40px;
    text-align: right;
}

#servicesHlp_rentSrvsAddTooltip
{
    display: none;
}

/* Services */
#servicesHlp_rentSrvsBlock > table tr > td.infos
{
    width: 16px;
}
#servicesHlp_rentSrvsBlock > table tr > td.comment > input[type=text]
{
    width: 200px;
}

#servicesHlp_rentSrvsBlock > table tr > td.amount input[type=text]
{
    width: 60px;
}

#servicesHlp_rentSrvsBlock > table > tbody > tr > td.ctrls > a
{
    display: none;
    background: transparent url("../../../img/rent/helper/services/rentSrvsControls.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    opacity: 0.70;
    margin-right: 4px;
}

#servicesHlp_rentSrvsBlock > table > tbody > tr > td.ctrls > a:hover
{
    opacity: 1;
}

#servicesHlp_rentSrvsBlock > table > tbody > tr > td.ctrls > a.delete
{
    display: inline-block;
    background-position: 0 0;
}

#servicesHlp_rentSrvsBlock > table > tbody > tr.removed > td > a
{
    visibility: hidden;
}

#servicesHlp_rentSrvsBlock > table > tbody > tr.removed > td,
#servicesHlp_rentSrvsBlock > table > tbody > tr.removed > td > select,
#servicesHlp_rentSrvsBlock > table > tbody > tr.removed > td input[type=text]
{
    text-decoration: line-through;
    color: grey;
}

#servicesHlp_rentSrvsBlock > table > tbody > tr.new.removed
{
    display: none;
}

#servicesHlp_rentSrvsBlock > table > tfoot > tr > td
{
    border-top: 1px solid #808080;
    padding-top: 2px;
    background-color: #ededed;
}

#servicesHlp_rentSrvsBlock > table > tfoot > tr
{
    display: none;
}

#servicesHlp_rentSrvsBlock > span
{
    display: none;
}

#servicesHlp_rentSrvsBlock.add > table
{
    display: table !important;
}

#servicesHlp_rentSrvsBlock.add > table > tfoot > tr
{
    display: table-row;
}

#servicesHlp_rentSrvsBlock.add > span
{
    display: none !important;
}

#servicesHlp_rentSrvsBlock.noresult
{
    font-style: normal;
}

#servicesHlp_rentSrvsBlock.noresult > table
{
    display: none;
}

#servicesHlp_rentSrvsBlock.noresult > span
{
    display: inline;
}


#servicesHlp_infoNotEditableInsurance
{
    display: none;
    margin-left: 65px;
}

#servicesHlp_nonInvoiceableAppeal
{
    font-style: italic;
    color: #444;
}