#rentSiteBlock
{
    position: relative;
}

#rentSiteBlock > div.loadingMask
{
    z-index: 1;
}

#rentSiteBlock > div.content
{
    z-index: 0;
}

#rentSiteBlock.loading > div.loadingMask
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background: #f2f9fc url("../../../img/loading3.gif") no-repeat center center;
    opacity: 0.70;
    filter: alpha(opacity=70);
}

#rentSiteBlock.error > div.loadingMask
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background: #fcf3f7 url("../../../img/error.png") no-repeat center center;
    opacity: 0.70;
    filter: alpha(opacity=70);
}

#rentSiteBlock tr
{
    vertical-align: middle;
}

#rentSiteBlock tr.contact > td,
#rentSiteBlock tr.comment > td,
#rentSiteBlock tr.asbestos > td
{
    padding-top: 15px;
}

#rentSiteBlock tr.siteLabel > td.content,
#rentSiteBlock tr.address > td.content,
#rentSiteBlock tr.locality > td.content,
#rentSiteBlock tr.contact > td.content,
#rentSiteBlock tr.email > td.content,
#rentSiteBlock tr.asbestos > td.content
{
    padding-left: 10px;
}


#rentSiteBlock tr.asbestos > td.content > input:checked::after
{
    display: block;
    margin: -4px 16px;
    content: url('../../../img/rent/helper/site/ic_asbestos_24px.svg');
}

#rentSiteControls
{
    position: absolute;
    right: 4px;
    top: 2px;
    z-index: 10;
}

#rentSiteLabelZone
{
    margin-left: 18px;
    padding-left: 2px;
    font-weight: bold;
    font-family: 'Arial', Helvetica;
}
#rentSiteLabelZone:first-letter
{
    color: #900000;
}

#rentSiteLabel,
#rentSiteBlock tr.email > td.content > input
{
    width: 300px;
}

#rentSiteAddress
{
    width: 350px !important;
    height: 40px !important;
}

#rentSiteComments
{
    width: 100% !important;
    height: 60px !important;
}

#rentSiteContactFullName
{
    width: 200px;
}


#site\.email\.send.hidden
{
    visibility: hidden;
}

#rentSiteHeight,
#rentSiteDeliveryHour\.masked,
#rentSiteRecoveryHour\.masked
{
    text-align: left !important;
    padding-left: 2px !important;
    width: 36px;
}

#rentSiteDeliveryLimitHour,
#rentSiteRecoveryLimitHour
{
    display: none;
    font-size: 9px;
    font-style: italic;
    padding: 0 0 8px 14px;
    background: transparent url("../../../img/rent/helper/proforma/info.gif") no-repeat left 1px;
    color: #555555;
}

#rentSiteDeliveryLimitHour.isActive,
#rentSiteRecoveryLimitHour.isActive
{
    display: block;
}
#rentSiteBlock tr.deliveryHour,
#rentSiteBlock tr.recoveryHour
{
    vertical-align: text-top;
}