table.formTable.tariff tr.finalPrice
{
    vertical-align: baseline;
}

table.formTable.tariff td.right,
table.formTable.tariff td.amount,
table.formTable.tariff td.label.right
{
    text-align: right;
}
table.formTable.tariff td.amount
{
    width: 100px;
}
table.formTable.tariff td.right
{
    white-space: nowrap;
}
table.formTable.tariff tr
{
    vertical-align: top;
}

table.formTable.tariff td.estimation
{
    padding-right: 10px;
}

table.formTable.tariff td.totalReductionSeparator
{
    border: 1px solid #3395ce;
    border-left-width: 0px;
}

table.formTable.tariff td.totalReduction
{
    white-space: nowrap;
    padding-left: 10px;
    vertical-align: middle;
}


table.formTable.tariff input.reduction
{
    width: 56px;
}

table.formTable.tariff input.reductionAmount,
table.formTable.tariff input.estimationAmount
{
    width: 50px;
}

table.formTable.tariff input.estimationAmount,
table.formTable.tariff input.estimationAmount:hover
{
    font-weight: bold;
}

input.transportAmount
{
    width: 70px;
    text-align: right;
}

table.formTable.spcReducInfos
{
    width: 100%;
}
table.formTable.spcReducInfos tr
{
    vertical-align: bottom;
}

table.formTable.amounts tr
{
    vertical-align: middle;
}

table.formTable.tariff textarea.spcReducJustification
{
    width: 300px !important;
    height: 40px !important;
}

table.formTable.tariff input.spcReducBillLabel
{
    width: 160px;
}

table.formTable.tariff td.status
{
    text-align: center;
}

table.formTable.tariff div.spcReducStatus
{
    height: 18px;
    display: inline-block;
}

table.formTable.tariff div.spcReducStatus > div
{
    display: none;
}

table.formTable.tariff div.spcReducStatus.REM01 > div[state=REM01],
table.formTable.tariff div.spcReducStatus.REM02 > div[state=REM02],
table.formTable.tariff div.spcReducStatus.REM03 > div[state=REM03]
{
    display: inline;
}


table.formTable.tariff td.amountType
{
    white-space: nowrap;
}

table.formTable.tariff td.spcReducInfos
{
    padding-left: 5px;
    padding-right: 5px;
}

table.formTable.tariff label.totalReduction
{
    font-size: 7pt;
}

table.formTable.tariff div.warning
{
    padding-left: 20px;
    font-weight: bold;
    color: #513308;
    background: transparent url('../../../img/iconWarning.gif') no-repeat left center;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
}

table.formTable.tariff hr
{
    margin: 3px 0;
}
