#transportHlp_main
{
    position: relative;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

#transportHlp_main > fieldset
{
    position: relative;
    width: 220px;
    padding: 0 8px;
    float: left;
    margin-bottom: 0;
}

#transportHlp_main > fieldset.recovery
{
    margin-left: 45px;
}

#transportHlp_main.d-updated > fieldset.delivery,
#transportHlp_main.r-updated > fieldset.recovery
{
    background-color: #dfeef8;
    border-left: 1px solid #cce4f2;
    border-right: 1px solid #cce4f2;
    border-bottom: 1px solid #cce4f2;
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: 1px 1px 2px #999;
}

#transportHlp_main.d-updated > fieldset.delivery > legend,
#transportHlp_main.r-updated > fieldset.recovery > legend
{
    padding-left: 16px;
    background: url('../../../img/rent/helper/transport/miniPen.png') no-repeat left top;
}

#transportHlp_main.d-updated > fieldset.delivery > legend > a.btn.reset,
#transportHlp_main.r-updated > fieldset.recovery > legend > a.btn.reset
{
    display: block;
}

/* - Point de départ et d'arrivée */
#transportHlp_main > fieldset > div.fromto-label
{
    width: 100%;
    height: 15px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
#transportHlp_main > fieldset > div.fromto-label:first-letter
{
    color: #900000;
}

#transportHlp_main > fieldset > div.fromto-content
{
    padding: 5px;
    margin: 0 auto;
    width: 190px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    background-color: #E0F3FC;
    border: 1px dashed #49AAFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

#transportHlp_main > fieldset > div.fromto-content > a.site
{
    display: none;
}

#transportHlp_main > fieldset > div.fromto-content > span.agency > span
{
    font-weight: bold;
}

#transportHlp_main.d-fromto-site > fieldset.delivery > div.fromto-content,
#transportHlp_main.r-fromto-site > fieldset.recovery > div.fromto-content
{
    overflow: visible;
}

#transportHlp_main.d-fromto-site > fieldset.delivery > div.fromto-content > a.site,
#transportHlp_main.r-fromto-site > fieldset.recovery > div.fromto-content > a.site
{
    display: inline-block;
}

#transportHlp_main.d-fromto-site > fieldset.delivery > div.fromto-content > span.agency,
#transportHlp_main.r-fromto-site > fieldset.recovery > div.fromto-content > span.agency
{
    display: none;
}

#transportHlp_main > fieldset > div.fromto-content > div.infotip
{
    position: relative;
    display: none;
    vertical-align: -4px;
    z-index: 100;
}

.transportHlp_content div.infotip > div.tip
{
    display: none;
}

.transportHlp_content div.infotip:hover > div.text
{
    display: block;
    position: absolute;
    left: -50px;
    top: 26px;
    border: 1px solid #dadada;
    border-right-color: #969696;
    border-bottom-color: #969696;
    background-color: #f1f1f1;
    color: #151515;
    padding: 2px 6px 2px 6px;
    line-height: 16px;
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 2px 3px;
    z-index: 10;
    min-width: 32px;
    text-align: left;
    box-shadow: 2px 2px 4px #bbb;
}

.transportHlp_content div.infotip:hover > div.pick
{
    display: block;
    position: absolute;
    left: 1px;
    top: 19px;
    width: 20px;
    height: 10px;
    background: url("../../../img/common/alerts/errors.png") no-repeat -16px -64px;
    z-index: 11;
}

.transportHlp_content div.infotip > div.icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../../img/rent/helper/transport/info.png") no-repeat 0 0;
}

.transportHlp_content div.infotip > div.text > div.row > span.label
{
    font-weight: bold;
    margin-right: 4px;
}

.transportHlp_content div.infotip > div.text > div.row
{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Partie basse */
#transportHlp_main > fieldset > div.separator
{
    margin-top: 130px;
    height: 10px;
}

#transportHlp_main > fieldset > div.addMachine > div.main,
#transportHlp_main > fieldset > div.addMachine > div.add
{
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
}

#transportHlp_main > fieldset > div.addMachine > div.add,
#transportHlp_main > fieldset > div.addMachine > div.add > *
{
    display: none;
}

#transportHlp_main > fieldset > div.addMachine > div.main
{
    background: url('../../../img/rent/helper/transport/mainMachine.png') 0 0 no-repeat;
}

#transportHlp_main > fieldset > div.addMachine > div.add
{
    background: url('../../../img/rent/helper/transport/addMachine.png') 0 0 no-repeat;
}

#transportHlp_main.d-addmach > fieldset.delivery > div.addMachine > div.add,
#transportHlp_main.r-addmach > fieldset.recovery > div.addMachine > div.add,
#transportHlp_main > fieldset.delivery > div.addMachine > div.main,
#transportHlp_main > fieldset.recovery > div.addMachine > div.main
{
    display: block;
}

#transportHlp_main.d-addmach > fieldset.delivery > div.addMachine > div.main,
#transportHlp_main.r-addmach > fieldset.recovery > div.addMachine > div.main
{
    display: none;
}

#transportHlp_main.d-addmach > fieldset.delivery > div.addMachine > div.add > span,
#transportHlp_main.r-addmach > fieldset.recovery > div.addMachine > div.add > span
{
    font-size: 7pt;
    font-style: italic;
}

#transportHlp_main.d-addmach > fieldset.delivery > div.addMachine > div.add > span.withoutSelection,
#transportHlp_main.r-addmach > fieldset.recovery > div.addMachine > div.add > span.withoutSelection,
#transportHlp_main.d-addmach-ctt > fieldset.delivery > div.addMachine > div.add > a,
#transportHlp_main.r-addmach-ctt > fieldset.recovery > div.addMachine > div.add > a,
#transportHlp_main.d-addmach-ctt > fieldset.delivery > div.addMachine > div.add > span.withSelection,
#transportHlp_main.r-addmach-ctt > fieldset.recovery > div.addMachine > div.add > span.withSelection
{
    display: inline;
}
#transportHlp_main.d-addmach-ctt > fieldset.delivery > div.addMachine > div.add > span.withoutSelection,
#transportHlp_main.r-addmach-ctt > fieldset.recovery > div.addMachine > div.add > span.withoutSelection
{
    display: none;
}

#transportHlp_main > fieldset > div.total > div.button
{
    float: left;
}

#transportHlp_main > fieldset > div.total > div.amount
{
    float: right;
    font-weight: bold;
}

/**
* Workflow du transport
**/
#transportHlp_main > div.workflow
{
    position: absolute;
    left: 94px;
    top: 75px;
    width: 332px;
    height: 122px;
    z-index: 1;
}

#transportHlp_main > div.workflow > canvas
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#transportHlp_main > div.workflow > div.cplmt
{
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    z-index: 3;
}

#transportHlp_main > div.workflow > div.cplmt > div.infotip
{
    position: absolute;
    top: 52px;
    display: none;
}

#transportHlp_main > div.workflow > div.cplmt > div.no-sync
{
    position: absolute;
    background: transparent url("../../../img/rent/helper/transport/noSync.png") no-repeat center center;
    width: 16px;
    height: 16px;
    top: 53px;
    display: none;
}

#transportHlp_main > div.workflow > div.cplmt.delivery
{
    left: 0;
}

#transportHlp_main > div.workflow > div.cplmt.delivery > div.infotip
{
    left: -16px;
}

#transportHlp_main > div.workflow > div.cplmt.delivery > div.no-sync
{
    left: -40px;
}

#transportHlp_main > div.workflow > div.cplmt.recovery
{
    right: 0;
}

#transportHlp_main > div.workflow > div.cplmt.recovery > div.infotip
{
    right: -16px;
}

#transportHlp_main > div.workflow > div.cplmt.recovery > div.no-sync
{
    right: -40px;
}

#transportHlp_main.d-fromto-site > fieldset.delivery > div.fromto-content > div.infotip,
#transportHlp_main.r-fromto-site > fieldset.recovery > div.fromto-content > div.infotip,
#transportHlp_main.d-infos > div.workflow > div.cplmt.delivery > div.infotip,
#transportHlp_main.r-infos > div.workflow > div.cplmt.recovery > div.infotip,
#transportHlp_main.d-no-sync > div.workflow > div.cplmt.delivery > div.no-sync,
#transportHlp_main.r-no-sync > div.workflow > div.cplmt.recovery > div.no-sync
{
    display: inline-block;
    padding: 2px;
}



/**
* Réalisation/Annulation
*/

#transportHlp_main > div.workflow > div.cplmt > a.btn.do,
#transportHlp_main > div.workflow > div.cplmt > a.btn.undo
{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -18px;
    width: 36px;
    height: 33px;
    background: url('../../../img/rent/helper/transport/buttons.png') no-repeat 0 0;
    display: none;
}

#transportHlp_main > div.workflow > div.cplmt > a.btn.do
{
    background-position: 0 0;
}

#transportHlp_main > div.workflow > div.cplmt > a.btn.do:hover
{
    background-position: 0 -33px;
}

#transportHlp_main > div.workflow > div.cplmt > a.btn.do.disabled
{
    background-position: 0 -66px !important;
    cursor: default;
}

#transportHlp_main > div.workflow > div.cplmt > a.btn.undo
{
    background-position: -36px 0;
}

#transportHlp_main > div.workflow > div.cplmt > a.btn.undo:hover
{
    background-position: -36px -33px;
}

#transportHlp_main > div.workflow > div.cplmt > a.btn.undo.disabled
{
    background-position: -36px -66px !important;
    cursor: default;
}

#transportHlp_main > div.workflow > div.cplmt > a.btn.reset,
#transportHlp_main > fieldset > legend > a.btn.reset
{
    width: 18px;
    height: 16px;
    opacity: 0.7;
    background: transparent url('../../../img/rent/helper/transport/reset.png') no-repeat 0 0;
    display: none;
}

#transportHlp_main > div.workflow > div.cplmt > a.btn.reset
{
    position: absolute;
    top: 80px;
}

#transportHlp_main > fieldset > legend > a.btn.reset
{
    position: absolute;
    top: -2px;
    right: 5px;
    background: url('../../../img/rent/helper/transport/reset.png') no-repeat 0 0, -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: url('../../../img/rent/helper/transport/reset.png') no-repeat 0 0, linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
}

#transportHlp_main > div.workflow > div.cplmt.recovery > a.btn.undo.partial
{
    left: 70px;
}

#transportHlp_main > div.workflow > div.cplmt.delivery > a.btn.do.partial
{
    left: 96px;
}

#transportHlp_main > div.workflow > div.cplmt.delivery > a.btn.reset
{
    left: 120px;
}

#transportHlp_main > div.workflow > div.cplmt.recovery > a.btn.reset
{
    left: 142px;
}

#transportHlp_main > div.workflow > div.cplmt > a.btn.reset:hover,
#transportHlp_main > fieldset > legend > a.btn.reset:hover
{
    opacity: 1;
}

#transportHlp_main > div.workflow > div.cplmt > div.doc-btns
{
    position: absolute;
    top: 108px;
    left: -50%;
    width: 100%;
    white-space: nowrap;
    display: none;
}
#transportHlp_main > div.workflow > div.cplmt > div.doc-btns > label
{
    font-size: 10px;
    color: #5e5e5e;
    text-shadow: 1px 1px 3px #ccc;
}

#transportHlp_main > div.workflow > div.cplmt.recovery > div.doc-btns
{
    left: 32px;
    right: auto;
}


#transportHlp_main > div.workflow > div.cplmt > div.doc-btns > div.btn.selfform,
#transportHlp_main > div.workflow > div.cplmt > div.doc-btns > div.btn.machineinventory
{
    display: none;
    position: relative;
    opacity: 0.8;
}

#transportHlp_main > div.workflow > div.cplmt > div.doc-btns > div.btn.selfform
{
    padding-top: 5px;
    margin-top: -5px;
}

#transportHlp_main > div.workflow > div.cplmt > div.doc-btns > div.btn.selfform:hover,
#transportHlp_main > div.workflow > div.cplmt > div.doc-btns > div.btn.machineinventory:hover
{
    opacity: 1;
}

#transportHlp_main > div.workflow > div.cplmt > div.doc-btns > div.btn.selfform > .printButtons
{
    position: absolute;
    width: 22px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s;
    left: 4px;
    bottom: 20px;
    padding: 3px 2px 2px 2px;
    background-color: #fff;
    z-index: 1;
    display: none;
}

#transportHlp_main.r-btn-selfform > div.workflow > div.cplmt.recovery > div.doc-btns > div.btn.selfform:hover > .printButtons,
#transportHlp_main.d-btn-selfform > div.workflow > div.cplmt.delivery > div.doc-btns > div.btn.selfform:hover > .printButtons
{
    display: block;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: #ccc 1px 1px 5px;
}

#transportHlp_main > div.workflow > div.cplmt > div.doc-btns > div.btn.selfform > .printButtons > a:not(:last-of-type)
{
    display: block;
    margin-bottom: 2px;
}


#transportHlp_main.d-btn-do > div.workflow > div.cplmt.delivery > a.btn.do,
#transportHlp_main.d-btn-undo > div.workflow > div.cplmt.delivery > a.btn.undo,
#transportHlp_main.d-btn-reset > div.workflow > div.cplmt.delivery > a.btn.reset,
#transportHlp_main.r-btn-do > div.workflow > div.cplmt.recovery > a.btn.do,
#transportHlp_main.r-btn-undo > div.workflow > div.cplmt.recovery > a.btn.undo,
#transportHlp_main.r-btn-reset > div.workflow > div.cplmt.recovery > a.btn.reset,
#transportHlp_main.d-btn-selfform > div.workflow > div.cplmt.delivery > div.doc-btns,
#transportHlp_main.r-btn-selfform > div.workflow > div.cplmt.recovery > div.doc-btns,
#transportHlp_main.r-btn-machineinventory > div.workflow > div.cplmt.recovery > div.doc-btns,
#transportHlp_main.d-btn-machineinventory > div.workflow > div.cplmt.delivery > div.doc-btns
{
    display: block;
}

#transportHlp_main.d-btn-selfform > div.workflow > div.cplmt.delivery > div.doc-btns > div.btn.selfform,
#transportHlp_main.d-btn-machineinventory > div.workflow > div.cplmt.delivery > div.doc-btns > div.btn.machineinventory,
#transportHlp_main.r-btn-selfform > div.workflow > div.cplmt.recovery > div.doc-btns > div.btn.selfform,
#transportHlp_main.r-btn-machineinventory > div.workflow > div.cplmt.recovery > div.doc-btns > div.btn.machineinventory
{
    display: inline-block;
}

#transportHlp_main.r-btn-machineinventory > div.workflow > div.cplmt.recovery > div.doc-btns > div + div,
#transportHlp_main.d-btn-machineinventory > div.workflow > div.cplmt.delivery > div.doc-btns > div + div
{
    margin-left: 6px;
}
#transportHlp_main.r-btn-machineinventory > div.workflow > div.cplmt.recovery > div.doc-btns > div + div::before,
#transportHlp_main.d-btn-machineinventory > div.workflow > div.cplmt.delivery > div.doc-btns > div + div::before
{
    content: " | ";
}
 
/**
* Bloc infos/erreurs
**/
#transportHlp_main > div.workflow > div.cplmt > div.errors
{
    position: relative;
    text-align: center;
    margin-top: 82px;
}

.transportHlp_content div.errorTip
{
    display: none;
    position: relative;
    padding: 2px;
    margin-left: 2px;
    z-index: 1;
}

.transportHlp_content div.errorTip:hover
{
    padding: 1px;
    border: 1px solid #b5e1f5;
    border-right-color: #66afda;
    border-bottom-color: #66afda;
    background-color: #e8f3f9;
}

.transportHlp_content div.errorIcon
{
    display: inline-block;
    z-index: 1;
    width: 16px;
    height: 16px;
    background: url("../../../img/common/alerts/errors.png") no-repeat -16px 0;
}

.transportHlp_content div.errorIcon.noMachine
{
    background-position: 0 0;
}
.transportHlp_content div.errorIcon.proformaNotGen
{
    background-position: 0 -16px;
}
.transportHlp_content div.errorIcon.proformaNotUpToDate
{
    background-position: 0 -32px;
}
.transportHlp_content div.errorIcon.proformaNotPayed
{
    background-position: 0 -48px;
}
.transportHlp_content div.errorIcon.rentTariff
{
    background-position: 0 -64px;
}
.transportHlp_content div.errorIcon.transportTariff
{
    background-position: 0 -80px;
}
.transportHlp_content div.errorIcon.customerNotVerified
{
    background-position: 0 -96px;
}
.transportHlp_content div.errorIcon.deliveryNotDone
{
    background-position: 0 -112px;
}
.transportHlp_content div.errorIcon.onRecovery
{
    background-position: 0 -128px;
}
.transportHlp_content div.errorIcon.onDelivery
{
    background-position: 0 -144px;
}
.transportHlp_content div.errorIcon.noMainContract
{
    background-position: 0 -160px;
}
.transportHlp_content div.errorIcon.machineSiteBlocked
{
    background-position: 0 -176px;
}
.transportHlp_content div.errorIcon.machineNotTransfered
{
    background-position: 0 -192px;
}
.transportHlp_content div.errorIcon.info
{
    width: 14px;
    background: url("../../../img/rent/helper/transport/info.png") no-repeat 0 0;
}

#transportHlp_main.d-err-noMachine > div.workflow > div.cplmt.delivery div.errorTip.noMachine,
#transportHlp_main.d-err-proformaNotGen > div.workflow > div.cplmt.delivery div.errorTip.proformaNotGen,
#transportHlp_main.d-err-proformaNotUpToDate > div.workflow > div.cplmt.delivery div.errorTip.proformaNotUpToDate,
#transportHlp_main.d-err-proformaNotPayed > div.workflow > div.cplmt.delivery div.errorTip.proformaNotPayed,
#transportHlp_main.d-err-rentTariff > div.workflow > div.cplmt.delivery div.errorTip.rentTariff,
#transportHlp_main.d-err-transportTariff > div.workflow > div.cplmt.delivery div.errorTip.transportTariff,
#transportHlp_main.d-err-customerNotVerified > div.workflow > div.cplmt.delivery div.errorTip.customerNotVerified,
#transportHlp_main.d-err-onRecovery > div.workflow > div.cplmt.delivery div.errorTip.onRecovery,
#transportHlp_main.d-err-noMainContract > div.workflow > div.cplmt.delivery div.errorTip.noMainContract,
#transportHlp_main.d-err-machineSiteBlocked > div.workflow > div.cplmt.delivery div.errorTip.machineSiteBlocked,
#transportHlp_main.d-err-machineNotTransfered > div.workflow > div.cplmt.delivery div.errorTip.machineNotTransfered,
#transportHlp_main.r-err-noMachine > div.workflow > div.cplmt.recovery div.errorTip.noMachine,
#transportHlp_main.r-err-proformaNotGen > div.workflow > div.cplmt.recovery div.errorTip.proformaNotGen,
#transportHlp_main.r-err-proformaNotUpToDate > div.workflow > div.cplmt.recovery div.errorTip.proformaNotUpToDate,
#transportHlp_main.r-err-proformaNotPayed > div.workflow > div.cplmt.recovery div.errorTip.proformaNotPayed,
#transportHlp_main.r-err-rentTariff > div.workflow > div.cplmt.recovery div.errorTip.rentTariff,
#transportHlp_main.r-err-transportTariff > div.workflow > div.cplmt.recovery div.errorTip.transportTariff,
#transportHlp_main.r-err-customerNotVerified > div.workflow > div.cplmt.recovery div.errorTip.customerNotVerified,
#transportHlp_main.r-err-deliveryNotDone > div.workflow > div.cplmt.recovery div.errorTip.deliveryNotDone,
#transportHlp_main.r-err-onDelivery > div.workflow > div.cplmt.recovery div.errorTip.onDelivery,
#transportHlp_main.r-err-noMainContract > div.workflow > div.cplmt.recovery div.errorTip.noMainContract,
#transportHlp_main.r-err-machineSiteBlocked > div.workflow > div.cplmt.recovery div.errorTip.machineSiteBlocked,
#transportHlp_main.r-err-machineNotTransfered > div.workflow > div.cplmt.recovery div.errorTip.machineNotTransfered,
#transportHlp_popup_cttsRow > td > div.content > div.legend div.errorTip
{
    display: inline-block;
}


.transportHlp_content div.infosCplIcon
{
    display: inline-block;
    z-index: 1;
    width: 16px;
    height: 16px;
    background: url("../../../img/rent/helper/transport/infoContract.png") no-repeat -16px 0;
}

.transportHlp_content div.infosCplIcon.self
{
    background-position: 0 0;
}

.transportHlp_content div.infosCplIcon.anticipatable
{
    background-position: 0 -16px;
}

.transportHlp_content div.infosCplIcon.planned
{
    background-position: 0 -32px;
}

/* Popup */

#transportHlp_popup_modal
{
    display: inline-block;
    margin-top: 8px !important;
}

#transportHlp_popup_modal > fieldset
{
    margin: 12px 32px 16px 12px;
    text-align: left;
}

#transportHlp_popup_modal > fieldset > legend > div
{
    display: none;
    text-align: left;
    padding-left: 16px;
    background: url('../../../img/rent/helper/transport/sides.png') no-repeat 0 0;
    height: 16px;
}

#transportHlp_popup_modal > fieldset > legend > div.delivery
{
    background-position: 0 0;
}
#transportHlp_popup_modal > fieldset > legend > div.recovery
{
    background-position: 0 -16px;
}

#transportHlp_popup_modal.side_d > fieldset > legend > div.delivery,
#transportHlp_popup_modal.side_r > fieldset > legend > div.recovery
{
    display: block;
}

#transportHlp_popup_modal > fieldset > table
{
    margin: 4px 0 8px 0;
    width: 100%;
}

#transportHlp_popup_amount
{
    width: 90px;
}

#transportHlp_popup_modal > fieldset > table > tbody > tr > td.label
{
    white-space: nowrap;
    padding-right: 30px;
}

#transportHlp_popup_modal > fieldset > table > tbody > tr > td.content
{
    width: 100%;
}

#transportHlp_popup_modal.side_d #transportHlp_popup_tsfToAgc
{
    display: none;
}

#transportHlp_popup_modal #transportHlp_popup_noSync td
{
    padding-top: 8px;
}

#transportHlp_popup_modal input[type=checkbox]:checked + label
{
    text-decoration: underline;
}

#transportHlp_popup_modal input[type=checkbox]:disabled + label
{
    color: #aaaaaa;
}

#transportHlp_popup_cttsRow.txt_self > td > p.text > span.self,
#transportHlp_popup_cttsRow.txt_std > td > p.text > span.std
{
    font-weight: bold;
}

#transportHlp_popup_cttsRow > td > div.content
{
    position: relative;
    border: 1px solid #bcd4e2;
    background-color: #fafaff;
    padding: 5px;
    margin: 10px 0;
    border-radius: 3px;
}

#transportHlp_popup_cttsRow.error > td  > div.content
{
    border: 1px solid #ff8080;
    background-color: #ffefef;
}

#transportHlp_popup_cttsRow > td > div.content > div.legend
{
    margin-bottom: 8px;
}

#transportHlp_popup_cttsRow > td > div.content > div.legend > span.title
{
    font-style: italic;
    vertical-align: text-bottom;
    line-height: 18px;
}

#transportHlp_popup_cttsRow > td > div.content > div.msg
{
    display: none;
    margin-top: 10px;
}

#transportHlp_popup_cttsRow.msg > td > div.content > div.msg
{
    display: block;
}

#transportHlp_popup_cttsRow > td > div.msgVisibility
{
    display: none;
    /*margin-top: 10px;*/
}

#transportHlp_popup_cttsRow.msgVisibility > td > div.msgVisibility
{
    display: block;
}


#transportHlp_popup_cttsRow.disabled > td > div.content
{
    border-color: #e2e2e2;
    background-color: #fafafa;
}

#transportHlp_popup_cttsRow.disabled > td > div.content > div.legend > span.title,
#transportHlp_popup_cttsRow.disabled > td > div.content div.errorIcon,
#transportHlp_popup_cttsRow.disabled > td > div.content div.infosCplIcon,
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#transportHlp_popup_refreshBtn
{
    position: absolute;
    right: 5px;
    top: 7px;
}

#transportHlp_popup_ctts
{
    width: 100%;
}

#transportHlp_popup_ctts > tbody > tr.fatalError
{
    background-color: #ffe5e6;
}

#transportHlp_popup_ctts > tbody > tr.fatalError:hover
{
    background-color: #ffc5c8;
}

#transportHlp_popup_modal.side_r #transportHlp_popup_ctts .parkNumber,
#transportHlp_popup_modal.side_d #transportHlp_popup_ctts #sider,
#transportHlp_popup_modal.side_r #transportHlp_popup_ctts #sided
{
    display: none;
}

#transportHlp_popup_ctts > tbody.rows > tr > td.isPlanned,
#transportHlp_popup_ctts > tbody.rows > tr > td.isSelf
{
    background: transparent url("../../../img/no.png") no-repeat center center;
}

#transportHlp_popup_ctts > tbody.rows > tr > td.isPlanned.yes,
#transportHlp_popup_ctts > tbody.rows > tr > td.isSelf.yes
{
    background-image: url("../../../img/yes.png");
}

#transportHlp_popup_ctts > tbody.rows > tr > td.errors > div,
#transportHlp_popup_ctts > tbody.rows > tr > td.infosCpl > div
{
    margin-left: 4px;
    white-space: nowrap;
}

#transportHlp_popup_ctts > tbody.msgs > tr
{
    display: none;
}
#transportHlp_popup_ctts.msg > tbody.rows
{
    display: none;
}
#transportHlp_popup_ctts.msg.noResult > tbody.msgs > tr.noResult,
#transportHlp_popup_ctts.msg.loading > tbody.msgs > tr.loading,
#transportHlp_popup_ctts.msg.error > tbody.msgs > tr.error
{
    text-align: center;
    display: table-row;
    height: 16px;
}

#transportHlp_doUndoConfirmPopup > ul.choices > li > div.text > div.contract
{
    display: inline-block;
    padding: 6px 16px;
    margin: 10px 0 0 16px;
    background-color: #eaf6fc;
    border: 1px dashed #49AAFF;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
}

#transportHlp_doUndoConfirmPopup > ul.choices > li > div.text > div.contract > div.code
{
    margin-bottom: 4px;
}

#transportHlp_doUndoConfirmPopup > ul.choices > li:hover > div.text > div.contract
{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.35);
}
