<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr_FR" xml:lang="fr_FR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Déblocage du compte client <%customer.code> (<%customer.name>)</title>
<style>
body
{
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 10pt;
}
table.signature
{
    margin-top: 35px;
    font-size: 9pt;
}
table.signature td.logo
{
    padding-right: 15px;
}
p.user
{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.label
{
    font-weight: bold;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.address
{
    font-size: 7pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

table.infos
{
    padding: 0px;
    margin: 5px 0;
}
table.infos td
{
    vertical-align: top;
    padding: 0px;
}

table.infos tr
{
    margin: 0;
}
table.infos tr.last
{
    margin-bottom: 35px;
}

table.infos tr.hidden
{
    display: none;
}


table.infos td.label:first-letter
{
    font-weight: bold;
}

table.infos td.content
{
    padding-left: 5px;
}

</style>
</head>

<body>

<p><b>Demande de déblocage pour :</b></p>

<table cellspacing="0" cellpadding="0" class="infos">
<tr>
    <td class="label">Type de déblocage :</td><td class="content"><%typ:Nouveau|create><%typ:Prolongation|update></td>
</tr>
<tr>
    <td class="label">Code :</td><td class="content"><a href="<%customer.url>"><%customer.code></a></td>
</tr>
<tr>
    <td class="label">Raison sociale :</td><td class="content"><%customer.name></td>
</tr>
<tr>
    <td class="label">Agence :</td><td class="content"><%document.agency></td>
</tr>
<tr>
    <td class="label"><%doc:Contrat|contract><%doc:Devis|estimate> :</td><td class="content"><a href="<%document.url>"><%document.code></a></td>
</tr>
<tr class="<%hid:hidden|estimate>">
    <td class="label">Modèle de machine :</td><td class="content"><%model.name></td>
</tr>
<tr>
    <td class="label">N° commande :</td><td class="content"><%document.orderNo></td>
</tr>
<tr class="<%hid:hidden|estimate,create>">
    <td class="label">Anciennes dates :</td><td class="content"><%dte:document.oldBeginDate|10|fr_FR> au <%dte:document.oldEndDate|10|fr_FR> (<%dur:document.oldDuration|jour|jours>)</td>
</tr>
<tr class="<%hid:hidden|estimate,emptyDates>">
    <td class="label">Dates :</td><td class="content"><%dte:document.newBeginDate|10|fr_FR> au <%dte:document.newEndDate|10|fr_FR> (<%dur:document.newDuration|jour|jours>)</td>
</tr>
<tr class="<%hid:hidden|estimate,dates>">
    <td class="label">Dates :</td><td class="content">Non renseignées</td>
</tr>
<tr class="<%hid:hidden|create>">
    <td class="label">Ancien montant :</td><td class="content"><%cur:document.oldAmount|2|€|fr_FR></td>
</tr>
<tr>
    <td class="label">Montant :</td><td class="content"><%cur:document.newAmount|2|€|fr_FR></td>
</tr>
<tr class="last">
    <td class="label">Commentaire :</td><td class="content"><%comment></td>
</tr>
</table>


<table class="signature">
<tr>
<td class="logo"><img src="cid:logo-ai-email.png" /></td>
<td>
<p class="user"><%user.firstName> <%user.name></p>
<p class="agency label">Acces industrie <%agency.label></p>
<p class="agency address">
<%agency.address><br />
<%agency.postalCode> <%agency.city><br />
Tél. <%agency.telephone><br />
Fax <%agency.fax>
</p>
</td>
</tr>
</table>
</body>

</html>