td.label
{
    vertical-align: top;
}

table.formTable
{
    width: auto;
}

table.formTable td.country
{
    text-align: right;
    vertical-align: middle;
}

[id^=label]
{
    width: 25em;
}

#elevation
{
    width: 6em;
}
