body
{
    margin: 0;
    font-family: Verdana, Arial, 'Bitstream Vera Sans', Helvetica, Sans-Serif;
    font-size: 8pt;
    color: black;
    cursor: default;
    background-color: white;
}

body *
{
    outline: none;
}

/* Définition des styles de base */
a
{
    text-decoration: none;
    color: black;
}
a:link, a:active, a:visited
{
    text-decoration: none;
    color: #E04B25;
}
a:hover
{
    text-decoration: underline;
    color: #E04B25;
}
fieldset
{
    border: 1px solid #A5D0E9;
    display: block;
    margin: 0;
    padding: 0px 3px 3px 3px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #dde;
}
fieldset legend
{
    color: #007AC2;
    font-weight: bold;
    padding: 0 2px;
    margin: 0 0 3px 0;
    font-size: 8pt;
    text-shadow: 1px 2px 1px #dde;
}
fieldset.disabled
{
    border-color: #c9c9c9;
}
fieldset.disabled legend
{
    color: #737373;
}
pre
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, 'Bitstream Vera Sans', Helvetica, Sans-Serif;
    font-size: 8pt;
    color: black;
}
table
{
    border: none;
    padding: 0;
    margin: 0;
    border-spacing: 0px;
}
table td
{
    padding: 0;
    font-size: 8pt;
}
table th
{
    text-align: left;
    font-size: 8pt;
}
img
{
    border: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
div
{
    padding: 0;
    margin: 0;
}
hr
{
    border: 0;
    border-top: 1px solid #72B5DD;
    border-left: 1px solid #72B5DD;
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    width: 97%;
    height: 2px;
    margin: 5px 0 0 0;
    text-align: center;
}


/* Affichage des messages */
table.msgError, table.msgWarning, table.msgHelp, table.msgInfo, table.msgValid
{
    margin-bottom: 5px;
}
table.msgError
{
    width: 100%;
    background-color: #FAE6E8;
    border: 1px #D81E34 solid;
}
table.msgWarning
{
    width: 100%;
    background-color: #FFFAE5;
    border: 1px #FFD719 solid;
}
table.msgHelp
{
    width: 100%;
    background-color: #EAEEF6;
    border: 1px #4A68AE solid;
}
table.msgInfo
{
    width: 100%;
    background-color: #EAEEF6;
    border: 1px #4A68AE solid;
}
table.msgValid
{
    width: 100%;
    background-color: #EBF3EE;
    border: 1px #4F9767 solid;
}

/* Boutons, champs texte, liste... */
input[type=text],
input[type=password],
input[type=button],
input[type=submit],
input[type=file],
select, textarea
{
    font-family: Verdana, Arial, 'Bitstream Vera Sans', Helvetica, Sans-Serif;
    font-size: 8pt;
}

select
{
    color: black;
    border: 1px solid #66AFDA;
    background: white url('../img/base/form/text/bg.gif') top left repeat-x;
}

input[type=button],
input[type=submit]
{
    padding: 0 2px 1px 2px;
    cursor: pointer;
    color: #595B5D;
    border: 1px outset #A3A5A7;
    border-top: 1px solid #C4C4C5;
    border-left: 1px solid #C4C4C5;
    background: #F5F7F8 url('../img/base/form/button/bg.gif');
    text-decoration: none;
    margin: 0;
}

input[type=submit].submited
{
    cursor: progress;
    color: dimgray;
    border: 1px solid darkgray;
    background: lightgrey;
}

input[type=checkbox],
input[type=radio]
{
    vertical-align: middle;
    padding: 0;
    margin: 1px 0;
}

input[type=checkbox]:focus,
input[type=radio]:focus
{
    outline: 2px dashed #99cc00;
}

input[type=text],
input[type=password],
textarea
{
    padding: 1px 1px;
    margin: 1px 0;
    color: black;
    border: 1px solid #66AFDA;
    background: white url('../img/base/form/text/bg.gif') top left repeat-x;
}

textarea
{
    overflow: auto;
}

input[type=file]
{
    color: black;
    padding: 1px 2px;
    margin: 1px 0;
    text-decoration: none;
    border: 1px solid #A3A5A7;
    border-top: 1px solid #C4C4C5;
    border-left: 1px solid #C4C4C5;
    background: white url('../img/base/form/text/bg.gif') top left repeat-x;
}

input[type=button]:hover,
input[type=password]:hover,
input[type=submit]:hover
{
    color: #395500;
    background: #F4FADF url('../img/base/form/button/bgHover.gif');
    border: 1px outset #80AA00;
    border-top: 1px solid #99CC00;
    border-left: 1px solid #99CC00;
}

input[type=submit].submited:hover
{
    cursor: progress;
    color: dimgray;
    border: 1px solid dimgray;
    background: lightgrey;
}

select:hover, select:focus
{
    color: black;
    border: 1px solid #99CC00;
    background: white url('../img/base/form/text/bgHover.gif') top left repeat-x;
}

input[type=text]:hover, input[type=text]:focus,
input[type=password]:hover, input[type=password]:focus,
textarea:hover, textarea:focus
{
    border: 1px solid #99CC00;
    background: white url('../img/base/form/text/bgHover.gif') top left repeat-x;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus
{
    color: #600030;
}

input[type=text],
input[type=password],
input[type=button],
input[type=submit],
select,
textarea
{
    border-radius: 2px;
}

/* Erreur de saisie sur une zone de texte */
input[type=text].error,
input[type=password].error,
select.error,
textarea.error
{
    border: 1px solid #ff8080;
    background: white url('../img/base/form/text/bgError.gif') top left repeat-x;
}

.hidden-submit
{
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}




label
{
    vertical-align: middle;
}

input + label
{
    padding-left: 4px;
}

/* Tableaux standards */
table.standard
{
    border-top: 1px solid #66AFDA;
    border-bottom: 1px solid #007AC2;
    border-left: 1px solid #66AFDA;
    border-right: 1px solid #007AC2;
    vertical-align: middle;
    text-align: left;
    box-shadow: 1px 1px 2px #dde;
}
table.standard:hover
{
    border-color: #007AC2;
    box-shadow: 1px 1px 3px #bbc;
}
table.standard th
{
    color: black;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 3px 5px 4px 5px;
    background: #E8F3F9 url(../img/base/table/bgHeader.gif) repeat-x left bottom;
    white-space: nowrap;
}
table.standard tr.hover
{
    background-color: #FCF2CC;
}
table.standard tr.rowBg1
{
    background-color: #FFFFFF;
}
table.standard tr.rowBg0,
table.standard tr.rowBg2
{
    background-color: #F6F6FB;
}
table.standard td
{
    border-bottom: 1px solid #CCE4F2;
    padding: 0 5px 0 5px;
}

table.standard.ex tr:hover
{
    background-color: #FCF2CC;
}


table.basic
{
    border: 1px solid #66afda;
    border-bottom-color: #007ac2;
    border-right-color: #007ac2;
    vertical-align: middle;
    text-align: left;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #dde;
}
table.basic:hover
{
    border-color: #007ac2;
    box-shadow: 1px 1px 3px #bbc;
}
table.basic > thead > tr
{
    background: #e8f3f9 url(../img/base/table/bgHeader.gif) repeat-x left bottom;
}
table.basic > thead > tr > th,
table.basic > thead > tr > td
{
    color: black;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 3px 5px 4px 5px;
    white-space: nowrap;
    text-shadow: 1px 1px 1px #ccc;

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
table.basic > tbody > tr
{
    background-color: #ffffff;
}
table.basic > tbody > tr > td
{
    border-bottom: 1px solid #cce4f2;
    padding: 0 5px 0 5px;
}
table.basic > tbody > tr:hover
{
    background-color: #fcf2cc;
}

table.basic > tfoot > tr > td
{
    background-color: #f5f6f5;
}

table.basic > tfoot > tr > td
{
    border-top: 1px solid #f1edee;
    padding: 0 5px 0 5px;
}

table.basic > tbody > tr.even
{
    background-color: #f6f6fb;
}
table.basic > tbody > tr.even:hover
{
    background-color: #fcf2cc;
}

table.basic.disabled
{
    border-color: #9a9a9a;
    border-bottom-color: #585858;
    border-right-color: #585858;
}
table.basic.disabled:hover
{
    border-color: #686868;
}
table.basic.disabled > thead > tr
{
    background: #f0f0f0 url(../img/base/table/bgHeaderDisabled.gif) repeat-x left bottom;
}
table.basic.disabled > thead > tr > th,
table.basic.disabled > thead > tr > td
{
    color: #757575;
}
table.basic.disabled > tbody > tr > td
{
    border-bottom-color: #dddddd;
    color: #656565;
}
table.basic.disabled > tbody > tr:hover
{
    background-color: #e7e7e7;
}

table.basic.disabled > tfoot > tr > td
{
    background-color: #f5f5f5;
}

table.basic.disabled > tfoot > tr > td
{
    border-top-color: #efefef;
}

table.basic.disabled > tbody > tr.even
{
    background-color: #f7f7f7;
}
table.basic.disabled > tbody > tr.even:hover
{
    background-color: #e7e7e7;
}




/* Liens */
a
{
    cursor: pointer;
}

a:link, a:active, a:visited
{
    color: #669ACB;
    text-decoration: none;
    border: none;
}
a:hover
{
    text-decoration: underline;
    border-bottom: 1px solid #BFDDEF;
    color: #007AC2;
    border: none;
}

/* Liens de type bouton de contrôle */
a.locCtrlButton:link, a.locCtrlButton:active, a.locCtrlButton:visited
{
    text-decoration: none;
    font-weight: bold;
    border: none;
    color: #007AC2;
    white-space: nowrap;
    text-shadow: 0 1px 1px #ccc;
}
a.locCtrlButton:hover
{
    text-decoration: none;
    font-weight: bold;
    border: none;
    color: #004B78;
    text-shadow: 1px 1px 4px #aaa;
}
a.locCtrlButton:focus
{
    color: #004b78;
}
a.locCtrlButton > img
{
    vertical-align: middle;
    opacity: 0.75;
}
a.locCtrlButton[data-imgshover] > img,
a.locCtrlButton:hover > img
{
    opacity: 1;
}

a.locCtrlButton.disabled
{
    color: #aaaaaa;
    cursor: default;
}
a.locCtrlButton.disabled > img
{
    opacity: 0.5 !important;
}

a.locCtrlButton.disabled:hover
{
    text-shadow: 0 1px 1px #ccc;
}


/* Bouton du calendrier */
a.locCalendarButton img
{
    vertical-align: bottom;
    margin-left: 1px;
    margin-top: -1px;
}

/* Control Panels */
div.locControlPanel
{
    position: relative;
    background-color: #dff1fb;
    margin: 1px;
    padding: 0;
    min-height: 25px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #ccc;
}

div.locControlPanel > div
{
    z-index: 1;
    position: absolute;
    background: transparent url(../img/base/controlPanels/bg.png) no-repeat 0 0;
}

div.locControlPanel > div.c_tl
{
    background-position: 0 0;
    left: 0;
    top: 0;
    width: 4px;
    height: 12px;
}

div.locControlPanel > div.c_tr
{
    background-position: 0 -50px;
    right: 0;
    top: 0;
    width: 4px;
    height: 12px;
}

div.locControlPanel > div.c_bl
{
    background-position: 0 -13px;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 12px;
}

div.locControlPanel > div.c_br
{
    background-position: 0 -63px;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 12px;
}

div.locControlPanel > div.b_t
{
    background-repeat: repeat-x;
    background-position: 0 -25px;
    left: 4px;
    right: 4px;
    top: 0;
    height: 12px;
}

div.locControlPanel > div.b_b
{
    background-repeat: repeat-x;
    background-position: 0 -38px;
    left: 4px;
    right: 4px;
    bottom: 0;
    height: 12px;
}

div.locControlPanel > div.b_l
{
    background: none;
    border-left: 1px solid #b5e1f5;
    border-right: 1px solid #e9f5fd;
    left: 0;
    top: 12px;
    bottom: 12px;
    width: 0;
}

div.locControlPanel > div.b_r
{
    background: none;
    border-left: 1px solid #e9f5fd;
    border-right: 1px solid #b5e1f5;
    right: 0;
    top: 12px;
    bottom: 12px;
    width: 0;
}

div.locControlPanel > table
{
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 2;
    width: 100%;
}

div.locControlPanel > table > tbody > tr > td
{
    line-height: 21px;
    vertical-align: middle;
}

div.locControlPanel > table > tbody > tr > td.left
{
    padding: 2px 0 2px 8px;
    text-align: left;
}

div.locControlPanel > table > tbody > tr > td.middle
{
    padding: 2px 8px;
    text-align: center;
}

div.locControlPanel > table > tbody > tr > td.right
{
    padding: 2px 8px 2px 0;
    text-align: right;
}

div.locControlPanel.middle
{
    margin: 2px 0;
}

div.locControlPanel.top
{
    margin: 2px 0 6px 0;
}

div.locControlPanel.bottom
{
    margin: 6px 0 2px 0;
}

div.locControlPanel div.cpanel_grp
{
    display: inline-block;
    padding: 0 4px;
    margin: 0;
}

div.locControlPanel div.cpanel_grp > label
{
    font-size: 8pt;
    color: gray;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
    margin-right: 4px;
    line-height: 21px;
}

div.locControlPanel div.cpanel_grp:hover > label
{
    color: #5e5e5e;
    text-shadow: 1px 1px 3px #ccc;
}

div.locControlPanel div.cpanel_sep_l
{
    background: transparent url(../img/base/controlPanels/sep.png) no-repeat left center;
    padding-left: 12px;
    margin-left: 8px;
}

div.locControlPanel div.cpanel_sep_r
{
    background: transparent url(../img/base/controlPanels/sep.png) no-repeat right center;
    padding-right: 14px;
    margin-right: 8px;
}


/* Booléen */
div.locBoolean
{
    display: inline-block;
    height: 16px;
    padding-left: 16px;
    line-height: 16px;
    background: transparent url(../img/base/boolean/icons.png) no-repeat 0 0;
}

div.locBoolean.yes
{
    background-position: 0 -16px;
}

div.locBoolean.unknown
{
    background-position: 0 -32px;
}

/* Barre de recherche */
table.locSearchBar > tbody > tr > td.filters > div.more
{
    display: none;
}

table.locSearchBar.more.expand > tbody > tr > td.filters > div.more
{
    display: block;
}

table.locSearchBar > tbody > tr > td.title
{
    padding-right: 15px;
}

table.locSearchBar > tbody > tr > td.title > a
{
    display: block;
    color: grey;
    font-style: italic;
    line-height: 16px;
}

table.locSearchBar > tbody > tr > td.title > a:first-letter
{
    font-weight: bold;
}

table.locSearchBar > tbody > tr > td.title > a:hover
{
    text-decoration: none;
    cursor: default;
}

table.locSearchBar.more > tbody > tr > td.title > a
{
    background: url(../img/base/searchBar/buttons.png) no-repeat right 0;
    padding-right: 20px;
}

table.locSearchBar.more > tbody > tr > td.title > a:hover
{
    background-position: right -32px;
    color: black;
    cursor: pointer;
}

table.locSearchBar.more.expand > tbody > tr > td.title > a
{
    background-position: right -16px;
}

table.locSearchBar.more.expand > tbody > tr > td.title > a:hover
{
    background-position: right -48px;
}

table.locSearchBar > tbody > tr > td.filters > div > div.filter
{
    display: inline;
    padding-right: 8px;
}

table.locSearchBar > tbody > tr > td.filters > div > div.filter > div.name
{
    display: inline;
    background: url(../img/base/searchBar/bullet.png) no-repeat left center;
    font-weight: bold;
    padding: 0 6px 0 8px;
    margin: 0;
}

table.locSearchBar > tbody > tr > td.filters > div > div.filter > div.input
{
    display: inline;
    padding: 0;
    margin: 0;
}

table.locSearchBar > tbody > tr > td.controls > a.button
{
    float: left;
    display: block;
    background: url(../img/base/searchBar/buttons.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    margin: 0 2px;
}

table.locSearchBar > tbody > tr > td.controls > a.button.go
{
    background-position: 0 -64px;
}

table.locSearchBar > tbody > tr > td.controls > a.button.go:hover
{
    background-position: 0 -96px;
}

table.locSearchBar.search > tbody > tr > td.controls
{
    background: url(../img/loading2.gif) no-repeat center center;
}

table.locSearchBar.search > tbody > tr > td.controls > a.button
{
    visibility: hidden;
}

table.locSearchBar > tbody > tr > td.controls > a.button.clear
{
    background-position: 0 -80px;
}

table.locSearchBar > tbody > tr > td.controls > a.button.clear:hover
{
    background-position: 0 -112px;
}



/* Affichage des messages */
div.locMessage
{
    min-height: 30px;
    margin: 1px 0 0 0;
}

div.locMessage div.error, div.locMessage div.warning,
div.locMessage div.help, div.locMessage div.info,
div.locMessage div.valid
{
    position: relative;
    margin: -24px 0 0 30px;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 7.5pt;
}

div.locMessage div.error
{
    color: #920e0e;
}

div.locMessage div.warning
{
    color: #513308;
}

div.locMessage div.help
{
    color: #1c80d8;
}

div.locMessage div.info
{
    color: #095db1;
}

div.locMessage div.valid
{
    color: #40ab0d;
}

select[disabled]
{
    color: #4a4a4a !important;
    opacity: 1 !important;
    border: 1px solid #95a3ac !important;
    background: #f8f8f8 !important;
}

input[disabled][type=text],
input[disabled][type=password],
textarea[disabled]
{
    color: #4a4a4a !important;
    opacity: 1 !important;
    border: 1px solid #95a3ac !important;
    background: #f8f8f8 !important;
}

input[readonly],
select[readonly],
textarea[readonly]
{
    color: #5A5A5A !important;
    opacity: 1 !important;
}

/* Champ date */
.locDate
{
    display: inline-block;
    position: relative;
}

.locDate.clearable > input
{
    padding-right: 20px;
    z-index: 1;
}

.locDate > .clear-btn
{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: 3px 3px;
    padding: 0;
    height: 11px;
    height: 13px;
    border-radius: 1px;
    line-height: 13px;
    color: #333;
    z-index: 2;
}

.locDate > .clear-btn:hover
{
    background: rgba(0, 0, 0, 0.15);
    color: #000;
}

.locDate > .clear-btn::after
{
    content: '×';
    line-height: inherit;
    color: inherit;
}

/* InfoBulle */
div.tooltip
{
    position: absolute;
    z-index: 1000000000;
    min-width: 100px;
    max-width: 242px;
    background: white url('../img/base/tooltip/bg.png') no-repeat top left;
    border: 1px solid #a5cdf0;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
       -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    border-radius: 3px;
    color: #404040;
    font-size: 7pt;
    padding: 2px 4px;
}

div.tooltipIcon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/base/tooltip/icons.png') no-repeat 0 0;
    line-height: 16px;
}

div.tooltipIcon.help
{
    cursor: help;
}

div.tooltipIcon.info
{
    background-position: 0 -16px;
}

div.tooltipIcon.clock
{
    background-position: -16px 0;
}

div.tooltipIcon.comment
{
    background-position: -16px -16px;
}


/* Boutons d'impression */
div.printButtons
{
    display: inline-block;
    vertical-align: middle;
}
div.printButtons > span.label
{
    color: gray;
    font-weight: normal;
    font-style: normal;
    vertical-align: top;
    line-height: 16px;
    margin-right: 4px;
}
div.printButtons > a
{
    display: inline-block;
    margin: 0px 3px;
    width: 16px;
    height: 16px;
    background: transparent url('../img/base/printButtons/icons.png') no-repeat 0 0;
}
div.printButtons > a.pdf
{
    background-position: -16px 0;
}
div.printButtons > a.mail
{
    background-position: -32px 0;
}
div.printButtons > a:hover.print
{
    background-position: 0 -16px;
}
div.printButtons > a:hover.pdf
{
    background-position: -16px -16px;
}
div.printButtons > a:hover.mail
{
    background-position: -32px -16px;
}
div.printButtons.disabled
{
    display: none;
}


/* Extensions de fichiers */
div.fileExtension
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url("../img/base/files/types.png") no-repeat 0 0;
    line-height: 16px;
}

div.fileExtension.doc
{
    background-position: -16px 0;
}
div.fileExtension.xls
{
    background-position: 0 -16px;
}
div.fileExtension.pdf
{
    background-position: -16px -16px;
}
div.fileExtension.jpg
{
    background-position: 0 -32px;
}
div.fileExtension.png
{
    background-position: -16px -32px;
}
div.fileExtension.zip
{
    background-position: 0 -48px;
}
div.fileExtension.csv
{
    background-position: -16px -48px;
}
div.fileExtension.txt
{
    background-position: 0 -64px;
}
div.fileExtension.ppt
{
    background-position: -16px -64px;
}


/* IMPRESSION */
@media print
{
    @page
    {
        size: A4 landscape;
        margin: 1cm;
    }

    body
    {
        font-size: 6pt;
        background: white;
        overflow: visible;
        padding: 2mm;
    }

    table.standard th
    {
        background: #E8F3F9;
        border-bottom: 1px solid #b3d7ed;
    }
}

/* Comportements IE */
::-ms-clear {
    display: none;
}

/* Modal */
.confirmModal
{
    padding: 6px;
}

.confirmModal > h3
{
    padding: 0 8px 4px 8px;
    text-align: left;
    color: #444;
    font-size: 8pt;
    font-weight: bold;
}

.confirmModal > ul.choices
{
    list-style: none;
    margin: 8px 0;
    padding: 0 6px;
}

.confirmModal > ul.choices > li
{
    display: table;
    padding: 8px 8px;
    margin: 0 0 6px 0;
    text-align: left;
    overflow: hidden;

    border: 1px solid #b6e2f6;
    border-radius: 3px;

    background: #ecf6fc; /* Old browsers */
    background: -moz-linear-gradient(top, #ecf6fc 14%, #dceffc 63%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#ecf6fc), color-stop(63%,#dceffc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ecf6fc 14%,#dceffc 63%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ecf6fc 14%,#dceffc 63%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ecf6fc 14%,#dceffc 63%); /* IE10+ */
    background: linear-gradient(to bottom, #ecf6fc 14%,#dceffc 63%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf6fc', endColorstr='#dceffc',GradientType=0 ); /* IE6-9 */

    box-shadow: 1px 1px 2px #dadada;

    width: 100%;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.confirmModal > ul.choices > li.none
{
    margin-top: 12px;
    border-color: #d0d5da;

    background: #f1f6fb; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f6fb 14%, #e1e6eb 63%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#f1f6fb), color-stop(63%,#e1e6eb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f1f6fb 14%,#e1e6eb 63%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f1f6fb 14%,#e1e6eb 63%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1f6fb 14%,#e1e6eb 63%); /* IE10+ */
    background: linear-gradient(to bottom, #f1f6fb 14%,#e1e6eb 63%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f6fb', endColorstr='#e1e6eb',GradientType=0 ); /* IE6-9 */
}

.confirmModal > ul.choices > li > div.icon
{
    display: table-cell;
    width: 30px;
    background: transparent url("../img/base/confirmModal/btns.png") no-repeat 0 center;
}

.confirmModal > ul.choices > li.none > div.icon
{
    background-position: -60px center;
}

.confirmModal > ul.choices > li > div.text
{
    display: table-cell;
    margin: 0;
    padding: 3px 12px;
    border: 0;
    background: transparent;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    color: #222;
    vertical-align: middle;
    line-height: 16px;
}

.confirmModal > ul.choices > li.disabled > div.text
{
    color: #666;
}

.confirmModal > ul.choices > li > div.text > progress
{
    margin-left: 20px;
    display: inline-block;
}
.confirmModal > ul.choices > li:not(.disabled) > div.text > progress
{
    display: none;
}

.confirmModal > ul.choices > li > div.ctrls
{
    display: table-cell;
    vertical-align: middle;
}

.confirmModal > ul.choices > li > div.ctrls > button
{
    border: 1px solid #366f9e;
    border-radius: 2px;
    margin: 4px;
    height: 26px;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    background: #2899d6;
    cursor: pointer;

    float: right;
}

.confirmModal > ul.choices > li > div.ctrls > button:disabled
{
    cursor: default;
}

.confirmModal > ul.choices > li.none > div.ctrls > button
{
    background: #5b89a3;
    border-color: #406e88;
}

.confirmModal > ul.choices > li > div.ctrls > button > span
{
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 11px;
    font-weight: bold;
    background: transparent;
    white-space: nowrap;
}

.confirmModal > ul.choices > li:not(.disabled) > div.ctrls > button:hover
{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(255, 255, 255, 0.5);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0, transparent 100%);
    background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0, transparent 100%);
    background-image:         linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0, transparent 100%);
}

.confirmModal > ul.choices > li:not(.disabled) > div.ctrls > button:active
{
    border-color: #2c5b82;
    background: #999;
    box-shadow: 0 0 0 #000, 0 0 1px rgba(255, 255, 255, 0.5), inset 0 1px 3px rgba(0, 0, 0, 0.25);

    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0, transparent 100%);
    background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0.3) 0, transparent 100%);
    background-image:         linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0, transparent 100%);
}

.confirmModal > ul.choices > li > div.ctrls > button:disabled
{
    border-color: #aaa !important;
    background: #ccc !important;
}

.confirmModal > ul.choices > li > div.ctrls > button:disabled > span
{
    color: #888 !important;
}


.confirmModal > ul.choices > li:not(.disabled):hover
{
    box-shadow: 1px 1px 3px #999;
}

.confirmModal > ul.choices > li:not(.disabled):hover > div.icon
{
    background-position: -30px center;
}

.confirmModal > ul.choices > li.none:not(.disabled):hover > div.icon
{
    background-position: -90px center;
}

.confirmModal > ul.choices > li:not(.disabled):hover > div.text > div.contract
{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.35);
}

/* Recherche dynamique */
.dynamicSearch
{
    position: relative;
    display: none;
}

.dynamicSearch > .container
{
    position: absolute;
    min-width: 300px;
    max-width: 100%;
    border: 1px solid #66AFDA;
    border-radius: 2px;
    background-color: #f5fbff;
    box-shadow: 1px 1px 2px #dde;
    z-index: 5;
}

.dynamicSearch .loading
{
    background: url('../img/loading2.gif') no-repeat 6px center;
    padding: 6px 6px 6px 28px;
    font-style: italic;
}

.dynamicSearch .error
{
    display: none;
    background: url('../img/iconError.gif') no-repeat 6px center;
    padding: 6px 6px 6px 28px;
    color: #B71C1C;
}

.dynamicSearch ul
{
    margin: 0;
    padding: 3px 0;
    list-style-type: none;
}

.dynamicSearch ul > li
{
    margin: 0;
    padding: 3px 6px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dynamicSearch ul > li.selected
{
    background-color: #A5D0E9;
}

