span.locPlgCurrenciesElt
{
    position: relative;
    display: inline;
}

span.locPlgCurrenciesElt > input[type=text]
{
    text-align: right;
}

span.locPlgCurrenciesElt:hover > input[type=text],
span.locPlgCurrenciesElt > input[type=text]:hover
{
    font-weight: bold;
    color: #404040;
}

span.locPlgCurrenciesElt > input[type=text]:focus
{
    font-weight: bold;
    color: black;
}

span.locPlgCurrenciesElt.disabled > input[type=text]
{
    color: #4a4a4a;
}

span.locPlgCurrenciesElt.disabled:hover > input[type=text],
span.locPlgCurrenciesElt.disabled > input[type=text]:hover
{
    font-weight: auto;
}

span.locPlgCurrenciesElt.disabled
{
    color: #4a4a4a;
}

.clonedCurrencies
{
    display: none;
}