.dropdown
{
    display: inline-block;
}

.dropdown-button
{
    display: inline-block;
    padding: 1px;
}

.dropdown-toggle-split
{
    display: inline-block;
    padding: 8px;
    margin: -4px;
    cursor: pointer;
}

.dropdown.disabled .dropdown-toggle-split
{
    cursor: inherit;
}

.dropdown-toggle-split::after
{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    content: '';
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown.down .dropdown-toggle-split::after
{
    border-top: 4px solid #727272;
}

.dropdown.down .dropdown-toggle-split:hover::after
{
    border-top-color: #363636;
}

.dropdown.up .dropdown-toggle-split::after
{
    border-bottom: 4px solid #727272;
}

.dropdown.up .dropdown-toggle-split:hover::after
{
    border-bottom-color: #363636;
}

.dropdown.down.disabled .dropdown-toggle-split::after
{
    border-top-color: #AAAAAA;
}

.dropdown.up.disabled .dropdown-toggle-split::after
{
    border-bottom-color: #AAAAAA;
}

.dropdown-toggle-split:hover::after
{
    border-top-color: black;
}

.dropdown-menu
{
    position: absolute;
    border: 1px solid #56A7D7;
    background-color: #F1F1F1;
    box-shadow: 1px 1px 2px #bbc;
    padding: 2px;
    margin: 0;
    z-index: 1000;
}

.dropdown.left .dropdown-menu
{
    left: 0;
}

.dropdown.right .dropdown-menu
{
    right: 0;
}

.dropdown.down .dropdown-menu
{
    top: 100%;
}

.dropdown.up .dropdown-menu
{
    bottom: 100%;
}


.dropdown:not(.show) .dropdown-menu
{
    display: none;
}

.dropdown-item
{
    cursor: pointer; 
    border: 1px solid transparent; 
    border-radius: 2px; 
    padding: 0 6px; 
    line-height: 21px;
}

.dropdown-item:hover
{
    border-color: #a8d8eb; 
    background-color: #e5f0f5; 
}

.dropdown-item:active
{
    border-color: #7acbeb; 
    background-color: #d3eaf5; 
}

.dropdown.left .dropdown-item
{
    text-align: left;
}

.dropdown.right .dropdown-item
{
    text-align: right;
}

.dropdown-item-container,
.dropdown-item > .locCtrlButton
{
    display: table;
    width: 100%;
}

a.dropdown-item-container
{
    color: inherit;
    text-decoration: inherit;
}

.dropdown-item-icon
{
    display: table-cell;
    vertical-align: middle;
    width: 28px;
}

.dropdown-item-label
{
    display: table-cell;
    vertical-align: middle;
}
