/* Style général des fieldset */
fieldset
{
    padding: 3px 7px;
    background-color: #f5fbff;
    margin-top: 3px;
    margin-bottom: 3px;
}
fieldset.sub
{
    border: none;
    border-top: 1px solid #CCCCCC;
    border-radius: 0;
    background: none;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: none;
}
fieldset.sub legend
{
    color: #0068a5;
    font-weight: bold;
}
fieldset.disabled
{
    background-color: #fbfbfb;
}

/* Tables contenant un formulaire */
table.formTable
{
    text-align: left;
    border: none;
}

table.formTable tr
{
    padding: 0;
}

table.formTable td
{
    padding: 1px;
    padding-right: 5px;
}

table.formTable td.title
{
    text-align: left;
    font-weight: bold;
    padding: 2px 5px 6px 5px;
    color: #007AC2;
}

table.formTable td.label
{
    white-space: nowrap;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 10px;
    font-family: 'Arial', Helvetica;
}

table.formTable td.label:first-letter
{
    color: #900000;
}

table.formTable td.content
{
}

hr, hr.dotted
{
    height: 0px;
    border-width: 0px;
    border-top-width: 1px;
    margin: 5px 0px;
    width: 100%;
}

hr.dotted
{
    border-top-style: dotted;
}

div.messageBlock
{
    position: absolute;
    z-index: 100000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

div.messageBlock > div.popup
{
    position: relative;
    margin: auto;
    top: 50%;
    width: 400px;
    height: 150px;
    background: white;
    overflow: hidden;
    box-shadow: 0 0 20px #444;
    color: #444;
}
div.messageBlock.valid > div.popup
{
    height: 100px;
    margin-top: -50px;
    padding: 20px 20px 20px 95px;
    background-image: url("../img/common/dialog/valid.png");
    background-repeat: no-repeat;
    background-position: 15px 15px;
    background-color: #e7ffd5;
}
div.messageBlock.valid.warning > div.popup
{
    height: 200px;
    width: 450px;
    margin-top: -100px;
    background-image: url("../img/common/dialog/warning.png");
    background-color: #ffd4b0;
}
div.messageBlock.error > div.popup
{
    height: 200px;
    width: 450px;
    margin-top: -100px;
    padding: 20px 20px 20px 95px;
    background-image: url("../img/common/dialog/error.png");
    background-repeat: no-repeat;
    background-position: 15px 15px;
    background-color: #ffd9dd;
}

div.messageBlock > div.popup > div.content
{
    position: relative;
    overflow: auto;
    width : 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
}

div.messageBlock > div.popup > div.content > table
{
    width: 100%;
    height: 100%;
    max-height: 100%;
}

div.messageBlock > div.popup > div.content tr.buttons > td
{
    text-align: right;
    vertical-align: bottom;
}

div.messageBlock > div.popup > div.content tr.buttons > td > a.locCtrlButton
{
    display: inline-block;
    padding: 10px 10px 10px 6px;
    border-radius: 2px;
    color: #fff;
    text-shadow: none;
}
div.messageBlock.valid > div.popup > div.content tr.buttons > td > a.locCtrlButton
{
    background-color: #82b355;
}
div.messageBlock.valid.warning > div.popup > div.content tr.buttons > td > a.locCtrlButton
{
    background-color: #ff9a40;
}
div.messageBlock.error > div.popup > div.content tr.buttons > td > a.locCtrlButton
{
    background-color: #bf3d27;
}

div.messageBlock > div.popup > div.content ul.errors,
div.messageBlock > div.popup > div.content ul.warnings
{
    overflow: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100px;
}

div.messageBlock > div.popup > div.content ul.errors > li + li,
div.messageBlock > div.popup > div.content ul.warnings > li + li
{
    margin-top: 4px;
}

div.messageBlock > div.popup > div.content ul.errors > li .details,
div.messageBlock > div.popup > div.content ul.warnings > li .details
{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 85%;
    font-weight: normal;
}

div.messageBlock > div.popup > div.content ul.warnings
{
    display: none;
}

div.messageBlock.warning > div.popup > div.content ul.warnings
{
    display: block;
}

div.messageBlock > div.popup > div.content ul.warnings div.details,
div.messageBlock > div.popup > div.content ul.errors li[id^='error\.'][id$='\.details'] div
{
    font-style: italic;
    margin-left: 12px;
}

div.messageBlock > div.popup > div.content ul.errors li[id^='error\.'][id$='\.details']
{
    list-style-type: none;
    background: none;
}


.user.inactive
{
    text-decoration: line-through;
}

span.startcode
{
    display: inline-block;
    border: 1px solid #A5D0E9;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 8px;
    margin: 4px 12px 4px 6px;
    color: #222;
    text-align: center;
    width: 3em;
}

.action-btn::after
{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin-left: 2px;
}

.action-btn:hover::after
{
    background-position: -16px 0;
}

.action-btn.openRentEstimate::after
{
    background-image: url("../img/common/rentEstimate/ic_open_rent_estimate_16px.svg");
}

.action-btn.openRentContract::after
{
    background-image: url("../img/common/rentContract/ic_open_rent_contract_16px.svg");
}

.action-btn.convertIntoRentContract::after
{
    background-image: url("../img/common/rentContract/ic_convert_into_rent_contract_16px.svg");
}
