#locPlgModalWindow
{
    position: absolute;
    z-index: 100000000;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

#locPlgModalWindow > div.popup
{
    position: relative;
    margin: -150px auto auto auto;
    top: 50%;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 10px #7a7a7a;
    padding: 16px 12px;
}

#locPlgModalWindow > div.popup > a.close
{
    position: absolute;
    right: 8px;
    top: 8px;
    width : 24px;
    height: 24px;
    background: url("../img/base/modalWindow/close.gif") 0 0 no-repeat;
    z-index: 10;
}

#locPlgModalWindow > div.popup > a.close:hover
{
    background-position: 0 -24px;
}

#locPlgModalWindow > div.popup > div.content
{
    position: relative;
    overflow: auto;
    width : 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
}

#locPlgModalWindow > div.popup > div.content > iframe.iframeContent
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    z-index: 1;
}

#locPlgModalWindow.loading > div.popup > a.close
{
    background: url("../img/base/modalWindow/loading.gif") 0 0 no-repeat;
    cursor: default;
}

#locPlgModalWindow.error > div.popup
{
    border-color: #902636;
}

#locPlgModalWindow.error > div.popup > a.close:hover
{
    background-position: 0 -48px;
}


#locPlgModalWindow > div.spinner
{
    position: absolute;

    width: 80px;
    height: 32px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding-top: 3px;

    text-align: center;
}

#locPlgModalWindow > div.spinner > div
{
    width: 18px;
    height: 18px;
    background-color: #fff;
    margin: 3px;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#locPlgModalWindow > div.spinner .bounce1
{
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#locPlgModalWindow > div.spinner .bounce2
{
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

