/**
 * $Revision: 3071 $
 * $Date: 2009-11-30 11:10:18 +0100 (lun., 30 nov. 2009) $
 * $Author: jodesous $
 */


div.locPlgNotifElt
{
    position: relative;
    border: 1px solid #878787;
    border-left-width: 3px;
    margin: 4px 6px;
    padding: 4px 4px 4px 32px;
    overflow: hidden;
    border-radius: 2px;

    background: #a4a4a4; /* Old browsers */
    background: -moz-linear-gradient(top, #a4a4a4 14%, #8e8e8e 62%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#a4a4a4), color-stop(62%,#8e8e8e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a4a4a4 14%,#8e8e8e 62%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a4a4a4 14%,#8e8e8e 62%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a4a4a4 14%,#8e8e8e 62%); /* IE10+ */
    background: linear-gradient(to bottom, #a4a4a4 14%,#8e8e8e 62%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4a4a4', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */

    -webkit-transition: opacity 0.4s ease-out;
       -moz-transition: opacity 0.4s ease-out;
         -o-transition: opacity 0.4s ease-out;
            transition: opacity 0.4s ease-out;
}

div.locPlgNotifElt > div.icon
{
    position: absolute;
    background: transparent url("../img/base/notifications/bg.png") no-repeat 0 0;
    left: 8px;
    top: 2px;
    width: 24px;
    height: 24px;
}

div.locPlgNotifElt.actionable > div.icon
{
    top: 10px;
}

div.locPlgNotifElt.type_warning
{
    border-color: #c5964a;

    background: #eab560; /* Old browsers */
    background: -moz-linear-gradient(top, #eab560 14%, #eda737 62%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#eab560), color-stop(62%,#eda737)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eab560 14%,#eda737 62%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eab560 14%,#eda737 62%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eab560 14%,#eda737 62%); /* IE10+ */
    background: linear-gradient(to bottom, #eab560 14%,#eda737 62%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab560', endColorstr='#eda737',GradientType=0 ); /* IE6-9 */
}

div.locPlgNotifElt.type_warning > div.icon
{
    background-position: 0 -24px;
}

div.locPlgNotifElt.type_error
{
    border-color: #a7523d;

    background: #d56053; /* Old browsers */
    background: -moz-linear-gradient(top, #d56053 14%, #d03625 63%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#d56053), color-stop(63%,#d03625)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d56053 14%,#d03625 63%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d56053 14%,#d03625 63%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d56053 14%,#d03625 63%); /* IE10+ */
    background: linear-gradient(to bottom, #d56053 14%,#d03625 63%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d56053', endColorstr='#d03625',GradientType=0 ); /* IE6-9 */
}

div.locPlgNotifElt.type_error > div.icon
{
    background-position: 0 -48px;
}

div.locPlgNotifElt > div.msg
{
    margin: 0;
    padding: 3px 10px;
    border: 0;
    background: transparent;
    text-shadow: 0 0 1px #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    display: block;
}

div.locPlgNotifElt.actionable > div.msg
{
    padding: 10px;
}

div.locPlgNotifElt > div.msg > a,
div.locPlgNotifElt > div.msg :not(.locStandardParkNumber) > a
{
    color: white;
    text-decoration: underline;
    padding: 0 2px;
}

div.locPlgNotifElt > div.msg > a:hover,
div.locPlgNotifElt > div.msg :not(.locStandardParkNumber) > a:hover
{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

div.locPlgNotifElt > div.msg ul
{
    margin: 5px 0;
}


div.locPlgNotifElt > div.btns
{
    margin: 0;
    padding: 0 8px 0 0;
    float: right;
}

div.locPlgNotifElt.actionable > div.btns
{
    margin-left: 6px;
    padding: 6px 8px;
    background: transparent url("../img/base/notifications/bg.png") no-repeat -46px 0;
}



div.locPlgNotifElt > div.btns > button.action
{
    border: 1px solid #707070;
    border-radius: 2px;
    margin-right: 6px;
    height: 26px;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    background: transparent;
    cursor: pointer;
}

div.locPlgNotifElt > div.btns > button.action:disabled
{
    opacity: 0.5;
    cursor: auto;
}

div.locPlgNotifElt.type_warning > div.btns > button.action
{
    border-color: #9e9736;
}

div.locPlgNotifElt.type_error > div.btns > button.action
{
    border-color: #9b4d39;
}

div.locPlgNotifElt > div.btns > button.action > span
{
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 11px;
    font-weight: bold;
    background: transparent;
    white-space: nowrap;
}

div.locPlgNotifElt > div.btns > button.action:not(:disabled):hover
{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 2px rgba(255, 255, 255, 0.5);

    background: -moz-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

div.locPlgNotifElt > div.btns > button.action:not(:disabled):active
{
    border-color: #555;
    background: #999;
    box-shadow: 0 0 0 #000, 0 0 1px rgba(255, 255, 255, 0.5), inset 0 1px 3px rgba(0, 0, 0, 0.25);

    background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

div.locPlgNotifElt > div.btns > button.close
{
    display: none;
}

div.locPlgNotifElt.closable > div.btns > button.close
{
    display: inline;
    margin: 0;
    border: none;
    background: transparent url("../img/base/notifications/bg.png") no-repeat -24px 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
}

div.locPlgNotifElt.actionable > div.btns > button.close
{
    margin: 3px 0;
}

div.locPlgNotifElt > div.btns > button.close:hover
{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
