div.locPlgPopupsWindow
{
    font-family: Verdana, Arial, 'Bitstream Vera Sans', Helvetica, Sans-Serif;
    font-size: 8pt;
    position: absolute;
    overflow: hidden;
    z-index: 10000;
    border: none;
    cursor: default;
    box-shadow: 0 0 16px #555;
    border-radius: 2px;
}

div.locPlgPopupsWindow > div.top
{
    width: 100%;
    height: 28px;
    position: relative;
    background: #447FA0;

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

div.locPlgPopupsWindow > div.top > div.title
{
    left: 12px;
    top: 3px;
    color: white;
    z-index: 2;
    line-height: 22px;
    font-size: 13px;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
}

div.locPlgPopupsWindow > div.top > a.closeBtn
{
    position: absolute;
    right: 8px;
    top: 5px;
    z-index: 2;
    width: 18px;
    height: 18px;
    background: transparent url("../img/base/popups/closeBtn.png") no-repeat center center;
    opacity: 0.85;
}

div.locPlgPopupsWindow > div.top > a.closeBtn:hover
{
    opacity: 1;
}

div.locPlgPopupsWindow > div.middle
{
    position: relative;
    background-color: white;
    overflow: visible;
    padding: 8px;
}

div.locPlgPopupsWindow > div.middle > div.content
{
    position: relative;
    height: 100%;
    overflow: auto;
    background-color: white;
}

div.locPlgPopupsWindow > div.middle > div.content > iframe.iframeContent
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    z-index: 1;
}

div.locPlgPopupsWindow > div.middle > div.moveMask
{
    border: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #8eb8cf;
    display: none;
}

div.locPlgPopupsWindow > div.middle > div.loadingMask
{
    border: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 1;
    filter: none;
    background: white url("../img/base/popups/loading.gif") no-repeat center center;
    display: none;
}

div.locPlgPopupsWindow.blur > div.top
{
    background-color: #787878;
}

div.locPlgPopupsWindow.blur > div.top > div.title
{
    color: #DDDDDD;
}

div.locPlgPopupsWindow.blur > div.middle
{
    border-left-color: #787878;
    border-right-color: #787878;
    border-bottom-color: #787878;
}

div.locPlgPopupsWindow.blur > div.middle > div.content
{
    border-left-color: #A2A2A2;
    border-right-color: #C8C8C8;
    border-bottom-color: #A2A2A2;
}

div.locPlgPopupsWindow.move
{
}

div.locPlgPopupsWindow.move > div.top > div.title
{
    color: #F0F0F0;
}

div.locPlgPopupsWindow.move > div.middle > div.moveMask
{
    opacity: 0.15;
    filter: alpha(opacity=15);
}