span.locPlgSearchBoxesElt
{
    white-space: nowrap;
}

span.locPlgSearchBoxesElt > input[type=text]
{
    width: 50px;
    padding-left: 16px;
    background-image: url("../img/base/searchBoxes/bg.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    margin-right: 4px;
}

span.locPlgSearchBoxesElt > input[type=text]:hover,
span.locPlgSearchBoxesElt > input[type=text]:focus
{
    background-position: -150px 0;
}

span.locPlgSearchBoxesElt > input[type=text][disabled],
span.locPlgSearchBoxesElt > input[type=text][disabled]:hover,
span.locPlgSearchBoxesElt > input[type=text][disabled]:focus
{
    background: white url("../img/base/searchBoxes/bg.png") no-repeat 0 -96px !important;
    color: #4a4a4a !important;
}

span.locPlgSearchBoxesElt.loading > input[type=text],
span.locPlgSearchBoxesElt.loading > input[type=text]:hover,
span.locPlgSearchBoxesElt.loading > input[type=text]:focus
{
    background-image: url("../img/base/searchBoxes/loading.gif");
    background-position: 0 0;
    border-color: green;
}

span.locPlgSearchBoxesElt.error > input[type=text]
{
    background-position: 0 -32px;
    color: red;
}

span.locPlgSearchBoxesElt.error > input[type=text]:hover,
span.locPlgSearchBoxesElt.error > input[type=text]:focus
{
    background-position: -150px -32px;
}

span.locPlgSearchBoxesElt.warning > input[type=text]
{
    background-position: 0 -64px;
    color: #ff8500;
}

span.locPlgSearchBoxesElt.warning > input[type=text]:hover,
span.locPlgSearchBoxesElt.warning > input[type=text]:focus
{
    background-position: -150px -64px;
}

span.locPlgSearchBoxesElt.required > input[type=text]
{
    border: 1px solid #ff8080;
    background-position: -300px 0;
}

span.locPlgSearchBoxesElt.required > select
{
    border: 1px solid #ff8080;
}

span.locPlgSearchBoxesElt.error.required > input[type=text]
{
    border: 1px solid #ff8080;
    background-position: -300px -32px;
}

span.locPlgSearchBoxesElt.warning.required > input[type=text]
{
    border: 1px solid #ff8080;
    background-position: -300px -64px;
}
