span.locPlgSpinControlsElt
{
    position: relative;
    display: inline-block;
}

span.locPlgSpinControlsElt > input[type=text]
{
    padding-right: 16px;
    text-align: right;
}

span.locPlgSpinControlsElt:hover > input[type=text],
span.locPlgSpinControlsElt > input[type=text]:hover
{
    font-weight: bold;
    color: #404040;
}

span.locPlgSpinControlsElt > input[type=text]:focus
{
    font-weight: bold;
    color: black;
}

span.locPlgSpinControlsElt > a.button
{
    position: absolute;
    right: 1px;
    width: 15px;
    height: 8px;
    text-decoration: none;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    z-index: 1;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-image: url("../img/base/spinControls/buttons.gif");
}

span.locPlgSpinControlsElt > a.button.increment
{
    background-position: 0 0;
    top: 2px;
}

span.locPlgSpinControlsElt > a.button.increment:hover
{
    background-position: 0 -8px;
    z-index: 2;
}

span.locPlgSpinControlsElt > a.button.decrement
{
    background-position: -15px 0;
    bottom: 2px;
}

span.locPlgSpinControlsElt > a.button.decrement:hover
{
    background-position: -15px -8px;
    z-index: 2;
}

span.locPlgSpinControlsElt:hover > a.button
{
    opacity: 1;
    filter: none;
}

span.locPlgSpinControlsElt.disabled > input[type=text]
{
    color: #4a4a4a;
}

span.locPlgSpinControlsElt.disabled:hover > input[type=text],
span.locPlgSpinControlsElt.disabled > input[type=text]:hover,
span.locPlgSpinControlsElt.readonly:hover > input[type=text],
span.locPlgSpinControlsElt.readonly > input[type=text]:hover
{
    font-weight: auto;
}

span.locPlgSpinControlsElt.disabled:hover > a.button,
span.locPlgSpinControlsElt.readonly:hover > a.button
{
    opacity: 0.6;
    filter: alpha(opacity=60);
}

span.locPlgSpinControlsElt.disabled > a.button.increment,
span.locPlgSpinControlsElt.readonly > a.button.increment
{
    background-position: 0 -16px !important;
    cursor: default !important;
    z-index: 1 !important;
}

span.locPlgSpinControlsElt.disabled > a.button.decrement,
span.locPlgSpinControlsElt.readonly > a.button.decrement
{
    background-position: -15px -16px !important;
    cursor: default !important;
    z-index: 1 !important;
}


span.locPlgSpinControlsElt.readonly > input[type=text]
{
    color: #5A5A5A;
}