body
{
    overflow: hidden;
}

div#locStandardTitle
{
    width: 100%;
    height: 32px;
    background: white url('../img/standard/bg.png') repeat-x right -42px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    min-width: 750px;
}

div#locStandardTitle > a.index
{
    position: absolute;
    display: block;
    z-index: 20;
    width: 100%;
    height: 100%;
}

div#locStandardTitle > div.right
{
    position: absolute;
    right: -1px;
    top: 0px;
    z-index: 1;
    width: 460px;
    height: 32px;
    background: transparent url('../img/standard/bg.png') no-repeat right -74px;
}

div#locStandardTitle > div.logo
{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
    width: 32px;
    height: 32px;
    background: transparent url('../img/standard/bg.png') no-repeat -44px 0;
}

div#locStandardTitle > div.title
{
    position: absolute;
    color: white;
    font-size: 13pt;
    text-align: left;
    left: 40px;
    top: 5px;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 1px 1px 2px #444;
}

div#locStandardTitle > div.env
{
    position: absolute;
    color: #101040;
    font-family: Verdana, Arial, 'Bitstream Vera Sans', Helvetica, Sans-serif;
    font-size: 18pt;
    text-align: right;
    right: 100px;
    top: 1px;
    z-index: 8;
    font-style: italic;
    font-weight: normal;
}

div#locStandardTitle > div.controls
{
    position: absolute;
    right: 8px;
    top: 5px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    z-index: 25;
}

div#locStandardTitle > div.controls > a
{
    display: inline-block;
    width: 22px;
    height: 21px;
}

div#locStandardTitle > div.controls > a.print
{
    background: transparent url('../img/standard/bg.png') no-repeat 0 -21px;
}

div#locStandardTitle > div.controls > a.print:hover
{
    background-position: 0 0;
}

div#locStandardTitle > div.controls > a.close
{
    background: transparent url('../img/standard/bg.png') no-repeat -22px -21px;
}

div#locStandardTitle > div.controls > a.close:hover
{
    background-position: -22px 0;
}

div#locStandardCtrls
{
    margin: 1px 5px 2px 5px;
    background-color: white;
    border: none;
    white-space: nowrap;
    z-index: 0;
}

div#locStandardCtrls > div.locControlPanel
{
    margin: 1px 0 0 0;
}

div#locStandardCtrls > div.locControlPanel > div
{
    background-image: url(../img/standard/controlsBg.png);
}


div#locStandardMiddle
{
    width: 100%;
    overflow: hidden;
    margin: 0;
    position: relative;
    z-index: 0;
}

div#locStandardMiddle > div.loadingMask
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    z-index: 100;

    display: none;
}

div#locStandardMiddle.loading > div.loadingMask
{
    background: #f2f9fc url("../img/loading4.gif") no-repeat center center;
    opacity: 0.40;
    filter: alpha(opacity=40);
    display: block;
}

div#locStandardContent
{
    text-align: left;
    padding: 0 5px;
    overflow: auto;
    margin: 0;
    position: relative;
    border: 0px;
    z-index: 1;
}

div#locStandardMiddle.scroll-top:before,
div#locStandardMiddle.scroll-btm:after
{
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    height: 4px;
    width: 100%;
    background: transparent;
}

div#locStandardMiddle.scroll-top:before
{
    top: -4px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.4);
}

div#locStandardMiddle.scroll-btm:after
{
    bottom: -4px;
    box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.4);
}

div#locStandardFooter
{
    width: 100%;
    height: 20px;
    background: white url("../img/standard/bg.png") repeat-x 0 -106px;
    background-color: #158BCB;
    border-top: none;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    min-width: 750px;
    text-shadow: 1px 1px 2px #666;
}

div#locStandardFooter span.elapsed
{
    font-weight: bold;
}

div#locStandardFooter > div.copyright
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    padding: 0 0 0 5px;
    vertical-align: middle;
    color: white;
}

div#locStandardFooter > div.right
{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px 0 0;
    text-align: right;
    vertical-align: middle;
    color: white;
}
div#locStandardFooter > div.agency,
div#locStandardFooter > div.maintenance
{
    position: absolute;
    right: 56px;
    top: 0px;
    height: 20px;
    line-height: 20px;
    padding: 0 8px 0 8px;
    text-align: right;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    background: transparent url("../img/standard/bg.png") no-repeat right -20px;
}
div#locStandardFooter > div.maintenance
{
    right: 100px;
    background: url("../img/standard/bg.png") no-repeat 0 -146px,
                url("../img/standard/bg.png") no-repeat right -126px;
}

div#locStandardFooter div.right a.time
{
    color: white;
    text-decoration: none;
    cursor: default;
}

div#locStandardFooter div.right a.time:hover
{
    text-decoration: underline;
}

a#locStandardChangeUserButton
{
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0px;
    height: 20px;
    line-height: 20px;
    background: transparent url("../img/standard/changeUserBtn.gif") no-repeat left bottom;
    padding: 0 0 0 18px;
    color: white;
    text-decoration: none;
}

a#locStandardChangeUserButton:hover
{
    padding-left: 34px;
    height: 30px;
    line-height: 30px;
    background-image: url("../img/standard/changeUserBtnOver.gif");
    color: black;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: underline;
}

a#locStandardRefreshSessionButton
{
    position: absolute;
    display: block;
    left: 70%;
    bottom: 0px;
    height: 20px;
    line-height: 20px;
    background: transparent url("../img/standard/refreshSessionBtn.gif") no-repeat left bottom;
    padding: 0 0 0 18px;
    color: white;
    text-decoration: none;
}

a#locStandardRefreshSessionButton:hover
{
    padding-left: 34px;
    height: 30px;
    line-height: 30px;
    background-image: url("../img/standard/refreshSessionBtnOver.gif");
    color: black;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: underline;
}

div#locStandardChangeUserWindow
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    background-color: #48a6d7;
    border: 1px solid #003453;
    border-bottom: none;
    padding: 0 0 4px 0;
    color: white;
    z-index: 2;
    display: none;
}

div#locStandardChangeUserWindow div.title
{
    position: relative;
    padding: 2px 8px 1px 18px;
    font-weight: bold;
    margin: 1px 1px 3px 1px;
    background: #a4d6ed url("../img/standard/changeUserIcon.gif") no-repeat 1px center;
}

div#locStandardChangeUserWindow div.title a.close
{
    position: absolute;
    display: block;
    right: 2px;
    top: 1px;
    width: 13px;
    height: 14px;
    background: #a4d6ed url("../img/standard/changeUserCloseBtn.gif") no-repeat right center;
}

div#locStandardChangeUserWindow div.title a.close:hover
{
    background-image: url("../img/standard/changeUserCloseBtnOver.gif");
}

div#locStandardChangeUserWindow div.content
{
    padding: 0 4px;
}

div#locStandardChangeUserWindow div.content form
{
    padding: 0;
    margin: 0;
}

div#locStandardChangeUserWindow div.content select
{
    margin-right: 4px;
}

div#locStandardPlgTransMenuTopContainer
{
    z-index: 10000;
}

div#locStandardPlgTransMenuTop
{
    width: 100%;
    height: 22px;
    overflow: hidden;
}

/* Indice de modification */
div.locStandardCounter
{
    display: inline-block;
    font-family: 'Arial Narrow', 'Helvetica Condensed', Arial, Helvetica, Sans-serif;
    font-weight: bold;
    letter-spacing: 1.5pt;
    background: black url('../img/standard/counterBg.gif') repeat-x top left;
    padding: 1px 2px 2px 4px;
    line-height: 12px;
    color: white;
    font-size: 10pt;
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #bbb;
}

/* Nombre de jours */
div.locStandardDuration,
div.locStandardCalendarDuration
{
    display: inline-block;
    font-family: 'Arial Narrow', 'Helvetica Condensed', Arial, Helvetica, Sans-serif;
    font-weight: bold;
    letter-spacing: 1.5pt;
    padding: 1px 2px 2px 4px;
    line-height: 1.2em;
    color: white;
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #bbb;
    background-repeat: repeat-x;
    background-position: top left;
    border-width: 1px;
    border-style: solid;
    min-width: 16px;
}
div.locStandardDuration
{
    background-color: #357295;
    background-image: url('../img/standard/durationBg.png');
    border-color: #357295;
}
div.locStandardCalendarDuration {
    background-color: rgb(128, 128, 128);
    background-image: url(../img/standard/calendarDurationBg.png);
    border-color: rgb(128, 128, 128);
}

/* Zone */
div.locStandardZone
{
    display: inline-block;
    font-family: 'Arial Narrow', 'Helvetica Condensed', Arial, Helvetica, Sans-serif;
    font-weight: bold;
    letter-spacing: 1.5pt;
    background: #eebe00 url('../img/standard/zoneBg.gif') repeat-x top left;
    padding: 1px 2px 2px 4px;
    line-height: 12px;
    color: black;
    font-size: 10pt;
    border: 1px solid #eebe00;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #bbb;
}

/* État de facturation */
div.locStandardInvoicingState
{
    display: inline-block;
    font-family: 'Arial Narrow', 'Helvetica Condensed', Arial, Helvetica, Sans-serif;
    font-weight: bold;
    background: #ee0000 url('../img/standard/invoicingStateBg.gif') repeat-x top left;
    padding: 1px 4px 2px 4px;
    line-height: 12px;
    color: white;
    font-size: 10pt;
    border: 1px solid #ee0000;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #bbb;
}

/* Numéro de parc */
div.locStandardParkNumber
{
    display: inline-block;
    font-family: 'Arial Narrow', 'Helvetica Condensed', Arial, Helvetica, Sans-serif;
    font-weight: bold;
    letter-spacing: 1.5pt;
    background: #ffffff;
    padding: 2px 1px 3px 4px;
    line-height: 12px;
    color: #dc2323;
    font-size: 12pt;
    border: 1px solid #98a7b0;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #bbb;
    text-shadow: none;
}

div.locStandardParkNumber.special
{
    color: #ffffff;
    background-color: #dc2323;
}

div.locStandardParkNumber > a
{
    display: block;
    color : inherit;
    text-decoration: inherit;
}

/* Score */
div.locStandardScore
{
    display: inline-block;
    padding: 1px 2px 2px 4px;
    vertical-align: top;
}

div.locStandardScore img
{
    float: left;
    vertical-align: top;
}

/* États */
div.locStandardState
{
    display: inline-block;
    padding: 1px 2px 2px 4px;
    vertical-align: top;
}

div.locStandardState.black
{
    color: #414141;
}
div.locStandardState.blue
{
    color: #125aa1;
}
div.locStandardState.green
{
    color: #3b8f28;
}
div.locStandardState.red
{
    color: #8c1a1a;
}
div.locStandardState.yellow
{
    color: #c17225;
}

/* Statut bloqué */
div.locStandardLocked
{
    display: inline-block;
    vertical-align: top;
    font-weight: bold
}

div.locStandardLocked.locked
{
    color: red;
}
div.locStandardLocked.unlocked
{
    color: green;
}

/* Statut de blocage du client */
div.locStandardCustomerStatus, option.locStandardCustomerStatus
{
    font-weight: bold
}
div.locStandardCustomerStatus 
{
    display: inline-block;
    position: relative;
    line-height: 16px;
    padding-left: 18px;
}

div.locStandardCustomerStatus.level1, option.locStandardCustomerStatus.level1,
div.locStandardCustomerStatus.level2, option.locStandardCustomerStatus.level2
{
    color: #ff8401;
}
div.locStandardCustomerStatus.level3, option.locStandardCustomerStatus.level3,
div.locStandardCustomerStatus.level4, option.locStandardCustomerStatus.level4
{
    color: red;
}

div.locStandardCustomerStatus.level1:after,
div.locStandardCustomerStatus.level2:after
{
    position: absolute;
    left: 0;
    content: url('../img/standard/semi-locked.png');
}

div.locStandardCustomerStatus.level3:after,
div.locStandardCustomerStatus.level4:after
{
    position: absolute;
    left: 0;
    content: url('../img/standard/locked.png');
}

div.locStandardCustomerStatus.unlock-temp:after
{
    content: url('../img/standard/opened.png');
}

/* Classe et potentiel */
span.locStandardCustomerClass, span.locStandardCustomerPotential
{
    font-size: 13pt;
    font-weight: bold;
}
span.locStandardCustomerClass
{
    color: #007AC2;
}
span.locStandardCustomerPotential
{
    color: #F00040;
}

input.locStandardPhoneNumber, input.locStandardPhoneNumber.error
{
    
}
input.locStandardPhoneNumber.error
{
    color: red;
}

/* Assurance */
span.locStandardInsuranceType
{
    padding-left: 20px;
}

span.locStandardInsuranceType.type_1
{
    background: url('../img/standard/ai.png') no-repeat;
}
span.locStandardInsuranceType.type_0
{
    background: url('../img/standard/no.png') no-repeat;
}
span.locStandardInsuranceType.type_2
{
    background: url('../img/standard/customer.png') no-repeat;
}
span.locStandardInsuranceType.type_4
{
    background: url('../img/standard/included.png') no-repeat;
}


/* IMPRESSION */
@media print
{
    div#locStandardPlgTransMenuTop, div#locStandardTitle, div#locStandardCtrls, div#locStandardFooter
    {
        display: none;
    }

    div#locStandardMiddle
    {
        height: auto !important;
        overflow: visible;
        margin: 0;
        padding: 0;
    }

    div#locStandardContent
    {
        height: auto !important;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
}
