div.locPlgTabBoxesDiv
{
    padding: 2px;
    position: relative;
    z-index: 0;
}

div.locPlgTabBoxesDiv > div.tabsContainer
{
    border-bottom: 1px solid #3395ce;
    background: url('../img/base/tabBoxes/bg.png') repeat-x 0 0;
    height: 20px;
    padding: 0;
    white-space: nowrap;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab
{
    display: inline-block;
    position: relative;
    border: 1px solid #3395ce;
    border-bottom: none;
    padding: 0;
    margin: 2px -1px 0 0;
    background: url('../img/base/tabBoxes/bg.png') repeat-x 0 -24px;
    color: #444444;
    vertical-align: middle;
    bottom: -1px;
    text-decoration: none;
    cursor: pointer;
    line-height: 15px;
    font-size: 11px;
    z-index: 1;
    text-shadow: 0 1px 1px #ccc;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab:hover
{
    background-position: 0 -40px;
    color: #005b91;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab.active
{
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 3px;
    border-bottom: none;
    background-image: none;
    background: white;
    color: #00578c;
    cursor: default;
    z-index: 2;
    text-shadow: 0 2px 1px #bbb;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab.disabled
{
    color: #8f8f8f;
    border-left-color: #bababa;
    border-top-color: #bababa;
    border-right-color: #bababa;
    cursor: default;
    background-position: 0 -56px;
    z-index: 0;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab.active:hover
{
    background-image: none;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span
{
    padding: 0 10px;
    float: left;
    white-space: nowrap;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.badge
{
    display: none;
    background-color: #00578C;
    color: white;
    border-radius: 5px;
    padding: 0px 7px;
    margin-right: 5px;
    text-shadow: none;
    font-weight: normal;
    font-size: 10px;
    line-height: initial;
    margin-top: 2px;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.badge.active
{
    display: inline-block;
}


div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > a
{
    display: block;
    float: left;
    position: relative;
    background: url('../img/base/tabBoxes/bg.png') no-repeat 0 -72px;
    width: 8px;
    height: 8px;
    padding: 0 1px 0 0;
    margin: 0;
    display: none;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > a:hover
{
    background-position: 0 -80px;
}

div.locPlgTabBoxesDiv > div.content
{
    border-left: 1px solid #3395ce;
    border-right: 1px solid #3395ce;
    border-bottom: 1px solid #3395ce;
    background-color: white;
    padding: 3px;
    margin: 0;
    overflow: auto;
    display: none;
    z-index: 1;
}

div.locPlgTabBoxesDiv > div.content.active
{
    display: block;
}
