div#searchBar > span.title
{
    font-style: italic;
    color: gray;
    margin-right: 10px;
}

div#searchBar > span.controls
{
    margin-left: 10px;
}

div#searchBar > span.controls > a
{
    margin-right: 10px;
}

div#searchBar.loading > span.controls
{
    display: none;
}

fieldset#userIU
{
    margin: 16px 4px 4px 4px;
}

fieldset#userIU > legend
{
    background: url('./../../../img/common/contact/listOver.png') no-repeat left center;
    padding-left: 20px;
    line-height: 16px;
}

fieldset#userIU > #user_message
{
    display: none;
}


fieldset#userIU > #user_form
{
    position: relative;
}

fieldset#userIU > #user_form > div.loading
{
    display: none;
}

fieldset#userIU > #user_form.loading > div.loading
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(242, 249, 252) url('./../../../img/loading3.gif') no-repeat center center;
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: block;
    z-index: 100;
}

fieldset#userIU.none > #user_form
{
    display: none;
}

fieldset#userIU.none > #user_message
{
    display: block;
    text-align: center;
    color: #6668A5;
    font-weight: bold;
    margin: 0 0 5px 0;
}

div.checkbox
{
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: inline-block;
    background: url('./../../../img/admin/users/checkbox.gif') no-repeat 0 0;
    width: 16px;
    height: 16px;
}

div.checkbox.yes
{
    background-position: 0 -16px;
}

div.checkbox:hover
{
    opacity: 1;
    filter: none;
    cursor: pointer;
}

#userTabBox
{
    margin: 8px 0;
}

#userTabBox > div.tabs
{
    height: 17px;
}

#userTabBox > div.tabs > div
{
    position: relative;
    display: inline-block;
    border: 1px double #3395CE;
    padding: 0 10px;
    margin: 0;
    white-space: nowrap;
    line-height: 16px;
    cursor: pointer;
}

#userTabBox > div.tabs > div.modified > span
{
    background: url('./../../../img/admin/users/pen.png') no-repeat;
    padding-left: 15px;
}

#userTabBox > div.tabs > div > span
{
    margin-right: 16px;
}

#userTabBox > div.tabs > div > a.close
{
    position: absolute;
    background: url('./../../../img/admin/users/close.gif') no-repeat center center;
    width: 16px;
    height: 16px;
    right: 4px;
    margin: 0 0 0 10px;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

#userTabBox > div.tabs > div > a.close:hover
{
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#userTabBox > div.tabs > div.active
{
    cursor: default;
    background: white;
    border-bottom: 1px solid white;
    font-weight: bold;
}

#userTabBox > div.tabs > div.active > a.close
{
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#userTabBox > div.tabs > div.active > a.close:hover
{
    opacity: 1;
    filter: none;
}

#userTabBox > div.tabs > div.loading > a.close
{
    background-image: url('./../../../img/admin/users/loading.gif');
    cursor: default;
}

#userTabBox > div.content
{
    border: 1px solid #3395CE;
    padding: 4px;
    background: white;
}

#userTabBox > div.tabs > div + div
{
    border-left: none;
}

table.nomadAgencies
{
    border-collapse: separate;
    border-spacing: 2px;
    border: 0;
}

table.nomadAgencies > tbody > tr.country > td.name
{
    border: 1px solid #b2b2b2;
    cursor: pointer;
    color: #888888;
    background-color: #F3F6F7;
    font-weight: bold;
    padding: 0 8px;
    text-align: center;
    font-size: 14px;
}

table.nomadAgencies > tbody > tr.country:hover > td.name
{
    color: #666666;
}

table.nomadAgencies > tbody > tr.country > td.areas
{
    border: 1px solid white;
    max-width: 578px;
}

table.nomadAgencies > tbody > tr.country > td.name:hover + td.areas
{
    background-color: #FAFAFA;
    border-color: #b2b2b2;
}

table.nomadAgencies > tbody > tr.country > td.areas:hover
{
    border-color: #eeeeee;
}

table.nomadAgencies > tbody > tr.country > td.areas > table
{
    border-collapse: separate;
    border-spacing: 1px;
    border: 0;
    width: 100%;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.name
{
    border: 1px solid #b2b2b2;
    cursor: pointer;
    color: #888888;
    background-color: #F3F6F7;
    font-weight: bold;
    padding: 0 8px;
    text-align: center;
    width: 110px;
    font-size: 11px;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area.notaffected > td.name
{
    font-style: italic;
    color: #999999;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area:hover > td.name
{
    color: #666666;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.agencies
{
    border: 1px solid white;
    max-width: 578px;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.name:hover + td.agencies
{
    background-color: #FAFAFA;
    border-color: #b2b2b2;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.agencies:hover
{
    border-color: #eeeeee;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.agencies > span.agency
{
    display: inline-block;
    padding: 1px 2px;
    margin: 1px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    width: 26px;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.agencies > span.agency.off
{
    color: #888888;
    border-color: #D4DADC;
    background-color: #F3F6F7;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.agencies > span.agency.off:hover
{
    border-color: #a4aaac;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.agencies > span.agency.on
{
    color: #3B6B11;
    border-color: #8DDA42;
    background-color: #C5ED9E;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.agencies > span.agency.on:hover
{
    border-color: #519B0D;
}

table.nomadAgencies > tbody > tr.country > td.areas > table > tbody > tr.area > td.agencies > span.agency.current
{
    font-weight: bold;
    text-decoration: underline;
}


div.groups > span.group
{
    display: inline-block;
    padding: 1px 2px;
    margin: 1px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    width: 100px;
}

div.groups > span.group.off
{
    color: #888888;
    border-color: #D4DADC;
    background-color: #F3F6F7;
}

div.groups > span.group.on
{
    color: #3B6B11;
    border-color: #8DDA42;
    background-color: #C5ED9E;
}

div.groups > span.group.off:hover
{
    border-color: #a4aaac;
}

div.groups > span.group.on:hover
{
    border-color: #519B0D;
}