.formTable td.field
{
    width: 100%;
}

#recipientBlock table, #bodyBlock table
{
    width: 100%;
}

#to, #cc, #subject
{
    width: 100%;
}

#message
{
    width: 100%;
    height: 150px;
}

span.attachment
{
    display: block;
    margin-top: 3px;
}
span.attachment.temp > img
{
    margin-left: 5px;
}
span.attachment.temp > img:hover
{
    cursor: pointer;
}

div.additional
{
    overflow: auto;
    max-height: 75px;
}

.emailSearch
{
    position: relative;
    display: none;
}


.emailSearch ul > li.type:before
{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background-size: contain;
}

.emailSearch ul > li.type.user:before
{
    background: #795548 url('../../../img/print/gui/user.png') no-repeat center center;
}

.emailSearch ul > li.type.list:before
{
    background: #607D8B url('../../../img/print/gui/list.png') no-repeat center center;
}

#addAttachment
{
    display: none;
}
