h1.searchResult
{
    color: #007AC2;
    font-size: 8pt;
    background-image: url("../../../img/searchResults.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
}

p.result-msg
{
    padding-left: 20px;
    background-image: url("../../../img/iconWarning.gif");
    background-repeat: no-repeat;
    font-size : 1.4em;
    display: none;
}

p.result-msg.active
{
    display: inherit;
}

/* Tableau */
table.list
{
    margin: 1em 0;
    table-layout: fixed;
    width: 100%;
}

table.list > tbody > tr
{
    height: 20px;
}

table.list tr
{
    cursor: pointer;
}

table.list >tbody > tr.separator > td
{
    border-top: 1px solid #007ac2;
}

table.list > tbody > tr > td,
table.list > thead > tr > th
{
    padding-right: 0;
}


table.list > thead > tr > th.code,
table.list > thead > tr > th.contractCode
{
    width: 130px;
}

table.list > thead > tr > th.machine
{
    width: 70px;
}
table.list > thead > tr > th.customer
{
    width: 210px;
}

table.list > thead > tr > th.total
{
    width: 90px;
}

table.list > thead > tr > th.state
{
    width: 170px;
}

table.list > thead > tr > th.state,
table.list > tbody > tr > td.state
{
    padding-left: 30px;
}

table.list > thead > tr > th.total,
table.list > tbody > tr > td.total
{
    text-align: right;
}

table.list > thead > tr > th.flag,
table.list > tbody > tr > td.flag
{
    padding-right: 10px;
    width: 150px;
}

table.list > tfoot > tr
{
    height: 35px;
    display: none;
}
table.list > tfoot > tr > td
{
    text-align: center;
    font-weight: bold;
}

table.list > tfoot.pending-search > tr.pending-search,
table.list > tfoot.no-filters > tr.no-filters,
table.list > tfoot.no-result > tr.no-result,
table.list > tfoot.more > tr.more,
table.list > tfoot.error > tr.error
{
    display: table-row;
}
table.list > tfoot > tr.pending-search > td > img
{
    margin-left: 10px;
}

table.list > tfoot > tr.more
{
    color: #007ac2;
    background-color: rgba(0, 122, 194, 0.1);
}
table.list > tfoot.error > tr.error > td
{
    background-color: #fdc4c4;
}
