table.list > tbody > tr > td:nth-child(2n+1)
{
    padding-right: 15px;
}
table.list > tbody > tr > td:nth-child(2n)
{
    padding-left: 15px;
}

table.list
{
    margin: 12px auto;
}

table.list > thead > tr> th.divider
{
    color: #007ac2;
    font-size: 1.4em;
    font-weight: 700;
}

table.list > thead > tr> th.agency
{
    min-width: 100px;
    text-align: center;

}

table.list > tbody > tr> td:nth-child(n+2)
{
    text-align: right;
}

table.list > tbody > tr.total > td
{
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.list > tbody > tr.new > td
{
    border-top: 1px solid #66afda;
    padding-top: 5px;
}

td.fade
{
    color: #ccc;
}