/* Légende des cas d'erreurs */
div.legend
{
    display: block;
    position: relative;
    text-align: left;
}

div.legend > span.title
{
    font-style: italic;
    vertical-align: bottom;
}

div.legend > div.button
{
    display: inline-block;
    position: relative;
    margin: 0 1px;
    padding: 2px;
    z-index: 1;
}

div.legend > div.button > div.errorImg
{
    position: relative;
    z-index: 1;
}

div.legend > div.button > div.text
{
    display: none;
}

div.legend > div.button:hover
{
    padding: 1px;
    border: 1px solid #b5e1f5;
    border-right-color: #66afda;
    border-bottom-color: #66afda;
    background-color: #e8f3f9;
}

div.legend > div.button:hover > div.text
{
    display: inline;
    position: absolute;
    left: -12px;
    top: 26px;
    border: 1px solid #dadada;
    border-right-color: #969696;
    border-bottom-color: #969696;
    background-color: #f1f1f1;
    color: #151515;
    padding: 2px 6px 2px 6px;
    line-height: 16px;
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 2px 3px;
    z-index: 10;
    min-width: 32px;
}

div.legend > div.button:hover > div.text > div.pick
{
    position: absolute;
    left: 12px;
    top: -8px;
    width: 20px;
    height: 10px;
    background: url('../../../img/common/alerts/errors.png') no-repeat -16px -64px;
    z-index: 2;
}

/* Liste */
div.list
{
    position: relative;
    margin: 0;
    padding: 3px 0;
    z-index: 1;
}

div.list > div.toolbar
{
    margin: 0;
    display: table;
    width: 100%;
}

div.list > div.toolbar > div.col
{
    display: table-cell;
    position: relative;
}

div.list > div.toolbar > div.col > div.fixed-content
{
    display: none;
    margin-top: 4px;
}

div.list > div.toolbar > div.col.content
{
    text-align: left;
}

div.list > div.toolbar > div.col.controls
{
    display: table-cell;
    text-align: right;
    padding-right: 4px;
}

div.list > div.content
{
    margin: 8px 0;
}

/* Fixation de la barre d'outils */
body.table-toolbar-fixed #locStandardMiddle.scroll-top:before
{
    display: none;
}

body.table-toolbar-fixed #table-toolbar-container
{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #b3d7ed;
    margin: 0;
    padding: 6px 5px;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.35);
}

body.table-toolbar-fixed #table-toolbar-container > div.col > div.fixed-content
{
    display: block;
}

body.table-toolbar-fixed #table-container
{
    margin-top: 58px;
}

.ajaxtable-filters-recap-container
{
    position: absolute;
}

#back-top-btn
{
    opacity: 0.8;
}

#back-top-btn:hover
{
    opacity: 1;
}



/* Filtres */

fieldset.filters
{
    position: relative;
    margin-top: 12px;
    margin-bottom: 20px;
    padding-bottom: 24px;
    z-index: 2;
}

body.table-toolbar-fixed fieldset.filters
{
    z-index: 1;
}

fieldset.filters > legend
{
    background-image:  url("../../../img/common/ajaxTable/filter.png");
    background-repeat: no-repeat;
    background-position: 2px 0;
    padding-left: 22px;
    line-height: 16px;
}

fieldset.filters > ul.content
{
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
}

#additional-filters,
#less-filters-btn
{
    display: none;
}

fieldset.filters > ul.content > li.part
{
    margin: 0;
    padding: 0;
}

fieldset.filters > ul.content > li.part > hr
{
    border: none;
    border-top: 1px solid #E0E0E0;
    height: 1px;
    width: auto;
    margin: 0 10px;
    clear: both;
}

fieldset.filters > ul.content > li.part > fieldset
{
    margin: 6px 12px;
    padding: 0;
    border: none;
    border-top: 1px solid #E0E0E0;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    float: left;
}


fieldset.filters > ul.content > li.part > fieldset > legend
{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 0.85em;
    background-image:  url("../../../img/common/ajaxTable/bullet.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 12px;
}

fieldset.filters > ul.content > li.part > ul,
fieldset.filters > ul.content > li.part > fieldset > ul
{
    padding: 0;
    list-style: none;
}

fieldset.filters > ul.content > li.part > ul
{
    margin: 4px 0;
}

fieldset.filters > ul.content > li.part > fieldset > ul
{
    margin: 4px -12px;
}

fieldset.filters > ul.content > li.part > ul > li,
fieldset.filters > ul.content > li.part > fieldset > ul > li
{
    padding: 0;
    margin: 6px 10px;
    min-width: 150px;
    max-width: 240px;
    vertical-align: top;
}

fieldset.filters > div.ctrls
{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 8px;
}

fieldset.filters > div.ctrls.left
{
    left: 0;
}

fieldset.filters > div.ctrls.right
{
    right: 0;
}

/* Tableau */
table.list
{
    width: 100%;
}

table.list > tbody > tr
{
    height: 24px;
}
table.list > thead th.id
{
    width: 60px;
}
table.list > thead th.agency,
table.list > thead th.type
{
    width: 30px;
}

table.list > thead th.date
{
    width: 150px;
}

table.list > tbody td.type > div.icon
{
    width: 16px;
    height: 16px;
    background: url("../../../img/transport/types.png") no-repeat 0 0;
}

table.list > tbody td.type > div.icon.type_R
{
    background-position: 0 -16px;
}

table.list > tbody td.date li.hour
{
    font-size: 10px;
}

div.legend > div.button > div.errorImg,
table.list > tbody td.status > div.icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../../img/transport/machineInventory/errors.png") no-repeat 0 -32px;
}
table.list > tbody td.status > div.icon + div.icon
{
    margin-left: 5px;
}

div.legend > div.button > div.errorImg.unknown-machine,
table.list > tbody td.status > div.icon.unknown-machine
{
    background-position: 0 0;
}

div.legend > div.button > div.errorImg.unknown-contract,
table.list > tbody td.status > div.icon.unknown-contract
{
    background-position: 0 -16px;
}

table.list > tbody td.data
{
    font-size: 10px;
}

table.list > tbody td.data > div
    {
    margin: 2px 0;
}

table.list > tbody td.data > div > span:first-of-type
{
    width: 75px;
    display: inline-block;
}

table.list > tbody td.data > div > span.no-value
{
    font-style: italic;
}

table.list > tbody td.data > div > span.original
{
    margin-left: 10px;
}

table.list > tbody td.edit
{
    text-align: right;
}

table.list > tbody td.edit > div
{
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 8px;
    background: url("../../../img/edit.png") no-repeat center center;
    cursor: pointer;
}



table.list > tbody ul.rows
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: inherit;
}

table.list > tbody ul.rows > li
{
    width: inherit;
    line-height: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.list > tbody ul.rows > li.double
{
    line-height: 26px;
}

table.list > tbody ul.rows > li.top + li.btm
{
    border-top: 1px solid #bedff3;
    margin-top: 1px;
    padding-top: 1px;
}