fieldset
{
    margin: 12px 32px 0 12px;
    text-align: left;
}

.legendBtn
{
    position: absolute;
    width: 100%;
    top: -0.3em;
    text-align: right;
    right: 6px;
}
.legendBtn > div
{
    position: relative;
    display: inline-block;
    padding: 0 2px;
    background-color: white;
}
.legendBtn > div + div
{
    margin-left: 20px;
}

div#locStandardContent
{
    overflow-x: hidden;
}

div#locStandardContent > form > div.slides
{
    position: relative;
    width: 200%;
    left: 0;
    transition: left 0.3s;
}

div#locStandardContent > form > div.slides.history
{
    left: -100%;
}

div#locStandardContent > form > div.slides > div.slide
{
    width: calc(50% - 5px);
    float: left;
}
div#locStandardContent > form > div.slides > div.slide.main
{
    margin-right: 10px;
}

div#locStandardContent > form > div.slides > div.slide > fieldset
{
    position: relative;
    text-align: left;
    margin: 12px 32px 0 0;
}
div#locStandardContent > form > div.slides > div.slide > fieldset > legend > span
{
    display: none;
}

div#locStandardContent.type_d > form > div.slides > div.slide > fieldset > legend > span.type_d,
div#locStandardContent.type_r > form > div.slides > div.slide > fieldset > legend > span.type_r,
div#locStandardContent.notAttached > form > div.slides > div.slide > fieldset > legend > span.status-notAttached,
div#locStandardContent.deleted > form > div.slides > div.slide > fieldset > legend > span.status-deleted
{
    display: inline-block;
}

#machineInventoryInfos > tbody > tr > td
{
    padding-top: 5px;
}

#machineInventoryInfos > tbody > tr > td.undefined
{
    font-style: italic;
}

div#locStandardContent div.gallery
{
    max-width: 620px;
    height: 120px;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;

}
div#locStandardContent div.gallery > a
{
    position: relative;
    display: inline-block;
}
div#locStandardContent div.gallery > a + a
{
    margin-left: 10px;
}

div#locStandardContent div.gallery > a > img
{
    position: absolute;
}

div#locStandardContent div.gallery div,
div#locStandardContent div.gallery a
{
    width: 100px;
    height: 100px;
}

div#locStandardContent div.gallery div.photo-loading
{
    background: transparent url("../../../img/loading4.gif") center center no-repeat;
}

div#locStandardContent div.gallery > div.photo-error
{
    background: #fdc4c4 url("../../../img/rent/helper/documents/photo-error.png") center center no-repeat;
}
div#locStandardContent div.gallery div.hidden,
div#locStandardContent div.gallery > a:not(.downloading) > div.photo-loading
{
    display: none;
}
div#locStandardContent div.gallery > a > div.photo-loading
{
    position: absolute;
    opacity: 0.75;
}

div#locStandardContent div.gallery > a > span.info
{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url("../../../img/iconeInfo.png") no-repeat center center;
    color: #fff;
    transition: width 0.2s, height 0.2s;
}
div#locStandardContent div.gallery > a > span.info.active
{
    background: rgba(74, 74, 74, 0.7) url("../../../img/close-white.png") no-repeat 80px 80px;
    padding: 5px;
    width: 90px;
    height: 90px;
    font-size: 10px;
    overflow: hidden;
}

div#locStandardContent div.gallery > a > span.info span
{
    display: none;
    white-space: normal;
}

div#locStandardContent div.gallery > a > span.info.active span
{
    display: block;
}
div#locStandardContent div.gallery > a > span.info span + span
{
    margin-top: 5px;
}

div#locStandardContent div.gallery > a > span.info span > a
{
    color: inherit;
}


div#locStandardContent > form > .locCtrlButton
{
    padding: 10px 10px 10px 6px;
    border-radius: 2px;
    color: #fff;
    text-shadow: none;
    background-color: red;
}

div#locStandardContent .legendBtn > div + div
{
    margin-left: 5px;
}

#machineInventoryDeleteBtn
{
    float: right;
}

/* Historique d'un état des lieux */

div#locStandardContent > form > div.slides > div.slide.history legend
{
    padding-left: 25px;
}
div#locStandardContent > form > div.slides > div.slide.history .legendBtn
{
    text-align: left;
    right: auto;
}

#machineInventory-historyWaiting
{
    background-image: url('../../../img/loading4.gif');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 48px;
    display: inline-block;
}

#machineInventory-historyResult
{
    margin-bottom: 5px;
}

#machineInventory-historyResult > table
{
    width: 100%;
}

#machineInventory-historyResult > table > tbody > tr > td.deleted
{
    text-decoration: line-through;
}

div#locStandardContent > form > div.slides > div.slide.history .hidden
{
    display: none;
}

#machineInventory-historyNoResult,
#machineInventory-historyError
{
    margin: 5px 0px;
}