div.noResult
{
    margin-top: 16px;
}



div.list
{
    position: relative;
    margin: 0;
    padding: 3px 0;
    z-index: 1;
}

div.loadingMessage
{
    display: none;
    position: absolute;
    top: calc(50vh - 130px);
    z-index: 2;
    width: 100vw;
    text-align: center;
}

div.loadingMessage > span
{
    display: inline-block;
    padding: 20px;
    background: #007ac2;
    box-shadow: 0 0 20px #444;
    font-weight: bold;
    color: #fff;
}
div#locStandardMiddle.loading div.loadingMessage
{
    display: block;
}


/* Barre de contrôle */
div.list > div.toolbar
{
    margin: 0;
    display: table;
    width: 100%;
    padding-top: 13px;
}

div.list > div.toolbar > div.col
{
    display: table-cell;
    position: relative;
}

div.list > div.toolbar > div.col > div.fixed-content
{
    display: none;
    margin-top: 4px;
    margin-left: 10px;
}

div.list > div.toolbar > div.col.content
{
    text-align: left;
}

div.list > div.toolbar > div.col.controls
{
    display: table-cell;
    text-align: right;
    padding-right: 4px;
}

div.list > div.toolbar > div.col.controls > div.recap
{
    position: relative;
    display: block;
    font-size: 10px;
    line-height: 12px;
    min-height: 12px;
    margin: 3px 0;
    color: #606060;
    padding-right: 20px;
}

div.list > div.toolbar > div.col.controls > div.recap.kim
{
    margin-top: 6px;
}

div.list > div.toolbar > div.col.controls > div.recap.nokim
{
    margin-bottom: 4px;
}

div.list > div.toolbar > div.col.controls > div.recap.kim:before
{
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
    width: 16px;
    height: 16px;
    background: transparent url('../../../img/technical/endingContracts/considerRecapIcons.png') no-repeat 0 center;
    content: '';
}

div.list > div.toolbar > div.col.controls > div.recap.nokim:before
{
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
    width: 16px;
    height: 16px;
    background: transparent url('../../../img/technical/endingContracts/considerRecapIcons.png') no-repeat -16px center;
    content: '';
}

div.list > div.toolbar > div.col.controls > ul
{
    margin: 0px;
    display: inline-block;
}

div.list > div.toolbar > div.col.controls > ul > li
{
    list-style: none;
    position: relative;
    float: left;
}

div.list > div.toolbar > div.col.controls > ul > li:not(:first-child)
{
    border-left: 1px solid #A5D0E9;
    margin-left: 10px;
    padding-left: 10px;
}

div.list > div.toolbar > div.col.controls > ul > li #do-checked
{
    font-weight: normal;
    color: #666666;
}

div.list > div.content
{
    margin: 8px 0;
}

/* Fixation de la barre d'outils */
body.table-toolbar-fixed #locStandardMiddle.scroll-top:before
{
    display: none;
}

body.table-toolbar-fixed #table-toolbar-container
{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #b3d7ed;
    margin: 0;
    padding: 16px 5px 6px 5px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.35);
}

body.table-toolbar-fixed #table-toolbar-container > div.col > div.fixed-content
{
    display: block;
}

body.table-toolbar-fixed #table-container
{
    margin-top: 90px;
}

#back-top-btn
{
    display: inline-block;
    opacity: 0.8;
    margin-top: 4px;
}

#back-top-btn:hover
{
    opacity: 1;
}




/* Liste des transports */
table.list
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

table.list > thead > tr > th.consider,
table.list > tbody > tr > td.consider
{
    text-align: right;
}

table.list > tbody > tr > th.duration,
table.list > tbody > tr > td.duration
{
    text-align: right;
}

table.list > tbody > tr > td.recovery
{
    font-size: 10px;
}

table.list > tbody > tr > th.timeCounterRead,
table.list > tbody > tr > td.timeCounterRead
{
    text-align: right;
}

table.list > tbody > tr > td.timeCounterRead > .choice
{
    cursor: pointer;
}

.tooltip.choice
{
    min-width: 6em;
    text-align: right;
}

.tooltipIcon.choice
{
    background-image: url('../../../img/technical/endingContracts/plus.png');
}

table.list > tbody > tr.isError
{
    background-color: #ffe5e6;
}

table.list > tbody > tr.isError:hover
{
    background-color: #ffc5c8;
}

table.list > thead > tr > th.header
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

table.list > thead > tr > th.header.headerSortDown
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortAsc.png');
    text-decoration: underline;
}

table.list > thead > tr > th.header.headerSortUp
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortDesc.png');
    text-decoration: underline;
}

table.list > tbody > tr > td.model
{
    font-size: 10px;
}

table.list > tbody > tr.error,
table.list > tbody > tr.error.odd
{
    background-color: #f9e5e6;
}
table.list > tbody > tr.error.even
{
    background-color: #fadadb;
}

table.list > tbody > tr.error:hover
{
    background-color: #f8c8c9;
}

table.list > tbody > tr.error > td
{
    border-bottom-color: #e7cfcf;
}

table.list > tbody > tr.updated,
table.list > tbody > tr.updated.odd
{
    background-color: #ecf5fb;
}

table.list > tbody > tr.updated.even
{
    background-color: #e5f1f9;
}

table.list > tbody > tr.updated:hover,
table.list > tbody > tr.updated.odd:hover
{
    background-color: #d2eafa;
}

table.list > tbody > tr.updated.even:hover
{
    background-color: #cde8fa;
}

table.list > tbody > tr.updated > td
{
    border-bottom-color: #cce4f2;
}



table.list > tbody td.type > div.icon
{
    width: 26px;
    height: 26px;
    background-image: url('../../../img/technical/endingContracts/types.png');
    margin-left: 12px;
}

table.list > tbody td.type > div.icon.self
{
    background-position: 0 0;
}

table.list > tbody td.type > div.icon.std
{
    background-position: 0 -26px;
}

table.list > tbody td.parkNumber
{
    text-align: center;
}

table.list > tbody td.arrow
{
    font-size: 13px;
}

table.list > tbody ul.rows
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: inherit;
}

table.list > tbody ul.rows > li
{
    width: inherit;
    line-height: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.list > tbody ul.rows > li.double
{
    line-height: 26px;
}

table.list > tbody ul.rows > li.top + li.btm
{
    border-top: 1px solid #bedff3;
    margin-top: 1px;
    padding-top: 1px;
}

table.list > tbody > tr > td.agency > span
{
    display: inline-block;
    border-radius: 2px;
    background-color: #eab560;
    padding: 2px 4px;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
}

table.list > tbody > tr > td.consider > div.consider-btn
{
    margin: auto;
    position: relative;
    height: 33px;
    width: 67px;
}

table.list > tbody > tr > td.consider > div.consider-btn > div
{
    position: absolute;
    height: 33px;
    top: 0;
    background-color: transparent;
    background-image: url("../../../img/technical/endingContracts/considerButtons.png");
    cursor: pointer;
}

table.list > tbody > tr > td.consider > div.consider-btn > div.kim
{
    left: 0;
    width: 33px;
    background-position: 0 0;
}

table.list > tbody > tr > td.consider > div.consider-btn > div.kim:hover
{
    background-position: 0 -33px;
}

table.list > tbody > tr > td.consider > div.consider-btn[data-value='kim'] > div.kim
{
    background-position: 0 -66px;
}

table.list > tbody > tr > td.consider > div.consider-btn[data-value='kim'] > div.kim:hover
{
    background-position: 0 -99px;
}

table.list > tbody > tr > td.consider > div.consider-btn.disabled-kim > div.kim,
table.list > tbody > tr > td.consider > div.consider-btn.disabled-kim > div.kim:hover
{
    background-position: 0 -132px !important;
    cursor: default;
}

table.list > tbody > tr > td.consider > div.consider-btn > div.nokim
{
    left: 32px;
    width: 35px;
    background-position: -33px 0;
}

table.list > tbody > tr > td.consider > div.consider-btn > div.nokim:hover
{
    background-position: -33px -33px;
}

table.list > tbody > tr > td.consider > div.consider-btn[data-value='nokim'] > div.nokim
{
    background-position: -33px -66px;
}

table.list > tbody > tr > td.consider > div.consider-btn[data-value='nokim'] > div.nokim:hover
{
    background-position: -33px -99px;
}

table.list > tbody > tr > td.consider > div.consider-btn.disabled-nokim > div.nokim,
table.list > tbody > tr > td.consider > div.consider-btn.disabled-nokim > div.nokim:hover
{
    background-position: -33px -132px !important;
    cursor: default;
}

table.list > tbody > tr > td.timeCounter,
table.list > tbody > tr > td.period
{
    white-space: nowrap;
}

table.list > tbody > tr > td.timeCounter > .warning
{
    display: inline-block;
    width: 20px;
    height: 16px;
    vertical-align: top;
}

table.list > tbody > tr > td.timeCounter input
{
    max-width: 50px;
}


/* Mode d'affichage */
#viewmode-btn
{
    font-weight: normal;
    color: black;
}

#viewmode-btn span.viewmode-label
{
    display: none;
    font-weight: bold;
}

#viewmode-btn.disabled,
#viewmode-btn.disabled span.viewmode-label
{
    color: #AAAAAA !important;
}

#table-wrapper.viewmode-checked #viewmode-btn span.viewmode-label
{
    color: #A00000;
}

#table-wrapper.viewmode-checked #viewmode-btn span.viewmode-label.checked
{
    display: inline;
}

#table-wrapper.viewmode-full #viewmode-btn span.viewmode-label.full
{
    display: inline;
}



