
div.list
{
    position: relative;
    margin: 0;
    padding: 3px 0;
    z-index: 1;
}

div.list > div.toolbar
{
    margin: 0;
    display: table;
    width: 100%;
}

div.list > div.toolbar > div.col
{
    display: table-cell;
    position: relative;
}

div.list > div.toolbar > div.col > div.fixed-content
{
    display: none;
    margin-top: 4px;
}

div.list > div.toolbar > div.col.content
{
    text-align: left;
}

div.list > div.toolbar > div.col.controls
{
    display: table-cell;
    text-align: right;
    padding-right: 4px;
}

div.list > div.content
{
    margin: 8px 0;
}

/* Fixation de la barre d'outils */
body.table-toolbar-fixed #locStandardMiddle.scroll-top:before
{
    display: none;
}

body.table-toolbar-fixed #table-toolbar-container
{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #b3d7ed;
    margin: 0;
    padding: 6px 5px;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.35);
}

body.table-toolbar-fixed #table-toolbar-container > div.col > div.fixed-content
{
    display: block;
}

body.table-toolbar-fixed #table-container
{
    margin-top: 58px;
}

.ajaxtable-filters-recap-container
{
    position: absolute;
}

#back-top-btn
{
    opacity: 0.8;
}

#back-top-btn:hover
{
    opacity: 1;
}



/* Filtres */

fieldset.filters
{
    position: relative;
    margin-top: 12px;
    margin-bottom: 20px;
    padding-bottom: 24px;
    z-index: 2;
}

body.table-toolbar-fixed fieldset.filters
{
    z-index: 1;
}

fieldset.filters > legend
{
    background-image:  url("../../../img/common/ajaxTable/filter.png");
    background-repeat: no-repeat;
    background-position: 2px 0;
    padding-left: 22px;
    line-height: 16px;
}

fieldset.filters > ul.content
{
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
}

#additional-filters,
#less-filters-btn
{
    display: none;
}

fieldset.filters > ul.content > li.part
{
    margin: 0;
    padding: 0;
}

fieldset.filters > ul.content > li.part > hr
{
    border: none;
    border-top: 1px solid #E0E0E0;
    height: 1px;
    width: auto;
    margin: 0 10px;
    clear: both;
}

fieldset.filters > ul.content > li.part > fieldset
{
    margin: 6px 12px;
    padding: 0;
    border: none;
    border-top: 1px solid #E0E0E0;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    float: left;
}


fieldset.filters > ul.content > li.part > fieldset > legend
{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 0.85em;
    background-image:  url("../../../img/common/ajaxTable/bullet.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 12px;
}

fieldset.filters > ul.content > li.part > ul,
fieldset.filters > ul.content > li.part > fieldset > ul
{
    padding: 0;
    list-style: none;
}

fieldset.filters > ul.content > li.part > ul
{
    margin: 4px 0;
}

fieldset.filters > ul.content > li.part > fieldset > ul
{
    margin: 4px -12px;
}

fieldset.filters > ul.content > li.part > ul > li,
fieldset.filters > ul.content > li.part > fieldset > ul > li
{
    padding: 0;
    margin: 6px 10px;
    min-width: 150px;
    max-width: 240px;
    vertical-align: top;
}

fieldset.filters > div.ctrls
{
    position: absolute;
    bottom: 0;
    padding: 4px 8px;
}

fieldset.filters > div.ctrls.left
{
    left: 0;
}

fieldset.filters > div.ctrls.right
{
    right: 0;
}

/* Tableau */
table.list
{
    width: 100%;
}

table.list > tbody > tr
{
    height: 24px;
}

table.list > thead th.agency
{
    width: 60px;
}

table.list > thead th.number
{
    width: 65px;
}

table.list > thead th.manufacturer,
table.list > thead th.state
{
    width: 80px;
}

table.list > thead th.family,
table.list > thead th.model
{
    width: 100px;
}

table.list > thead th.elevation,
table.list > thead th.energy,
table.list > thead th.weight,
table.list > thead th.length
{
    width: 40px;
}
table.list > thead th.asbestos
{
    width: 32px;
}

table.list > tbody td.family,
table.list > tbody td.model
{
    font-size: 10px;
}

table.list > tbody td.asbestos span
{
    display: inline-block;
    padding-left: 6px;
}
table.list > tbody td.asbestos span.asbestos::before
{
    display: inline-block;
    content: url('../../../img/rent/helper/site/ic_asbestos_24px.svg');
    vertical-align: middle;
}

/* Etats de la machine */
table.list > tbody td.state
{
    height: 24px;
}

div.state
{
    border-left: 5px solid rgb(200,200,200);
    padding-left: 5px;
    display: table;
    height: 100%;
}

div.state > div
{
    display: table-cell;
    vertical-align: middle;
    font-size: 9px;
}

div.state.MAC01
{
    border-left-color: rgb(230,184,183);
}

div.state.MAC02
{
    border-left-color: rgb(196,215,155);
}

div.state.MAC03
{
    border-left-color: rgb(235,241,222);
}

div.state.MAC04
{
    border-left-color: rgb(252,213,180);
}

div.state.MAC05
{
    border-left-color: rgb(253,233,217);
}

div.state.MAC06
{
    border-left-color: rgb(255,204,102);
}

div.state.MAC07
{
    border-left-color: rgb(216,228,188);
}

div.state.MAC09
{
    border-left-color: rgb(220,230,241);
}

div.state.MAC12
{
    border-left-color: rgb(238,225,225);
}
/* Dernier contrat et date de fin du dernier contrat */
table.list > tbody td.contract > div.endDate
{
    font-style : italic;
    font-size : 10px;
    line-height: 13px;
}