td.label
{
    vertical-align: top;
}

/* Affichage pour les champs à formater */
tr.platformLength > td > span
{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background: url('../../../img/yes.png') no-repeat 0 0;
}
tr.platformLength.malformed > td > span
{
    background: url('../../../img/no.png') no-repeat 0 0;    
}


td.small
{
    font-size: 7pt;
}

table.formTable
{
    width: auto;
}

#types
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#types > li
{
    position: relative;
    float: left;
    margin-left: 2em;
}

#types > li:first-child
{
    margin-left: 0;
}