
table.model
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

table.model > tbody > tr
{
    line-height: 24px;
}

table.model > thead > tr > th.header
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

table.model > thead > tr > th.header.headerSortDown
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortAsc.png');
    text-decoration: underline;
}

table.model > thead > tr > th.header.headerSortUp
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortDesc.png');
    text-decoration: underline;
}

table.model > tbody > tr > td.small
{
    font-size: 7pt;
}