/* Filtres */
#tariffFamily-filter
{
    margin: 10px 0 0 0;
    background: url(../../../img/search.png) no-repeat 2px;
    height: 20px;
    padding-left: 22px;
}

span.chb-filter
{
    display: inline-block;
}

span.chb-filter,
span.chb-filter > input
{
    margin-left: 10px;
}


/* Tableau */
table#rentTariff
{
    max-width: 1280px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-collapse: collapse;
    border-bottom: 2px solid #007ac2;
}

table#rentTariff > tbody > tr
{
    height: 30px;
}

table#rentTariff > tbody > tr.sep:not(:first-child) > td
{
    border-top: 2px solid #007ac2;
}

table#rentTariff > thead > tr > th.duration-range
{
    width: 140px;
    text-align: center;
}
table#rentTariff > thead > tr > th.duration-range-sub
{
    text-align: center;
}
table#rentTariff > tbody > tr > td.duration-range
{
    text-align: center;
    display: none;
}
table#rentTariff > tbody > tr > td.duration-range > span > input
{
    width: 40px;
}

table#rentTariff > tbody > tr > td.sublabel
{
    border-right: 2px solid #007ac2;
}

table#rentTariff > tbody > tr > td.duration-range:nth-of-type(3n+5):not(:last-child),
table#rentTariff > tbody > tr > td.duration-range.filtered
{
    border-right: 1px solid #007ac2;
}
table#rentTariff > tbody > tr > td.duration-range:nth-of-type(3n):not(:last-child)
{
    border-left: 1px solid #007ac2;
}

table#rentTariff > tbody > tr.isError
{
    background-color: #ffe5e6;
}

table#rentTariff > tbody > tr.isError:hover
{
    background-color: #ffc5c8;
}

table#rentTariff > tbody > tr.isSuccess
{
    background-color: #cde7cd;
}

table#rentTariff > tbody > tr.isSuccess:hover
{
    background-color: #b6e0b6;
}

table#rentTariff > tbody > tr.isUpdated
{
    background-color: #bfddf1;
}

table#rentTariff > tbody > tr.isUpdated:hover
{
    background-color: #aad2ec;
}



