.date
{
    font-family: 'Segoe UI', Arial, Helvetica, Sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

.type
{
    margin-left: 30px;
    font-style: italic;
}

div.loading
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #f2f9fc url("../../../img/default/home/loading.gif") no-repeat center center;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 300;
}

div.loading.error
{
    background: #fcf3f7 url("../../../img/error.png") no-repeat center center;
}

div.loading.hidden
{
    display: none;
}

table.structure
{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

table.structure tr
{
    vertical-align: top;
}

table.structure td
{
    padding-right: 10px;
}

div.alertBlock
{
    width: 100%;
}

a.alert
{
    background-image: none !important;
    padding: 1px 4px !important;
    display: inline-block !important;
    width: 60px;
    cursor: default;
}

a.alert:hover
{
    padding: 0px 3px !important;
}

a.alert.hot
{
    padding: 0px 3px !important;
    border: 1px solid #FEC2C4 !important;
    background-color: #FFE5E6 !important;
    color: #DA0005 !important;
}

a.alert.hot table td.number
{
    font-weight: bold;
}

a.alert table
{
    width: 100%;
}

a.alert table td
{
    padding: 0px;
}

a.alert table td.agency
{
    text-align: left;
}

a.alert table td.number
{
    text-align: right;
}
