BODY {
	background: #7F7FFF;
	color: #000000;
	font-size: 8pt;
	font-family: Arial, Helvetica;
}
A:link {
	text-decoration: none;
	color: #000000;
}
A:hover {
	text-decoration: none;
}
A:visited {
	text-decoration: none;
	color: #000000;
}
FONT {
	font-size: 8pt;
}
FONT.TITRE {
	background: #C6CDC5;
	font-size: 18pt;
}
FONT.MESS {
	text-decoration: none;
	text-align: center;
	font-weight: normal;
    font-size: 14pt;
	color: white;
}
FONT.PT {
	font-size: 10pt;
}
FONT.GD {
	font-size: 12pt;
}
INPUT {
	font-size: 8pt;
}
FONT.TX {
	background: #6B9BD0;
}
DIV {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
}
DIV.title {
	position: absolute;
	width: 150px;
	height: 20px;
	left: 0px;
	z-index: 10;
	background-color: #6B9BD0;
	font-weight: bold;
	font-size: 10px;
}
DIV.submenu {
	position: absolute;
	left: 0px;
	width: 175px;
	border: 1px solid black;
	background-color: #DEE3F6;
	background-color: yellow;
	font-size: 8px;
	visibility: hidden;
}
.menus {
	background: #DEE3F6;
	color: #000000;
	font-family: Arial;
	font-size: 12;
}
.menu1 {
	background: #6B9BD0;
	color: #000000;
	font-family: Arial;
	font-size: 12;
}
