BODY {
	background: #EDEDE0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
	color: #000000;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}
FONT {
	font-size: 10pt;
}
FONT.TITRE {
	background: #C6CDC5;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 17pt;
	font-weight: normal;
}
FONT.PT {
	font-size: 8pt;
}
@media print {
    FONT.PT {
        font-size: 6pt;
    }
}
FONT.PT_HL {
	font-size: 8pt;
	color: #FF6600;
}
@media print {
    FONT.PT_HL {
        font-size: 6pt;
    }
}
FONT.GD {
	font-size: 12pt;
}
@media print {
    FONT.GD {
        font-size: 11pt;
    }
}
TH {
	font-size: 10pt;
}
TD {
	font-size: 10pt;
}TH A:link {
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
TH A:hover {
	font-size: 8pt;
	font-weight: bold;
	text-decoration: underline;
	color: #000000;
}
TH A:active {
	font-size: 8pt;
	font-weight: bold;
	text-decoration: underline;
	color: #000000;
}
TH A:visited {
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
.montab {
	font-size: 8pt;
}
.mafont {
	font-size: 8pt;
}
.select0 {
	background: #99CCFF;
	color: #0033CC;
	font-family: Courier New, Courier, Arial, Helvetica, Verdana;
	font-size: 10pt;
	font-weight: bold;
}
.tableau0 {
	font-size: 12px;
}
.afdc {
	font-weight: bold;
	font-size: 12px;
	color: green;
}
.afcc {
	font-weight: bold;
	font-size: 12px;
	color: red;
}
.aftc {
	font-weight: bold;
	font-size: 12px;
	color: orange;
}
.montab2 {
	font-size: 10pt;
}
SELECT, INPUT, TEXTAREA {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
FIELDSET {
	padding: 5px;
}
FIELDSET.machine {
	border: none;
	border-top: 2px solid #bcb9bc;
	border-bottom: 2px solid #bcb9bc;
	font-weight: bold;
}
INPUT.bouton, BUTTON.bouton {
    border: 1px solid #8a8f8a;
    background-color: #e1e3d8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
INPUT.bouton_hover, BUTTON.bouton_hover {
    border: 1px solid #3b507c;
    background-color: #efe6bd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

INPUT.inputInline {
    display: inline-block;
}
}
