table.basic
{
    width: 100%;
}

#list > tbody > tr.no-result
{
    display: none;
}

table.basic > tbody > tr > td
{
    padding: 2px 5px;
}

#list > thead > tr > th,
#list > tbody > tr > td.values > table > td
{
    padding: 3px 5px;
}

#list > thead > tr > th.state
{
    width: 20px;
}

#list > thead > tr > th.id
{
    width: 20px;
}

#list > thead > tr > th.code
{
    width: 140px;
}

#list > thead > tr > th.label
{
    min-width: 500px;
    max-width: 500px;
}


#list > tbody > tr > td.id,
#list > tbody > tr > td.code,
#list > tbody > tr > td.label
{
    vertical-align: baseline;
}

#list > tbody > tr > td.id
{
    font-size: xx-small;
    font-style: italic;
    text-align: end;
}

#list .id
{
    text-align: end;
}

#list > tbody > tr > td.state.active
{
    background: url(../../../../img/flagGreen.png) no-repeat top;
}
#list > tbody > tr > td.state.deleted
{
    background: url(../../../../img/flagRed.png) no-repeat top;
}

#list > tbody > tr > td.values > table
{
    width: 100%;
    border: 0;
    background: inherit;
    box-shadow: inherit;
}
#list > tbody > tr > td.values > table > tbody > tr
{
    background: inherit;
}
#list > tbody > tr > td.values > table > tbody > tr:last-child > td
{
    border: 0;
}

#list > tbody > tr.expired,
#list > tbody > tr.expired pre
{
    color: #666;
    text-decoration: line-through;
}
#history-popup > table > tbody > tr.expired
{
    background-color: #e2e2e2;
    color: #666;
}
#history-popup > table > tbody > tr.expired > td.value > pre
{
    color: #666;
}

#list > thead > tr > th.type,
#list > tbody > tr > td.values > table td.type
{
    width: 35px;
    min-width: 35px;
}
#list > thead > tr > th.externId,
#list > tbody > tr > td.values > table td.externId
{
    min-width: 20px;
    width: 20px;
}

#list > thead > tr > th.beginDate,
#list > tbody > tr > td.values > table td.beginDate
{
    min-width: 100px;
    width: 100px;
}
#list > thead > tr > th.value,
#list > tbody > tr > td.values > table td.value
{
    width: 800px;
}
#list > thead > tr > th.history,
#list > tbody > tr > td.history
{
    min-width: 20px;
    width: 20px;
}

#list > tbody > tr > td.values > table td.type > span,
#history-popup > table > tbody > tr > td.type > span
{
    display: inline-block;
    width: 16px;
    height: 16px;
}

#list > tbody > tr > td.values > table td.type > span.t_G,
#history-popup > table > tbody > tr > td.type > span.t_G
{
    background-color: #57c557;
}
#list > tbody > tr > td.values > table td.type > span.t_P,
#history-popup > table > tbody > tr > td.type > span.t_P
{
    background-color: #f3b07a;
}
#list > tbody > tr > td.values > table td.type > span.t_A,
#history-popup > table > tbody > tr > td.type > span.t_A
{
    background-color: #e6534e;
}

#list > tbody > tr > td.values > table td.beginDate
{
    font-size: x-small;
    color: #666;
}

#list > tbody > tr > td.values > table td.value,
#list > tbody > tr > td.history
{
    cursor: pointer;
}

#list > tbody > tr > td.values > table td.value > pre,
#history-popup > table > tbody > tr > td.value > pre
{
    cursor: pointer;
    font-family: monospace;
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#history-popup > table > tbody > tr > td.value > pre
{
    width: 360px;
}

#list > tbody > tr > td.values > table td.value.expand > pre,
#history-popup > table > tbody > tr > td.value.expand > pre
{
    overflow: auto;
    white-space: pre-wrap;
    text-overflow: inherit;
}


#list > tbody > tr > td.history
{
    background: url(../../../../img/history.png) no-repeat center;
}

#history-popup > h1
{
    text-align: left;
    font-size: large;
    color: #0068a5;
}

#filter
{
    margin: 10px 0;
    padding: 10px 10px 10px 30px;
    background: url(../../../../img/search.png) no-repeat 5px;

}
