fieldset.displaySolution
{
    width: auto;
    display: inline-block;
    margin-top: 15px;
}

fieldset.displaySolution.transferOk,
fieldset.displaySolution.reactivateOk
{
    background-color: #cde7cd;
    background: -webkit-linear-gradient(top left, rgba(200, 255, 200, 1), rgba(220, 255, 220, 0.4));
    background:    -moz-linear-gradient(top left, rgba(200, 255, 200, 1), rgba(220, 255, 220, 0.4));
    background:         linear-gradient(top left, rgba(200, 255, 200, 1), rgba(220, 255, 220, 0.4));
}
fieldset.displaySolution.transferKo,
fieldset.displaySolution.reactivateKo
{
    background-color: #ffe5e6;
    background: -webkit-linear-gradient(top left, rgba(255, 220, 220, 1), rgba(255, 220, 220, 0.4));
    background:    -moz-linear-gradient(top left, rgba(255, 220, 220, 1), rgba(255, 220, 220, 0.4));
    background:         linear-gradient(top left, rgba(255, 220, 220, 1), rgba(255, 220, 220, 0.4));    
}

fieldset.displaySolution > form > table.formTable
{
    margin-bottom: 15px;
}

fieldset.displaySolution > form > p
{
    color: #007AC2;
    font-weight: bold;
}

#majStocksAlerts
{
    background-color: #000;
}

fieldset.form,
fieldset.listCase
{
    display: inline-block;
    vertical-align: top;
}

fieldset.form > legend
{
    background: url("../../../img/helpdesk/common/form.png") no-repeat 2px 0;
    padding-left: 22px;
}

fieldset.displaySolution > legend,
fieldset.listCase > legend
{
    background: url("../../../img/helpdesk/common/info.png") no-repeat 2px 0;
    padding-left: 22px;
}