h1.searchResult
{
    margin-top: 24px;
    color: #007AC2;
    font-size: 8pt;
    background-image: url("../../../img/searchResults.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
}

p.noResult
{
    font-style: italic;
    padding-left: 20px;
    background-image: url("../../../img/iconWarning.gif");
    background-repeat: no-repeat;
    font-size : 1.4em;
}
table.list
{
    margin-top: 8px;
    width : 100%;
}

table.list > thead > tr > th.orderDelivery,
table.list > thead > tr > th.orderRecovery,
table.list > thead > tr > th.selection,
table.list > tbody > tr > td.orderDelivery,
table.list > tbody > tr > td.orderRecovery,
table.list > tbody > tr > td.selection
{
    border-left: 1px solid #66afda;
}

table.list > thead > tr > th.orderDelivery,
table.list > thead > tr > th.orderRecovery

{
    text-align: center;
}
table.list > tbody > tr
{
    height: 22px;
}


table.list > tbody > tr > td.endDate,
table.list > tbody > tr > td.beginDate,
table.list > tbody > tr > td.documentCode
{
    font-size: 10px;
    white-space: nowrap;
}

table.list > tbody > tr > td.orderDelivery,
table.list > tbody > tr > td.orderRecovery
{
    text-align: center;
}

table.list > tbody > tr > td.isLocked > span
{
    display: inline-block;
    width: 16px;
    height: 16px;
}

table.list > tbody > tr > td.isLocked.on > span
{
    cursor: pointer;
    background: url('../../../img/standard/locked.png') no-repeat;
}

table.list > tbody > tr > td.isLocked.off > span
{
    cursor: pointer;
    background: url('../../../img/standard/opened.png') no-repeat;
}

table.list > tbody > tr > td.isLocked.disabled > span
{
    background: url('../../../img/standard/lockedDisabled.png') no-repeat;
}

#TabBox > div.tabsContainer
{
    height: 22px;
}

#forceUpdate[disabled] + label
{
    color: #aaaaaa;
}

#fld-updating
{
    margin-top: 10px;
    display: none;
}

#renewError,
#renew-progression.hidden,
#renew-progression > span.finished-msg
{
    display: none;
}

#renew-progression.finished > div > div.progression
{
    background: transparent url("../../../img/helpdesk/transport/progressbarfinished.jpg") repeat-x top left;
}
#renew-progression.finished > img
{
    display: none;
}

#renew-progression.finished > span.finished-msg
{
    display: inline-block;
}

#renew-progression.error #renewUpdating
{
    display: none;
}

#renew-progression.error #renewError
{
    display: inline-block;
}

#fld-updating div.progressbar
{
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    width: 150px;
    height: 10px;
    border: 1px solid #66AFDA;
    border: 1px solid #BBBBBB;
    border-radius: 2px;
    background: transparent url("../../../img/helpdesk/transport/progressbarBg.jpg") repeat-x top left;
}

#fld-updating div.progression
{
    display: inline-block;
    vertical-align: middle;
    width: 0%;
    height: 100%;
    background: transparent url("../../../img/helpdesk/transport/progressbar.jpg") repeat-x top left;
}

/*** Choix des agences ***/

#agenciesSelect > a.agenciesLabel,
#agenciesSelect.choice > a.agenciesLabelAll
{
    display: none;
}

#agenciesSelect.choice > a.agenciesLabel,
#agenciesSelect > a.agenciesLabelAll
{
    display: inline-block;
}

#choiceAgencies
{
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #b2b2b2;
    margin-top: 5px;
    display: none;
}

table.searchAgencies
{
    border-collapse: separate;
    border-spacing: 2px;
    border: 0;
}

table.searchAgencies > tbody > tr.area > td.name
{
    border: 1px solid #b2b2b2;
    cursor: pointer;
    color: #888888;
    background-color: #F3F6F7;
    font-weight: bold;
    padding: 0 8px;
    text-align: center;
    width: 110px;
    font-size: 11px;
}

table.searchAgencies > tbody > tr.area.notaffected > td.name
{
    font-style: italic;
    color: #999999;
}

table.searchAgencies > tbody > tr.area:hover > td.name
{
    color: #666666;
}

table.searchAgencies > tbody > tr.area > td.agencies
{
    border: 1px solid white;
    max-width: 578px;
}

table.searchAgencies > tbody > tr.area > td.name:hover + td.agencies
{
    background-color: #FAFAFA;
    border-color: #b2b2b2;
}

table.searchAgencies > tbody > tr.area > td.agencies:hover
{
    border-color: #eeeeee;
}

table.searchAgencies > tbody > tr.area > td.agencies > span.agency
{
    display: inline-block;
    padding: 1px 2px;
    margin: 1px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    width: 26px;
}

table.searchAgencies > tbody > tr.area > td.agencies > span.agency.off
{
    color: #888888;
    border-color: #D4DADC;
    background-color: #F3F6F7;
}

table.searchAgencies > tbody > tr.area > td.agencies > span.agency.off:hover
{
    border-color: #a4aaac;
}

table.searchAgencies > tbody > tr.area > td.agencies > span.agency.on
{
    color: #3B6B11;
    border-color: #8DDA42;
    background-color: #C5ED9E;
}

table.searchAgencies > tbody > tr.area > td.agencies > span.agency.on:hover
{
    border-color: #519B0D;
}

table.searchAgencies > tbody > tr.area > td.agencies > span.agency.current
{
    font-weight: bold;
    text-decoration: underline;
}

