hr
{
    height: 0;
    border-left: none;
    border-right: none;
    margin: 10px 0;
}

fieldset.scripts
{
    width: 500px;
    float: left;
    margin-right: 15px;
}

fieldset.scripts > legend
{
    background: url("../../../img/helpdesk/index/scripts.png") no-repeat 2px 0;
    padding-left: 22px;
}


fieldset.links
{
    width: 250px;
}

fieldset.links > legend
{
    background:  url("../../../img/helpdesk/index/links.png") no-repeat 2px 0;
    padding-left: 22px;
}

fieldset.links > ul
{
    list-style: none;
    padding: 0;
    margin: 15px 20px 15px 10px;
}

fieldset.links > ul > li
{
    text-align: left;
    margin: 5px 0;
}


div.module
{
    margin: 15px 20px 15px 10px;
    padding: 2px 0 2px 6px;
    border-left: 3px solid #999;

    -webkit-transition: border-color ease 0.5s;
       -moz-transition: border-color ease 0.5s;
            transition: border-color ease 0.5s;
}

div.module:hover
{
    border-color: #007ac2;
}

div.module > span.title
{
    text-shadow: 2px 2px 3px #aaa;
    font-weight: bold;
    font-size: 14px;
    color: #555;

    -webkit-transition: color ease 0.5s;
       -moz-transition: color ease 0.5s;
            transition: color ease 0.5s;
}

div.module:hover > span.title
{
    text-shadow: 2px 2px 3px #aab;
    color: #007ac2;
}

div.module > ul
{
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;
}

div.module > ul > li > a
{
    color: #555;
    display: block;
    margin: 8px 4px 8px 0;
    border: 1px solid #eee;
    border-radius: 4px;

    padding: 2px 4px;
    line-height: 16px;
    font-size: 14px;
    display: block;
    text-decoration: none;

    -webkit-transition: background-color ease 0.5s, margin ease 0.5s;
       -moz-transition: background-color ease 0.5s, margin ease 0.5s;
            transition: background-color ease 0.5s, margin ease 0.5s;
}

div.module > ul > li.inactive > a
{
    text-decoration: line-through;
    cursor: default;
    color: #999;
}

div.module > ul > li.active > a
{
    border-color: #ddd;
    box-shadow: 1px 1px 2px #ddd;
}

div.module:hover > ul > li.active > a
{
    border-color: #ccc;
    color: #222;
    box-shadow: 1px 1px 2px #ccc;
}

div.module > ul > li.active > a:first-letter
{
    font-weight: bold;
}

div.module > ul > li.active:hover > a
{
    border-color: #b5e1f5;
    color: #007ac2;
    background-color: #d2ebfb;
    margin-left: 4px;
    margin-right: 0px;
    text-shadow: 0 1px 1px white;
    box-shadow: 1px 1px 3px #999;
}
