
div.errorImg
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../../../img/common/alerts/errors.png') no-repeat -16px 0;
}

div.errorImg + div.errorImg
{
    margin-left: 4px;
}

div.errorImg.noMachine
{
    background-position: 0 0;
}
div.errorImg.proformaNotGen
{
    background-position: 0 -16px;
}
div.errorImg.proformaNotUpToDate
{
    background-position: 0 -32px;
}
div.errorImg.proformaNotPayed
{
    background-position: 0 -48px;
}
div.errorImg.rentTariff
{
    background-position: 0 -64px;
}
div.errorImg.transportTariff
{
    background-position: 0 -80px;
}
div.errorImg.customerNotVerified
{
    background-position: 0 -96px;
}

div.legend
{
    display: block;
    position: relative;
    text-align: left;
}

div.legend > span.title
{
    font-style: italic;
    vertical-align: bottom;
}

div.legend > div.button
{
    display: inline-block;
    position: relative;
    margin: 0 1px;
    padding: 2px;
    z-index: 1;
}

div.legend > div.button > div.errorImg
{
    position: relative;
    z-index: 1;
}

div.legend > div.button > div.text
{
    display: none;
}

div.legend > div.button:hover
{
    padding: 1px;
    border: 1px solid #b5e1f5;
    border-right-color: #66afda;
    border-bottom-color: #66afda;
    background-color: #e8f3f9;
}

div.legend > div.button:hover > div.text
{
    display: inline;
    position: absolute;
    left: -12px;
    top: 26px;
    border: 1px solid #dadada;
    border-right-color: #767676;
    border-bottom-color: #767676;
    background-color: #f1f1f1;
    color: #151515;
    padding: 2px 4px 2px 4px;
    line-height: 16px;
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 2px 3px;
    z-index: 10;
    min-width: 32px;
}

div.legend > div.button:hover > div.text > div.pick
{
    position: absolute;
    left: 12px;
    top: -8px;
    width: 20px;
    height: 10px;
    background: url('../../../img/common/alerts/errors.png') no-repeat -16px -64px;
    z-index: 2;
}


div.noResult
{
    margin-top: 16px;
}



table.allocate
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

table.allocate > tbody > tr
{
    line-height: 14px;
    height: 32px;
}

table.allocate > tbody > tr > td.code
{
    font-size: 10px;
    font-weight: bold;
}

table.allocate > thead > tr > th.allocate,
table.allocate > tbody > tr > td.allocate
{
    text-align: right;
    white-space: nowrap;
}

table.allocate > thead > tr > th.header
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

table.allocate > thead > tr > th.header.headerSortDown
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortAsc.png');
    text-decoration: underline;
}

table.allocate > thead > tr > th.header.headerSortUp
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortDesc.png');
    text-decoration: underline;
}

table.allocate > tbody > tr > td.model
{
    font-size: 10px;
}


table.allocate > tbody > tr.ko,
table.allocate > tbody > tr.ok.isError
{
    background-color: #f9e5e6;
}
table.allocate > tbody > tr.ko.even,
table.allocate > tbody > tr.ok.isError
{
    background-color: #fadadb;
}

table.allocate > tbody > tr.ko:hover,
table.allocate > tbody > tr.ok.isError
{
    background-color: #f8c8c9;
}

table.allocate > tbody > tr > td.allocate > div.errorImg
{
    display: none;
    margin-left: 4px;
}

table.allocate > tbody > tr > td.allocate > div.parkNumber
{
    display: none;
}

table.allocate > tbody > tr.ko > td,
table.allocate > tbody > tr.ok.isError > td
{
    border-bottom-color: #e7cfcf;
}

table.allocate > tbody > tr.ko.noMachine > td.allocate > div.errorImg.noMachine,
table.allocate > tbody > tr.ko.proformaNotGen > td.allocate > div.errorImg.proformaNotGen,
table.allocate > tbody > tr.ko.proformaNotUpToDate > td.allocate > div.errorImg.proformaNotUpToDate,
table.allocate > tbody > tr.ko.proformaNotPayed > td.allocate > div.errorImg.proformaNotPayed,
table.allocate > tbody > tr.ko.rentTariff > td.allocate > div.errorImg.rentTariff,
table.allocate > tbody > tr.ko.transportTariff > td.allocate > div.errorImg.transportTariff,
table.allocate > tbody > tr.ko.customerNotVerified > td.allocate > div.errorImg.customerNotVerified
{
    display: inline-block;
}

table.allocate > tbody > tr.ok > td.allocate > div.parkNumber
{
    position: relative;
    display: inline-block;
}

table.allocate > tbody > tr.ok > td.allocate > div.parkNumber > select
{
    margin: 0;
    height: 18px;
    vertical-align: middle;
    min-width: 86px;
}

table.allocate > tbody > tr > td.info > div.wished,
table.allocate > tbody > tr.ok > td.allocate > div.parkNumber > div.button
{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 1px 0 0;
    background: url('../../../img/technical/allocation/icons.png') no-repeat 0 -16px;
    vertical-align: middle;
}

table.allocate > tbody > tr > td.info > div.wished
{
    position: relative;
    margin-right: 6px;
    background-position: 0 -48px;
}

table.allocate > tbody > tr > td.info > div.wished > div.tip
{
    position: absolute;
    left: -67px;
    top: 6px;
    width: 0;
    height: 0;
    overflow: hidden;
    background: url('../../../img/rent/rentContract/wishedTip.png') no-repeat 0 0;
    opacity: 0;
    z-index: -1;

    -webkit-transition: opacity 1s ease-out;
       -moz-transition: opacity 1s ease-out;
         -o-transition: opacity 1s ease-out;
            transition: opacity 1s ease-out;
}

table.allocate > tbody > tr > td.info > div.wished > div.tip > div.icon
{
    position: absolute;
    left: 16px;
    top: 27px;
    width: 24px;
    height: 24px;
    background: url('../../../img/rent/rentContract/wishedTip.png') no-repeat -116px 0;
}

table.allocate > tbody > tr > td.info > div.wished > div.tip > div[onclick].icon:hover
{
    background-position: -116px -24px;
    cursor: pointer;
}

table.allocate > tbody > tr > td.info > div.wished:hover > div.tip,
table.allocate > tbody > tr > td.info > div.wished.on > div.tip
{
    width: 115px;
    height: 65px;
    display: block;
    opacity: 1;
    z-index: 100;
}

table.allocate > tbody > tr > td.info > div.wished > div.tip > div.locStandardParkNumber
{
    position: absolute;
    right: 18px;
    top: 30px;
}

table.allocate > tbody > tr.ok > td.allocate > div.parkNumber.ok > div.button
{
    background-position: 0 0;
}

table.allocate > tbody > tr.ok > td.allocate > div.parkNumber.ok > div.button:hover
{
    cursor: pointer;
    background-position: 0 -32px;
}

table.allocate > tbody > tr.ok > td.allocate > div.parkNumber.ok > select
{
    border-color: #74ab21;
    background: #d1eda7;
}

table.allocate > tbody > tr.ok > td.allocate > div.parkNumber.ok > select > option
{
    background-color: #d1eda7 !important;
}

table.allocate > tbody > tr.ok > td.allocate > div.parkNumber > select > option.wished
{
    color: black;
    background-color: #f9bead;
}
