#budget
{
    margin: 15px 0;
}


/* Espace messages */
#budget ul.messages
{
    margin-bottom: 5px;
    padding: 0;
    list-style-type: none;
}

#budget ul.messages > li
{
    display: inline-block;
}

#budget ul.messages > li:not(:last-child)
{
    margin-right: 2em;
}

#budget .messages .warning
{
    color: #d35400;
    font-weight: bold;
}


#budget .fullWidth
{
    width: 100%;
}

#budget .subLabel
{
    font-size: 0.8em;
    font-style: italic;
}

#budget tr.separator:hover
{
    background-color: inherit !important;
}

#budget tr.separator > td
{
    height: 0.25em;
}

#budget .number
{
    text-align: right;
    white-space: nowrap;
}

#budget .label
{
    /*font-weight: bold;*/
    font-style: italic;
}

#budget .odd
{
    background-color: rgba(189, 195, 199, 0.25);
}

#budget .level1
{
    background-color: rgba(204, 228, 242, 0.5);
    font-weight: bold;
}

#budget .level2
{
    background-color: rgba(204, 228, 242, 0.25);
    font-weight: bold;
}

#budget .level1:hover,
#budget .level2:hover
{
    background-color: #fcf2cc;
}

#budget .total
{
    background-color: rgba(241, 196, 15, 0.25);
}

#budget .turnover
{
    background-color: rgba(46, 204, 113, 0.25);
}

#budget table.basic :not(.pagination) > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#budget table.basic :not(.pagination) > ul > li
{
    padding: 2px 0;
}

#budget table.basic :not(.pagination) > ul > li:not(:last-child)
{
    border-bottom: 1px solid #cce4f2;
}


#budget #month
{
    height: 2.25em;
}


#budget .collipsable
{
    cursor: pointer;
}

#budget .collipsable > button
{
    float: left;
    cursor: pointer;
    background-color: transparent;
    background-image: url('../../../img/statistics/budget/collipsableSprite.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    border: none;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    transition: transform 400ms;
}

#budget .collipsable:hover > button
{
    background-position-x: -16px;
}

#budget .collipsable.collapse > button
{
    transform: rotate(0);
}

#budget .collipsable.expand > button
{
    transform: rotate(180deg);
}


/* Pagination */
#budget .pagination
{
    display: inline-block;
    margin: 0 4px;
}

#budget .pagination > ul
{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 22px;
    z-index: 1;
    white-space: nowrap;
    display: inline-block;
}

#budget .pagination > ul > li
{
    display: inline-block;
    font-size: 10px;
}

#budget .pagination > ul > li.btn
{
    color: #404040;
    text-decoration: none;
    padding: 4px 7px;
    background: #fff url('../../../img/jQuery/plugins/ajaxTable/paginationBg.png') repeat-x 0 0;
    border: 1px solid #B3D7ED;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #e0e0f0;
}

#budget .pagination > ul > li.btn.active
{
    cursor: pointer;
}

#budget .pagination > ul > li.btn.active:hover
{
    color: #007AC2;
    background-position: 0 -24px;
    border: 1px solid #A5D0E9;
    box-shadow: 1px 1px 3px #c8c8d8;
}

#budget .pagination > ul > li.btn.disabled
{
    border: 1px solid #ccc;
    background-position: 0 -72px;
    color: #888;
    cursor: default;
}

#budget .pagination > ul li.previous,
#budget .pagination > ul li.next
{
    line-height: 2.25em;
    padding: 0;
    width: 2.25em;
    text-align: center;
}

#budget .pagination > ul li.previous:before,
#budget .pagination > ul li.next:before
{
    font-size: 1.2em;
}

#budget .pagination > ul li.previous:before
{
    content: '<';
}

#budget .pagination > ul li.next:before
{
    content: '>';
}

#budget ul.tariffFamilies
{
    font-size: 0.8em;
    padding: 0;
    margin-top: 4em;
    list-style-type: none;
    opacity: 0.5;
}

#budget ul.tariffFamilies::before
{
    content: '';
    border-bottom: 1px solid black;
    display: block;
    width: 20em;
    opacity: 0.5;
    margin-bottom: 0.5em;
}

#budget ul.tariffFamilies > li > ul
{
    padding-left: 1.5em;
    list-style-type: none;
}

#budget ul.tariffFamilies > li > ul > li > ul
{
    padding-left: 3em;
    list-style-type: none;
}

#budget ul.tariffFamilies > li,
#budget ul.tariffFamilies ul:not(.list) > li
{
    clear: both;
}

#budget ul.tariffFamilies ul.list > li
{
    position: relative;
    float: left;
}

#budget ul.tariffFamilies ul.list > li:not(:last-child)
{
    margin-right: 1em;
}