/**
* Bloc infos/erreurs
**/
div.errorImg
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../../../img/common/alerts/errors.png') no-repeat -16px 0;
}

div.errorImg + div.errorImg
{
    margin-left: 4px;
}

div.errorImg.noMachine
{
    background-position: 0 0;
}
div.errorImg.proformaNotGen
{
    background-position: 0 -16px;
}
div.errorImg.proformaNotUpToDate
{
    background-position: 0 -32px;
}
div.errorImg.proformaNotPayed
{
    background-position: 0 -48px;
}
div.errorImg.rentTariff
{
    background-position: 0 -64px;
}
div.errorImg.transportTariff
{
    background-position: 0 -80px;
}
div.errorImg.customerNotVerified
{
    background-position: 0 -96px;
}
div.errorImg.deliveryNotDone
{
    background-position: 0 -112px;
}
div.errorImg.onRecovery
{
    background-position: 0 -128px;
}
div.errorImg.onDelivery
{
    background-position: 0 -144px;
}
div.errorImg.noMainContract
{
    background-position: 0 -160px;
}
div.errorImg.machineSiteBlocked
{
    background-position: 0 -176px;
}
div.errorImg.machineNotTransfered
{
    background-position: 0 -192px;
}

div.legend
{
    display: block;
    position: relative;
    text-align: left;
}

div.legend > span.title
{
    font-style: italic;
    vertical-align: bottom;
}

div.legend > div.button
{
    display: inline-block;
    position: relative;
    margin: 0 1px;
    padding: 2px;
    z-index: 1;
}

div.legend > div.button > div.errorImg
{
    position: relative;
    z-index: 1;
}

div.legend > div.button > div.text
{
    display: none;
}

div.legend > div.button:hover
{
    padding: 1px;
    border: 1px solid #b5e1f5;
    border-right-color: #66afda;
    border-bottom-color: #66afda;
    background-color: #e8f3f9;
}

div.legend > div.button:hover > div.text
{
    display: inline;
    position: absolute;
    left: -12px;
    top: 26px;
    border: 1px solid #dadada;
    border-right-color: #969696;
    border-bottom-color: #969696;
    background-color: #f1f1f1;
    color: #151515;
    padding: 2px 6px 2px 6px;
    line-height: 16px;
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 2px 3px;
    z-index: 10;
    min-width: 32px;
}

div.legend > div.button:hover > div.text > div.pick
{
    position: absolute;
    left: 12px;
    top: -8px;
    width: 20px;
    height: 10px;
    background: url('../../../img/common/alerts/errors.png') no-repeat -16px -64px;
    z-index: 2;
}

div.locMessage
{
    margin-top: 10px;
    margin-bottom: 10px;
}


div.non-doable
{
    display: inline-block;
    width: 16px;
    height: 16px;
}

div.non-doable.recovery-contract
{
    background: url('../../../img/flagGreen.png') no-repeat 0 0;
}

div.non-doable.estimateLine
{
    background: url('../../../img/flagYellow.png') no-repeat 0 0;
}



div.list
{
    position: relative;
    margin: 0;
    padding: 3px 0;
    z-index: 1;
}

div.list > div.toolbar
{
    margin: 0;
    display: table;
    width: 100%;
}

div.list > div.toolbar > div.col
{
    display: table-cell;
    position: relative;
}

div.list > div.toolbar > div.col > div.fixed-content
{
    display: none;
    margin-top: 4px;
    margin-left: 10px;
}

div.list > div.toolbar > div.col.content
{
    text-align: left;
}

div.list > div.toolbar > div.col.controls
{
    display: table-cell;
    text-align: right;
    padding-right: 4px;
}

div.list > div.toolbar > div.col.controls > ul
{
    margin: 0px;
    display: inline-block;
}

div.list > div.toolbar > div.col.controls > ul > li
{
    list-style: none;
    position: relative;
    float: left;
}

div.list > div.toolbar > div.col.controls > ul > li:not(:first-child)
{
    border-left: 1px solid #A5D0E9;
    margin-left: 10px;
    padding-left: 10px;
}

div.list > div.toolbar > div.col.controls > ul > li #do-checked
{
    font-weight: normal;
    color: #666666;
}

div.list > div.content
{
    margin: 8px 0;
}

/* Fixation de la barre d'outils */
body.table-toolbar-fixed #locStandardMiddle.scroll-top:before
{
    display: none;
}

body.table-toolbar-fixed #table-toolbar-container
{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #b3d7ed;
    margin: 0;
    padding: 6px 5px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.35);
}

body.table-toolbar-fixed #table-toolbar-container > div.col > div.fixed-content
{
    display: block;
}

body.table-toolbar-fixed #table-container
{
    margin-top: 58px;
}

.ajaxtable-filters-recap-container
{
    position: absolute;
}

#header-checked-recap
{
    font-size: 10px;
    display: block;
    color: #606060;
    margin: 5px 0px;
}

#header-checked-recap:before
{
    content: '\00a0';
}

#back-top-btn
{
    opacity: 0.8;
}

#back-top-btn:hover
{
    opacity: 1;
}



/* Filtres */

fieldset.filters
{
    position: relative;
    margin-top: 12px;
    margin-bottom: 20px;
    z-index: 2;
}

body.table-toolbar-fixed fieldset.filters
{
    z-index: 1;
}

fieldset.filters > legend
{
    background-image: url("../../../img/common/ajaxTable/filter.png");
    background-repeat: no-repeat;
    background-position: 2px 0;
    padding-left: 22px;
    line-height: 16px;
}

fieldset.filters > ul.content
{
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset.filters > ul.content > li.part
{
    margin: 0;
    padding: 0;
}

fieldset.filters > ul.content > li.part > hr
{
    border: none;
    border-top: 1px solid #E0E0E0;
    height: 1px;
    width: auto;
    margin: 0 10px;
}

fieldset.filters > ul.content > li.part > ul
{
    margin: 4px 0;
    padding: 0;
    list-style: none;
}

fieldset.filters > ul.content > li.part > ul > li
{
    padding: 0;
    margin: 6px 10px;
    min-width: 150px;
    max-width: 240px;
    vertical-align: top;
}

fieldset.filters > div.ctrls
{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 8px;
}


/* Tableau */
table.list
{
    table-layout: fixed;
    width: 100%;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

table.list > thead th > div
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.list > thead th.agency
{
    width: 24px;
}

table.list > thead th.type
{
    width: 36px;
}

table.list > thead th.order
{
    width: 72px;
}

table.list > thead th.date
{
    width: 90px;
}

table.list > thead th.documentcode
{
    width: 120px;
}

table.list > thead th.asbestos
{
    width: 32px;
}

table.list > thead th.arrow
{
    width: 13px;
}

table.list > thead th.park
{
    width: 60px;
}

table.list > thead th.customer
{
    width: 20%;
}

table.list > thead th.doable
{
    width: 20px;
    text-align: right;
}

table.list > thead th.doable > *
{
    cursor: pointer;
}

table.list > tbody > tr
{
    height: 24px;
}

table.list > tbody > tr:not(.error)
{
    cursor: pointer;
}

table.list > tbody > tr.error
{
    background-color: #f9e5e6;
}
table.list > tbody > tr.error.even
{
    background-color: #fadadb;
}

table.list > tbody > tr.error:hover
{
    background-color: #f8c8c9;
}

table.list > tbody > tr.error > td
{
    border-bottom-color: #e7cfcf;
}

table.list > tbody > tr.selected,
table.list > tbody > tr.selected.odd
{
    background-color: #ecf5fb;
}

table.list > tbody > tr.selected.even
{
    background-color: #e5f1f9;
}

table.list > tbody > tr.selected:hover,
table.list > tbody > tr.selected.odd:hover
{
    background-color: #d2eafa;
}

table.list > tbody > tr.selected.even:hover
{
    background-color: #cde8fa;
}

table.list > tbody > tr.done,
table.list > tbody > tr.done.odd
{
    background-color: #f3f3f3;
    cursor: auto;
}

table.list > tbody > tr.done.even
{
    background-color: #ebebeb;
}

table.list > tbody > tr.done:hover,
table.list > tbody > tr.done.odd:hover
{
    background-color: #e5e5e5;
}

table.list > tbody > tr.done.even:hover
{
    background-color: #dedede;
}

table.list > tbody > tr.done > *
{
    opacity: 0.6;
}

table.list > tbody > tr.done > td.doable
{
    opacity: 1;
}

table.list > tbody td.type > div.icon
{
    width: 16px;
    height: 16px;
    background: url("../../../img/transport/types.png") no-repeat 0 0;
}

table.list > tbody td.type > div.icon.type_R
{
    background-position: 0 -16px;
}

table.list > tbody td.type > div.icon.type_TS
{
    background-position: 0 -32px;
}

table.list > tbody td.type > div.icon.type_TA
{
    background-position: 0 -48px;
}

table.list > tbody td.park
{
    text-align: center;
}

table.list > tbody td.doable
{
    text-align: right;
}

table.list > tbody td.doable > div.errors
{
    white-space: nowrap;
}

table.list > tbody td.date li.hour
{
    font-size: 10px;
}

table.list > tbody td.documentcode
{
    font-size: 10px;
    font-weight: bold;
}
table.list > tbody td.documentcode li.index > a
{
    font-style: italic;
    font-weight: normal;
}
table.list > tbody td.asbestos span
{
    display: inline-block;
    padding-left: 6px;
}
table.list > tbody td.asbestos span.asbestos::before
{
    display: inline-block;
    content: url('../../../img/rent/helper/site/ic_asbestos_24px.svg');
    vertical-align: middle;
}

table.list > tbody td.order
{
    font-weight: bold;
}

table.list > tbody td.order,
table.list > tbody td.from,
table.list > tbody td.to
{
    font-size: 10px;
    line-height: normal;
}

table.list > tbody td.from > div,
table.list > tbody td.to > div
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.list > tbody td.from
{
    position: relative;
    padding-right: 20px;
}

table.list > tbody td.arrow
{
    font-size: 13px;
}

table.list > tbody td.model
{
    font-size: 10px;
}

table.list > tbody td.doable input[type=checkbox]
{
    margin-right: 2px;
}

table.list > tbody td.machineInventory > div
{
    display: block;
    width: 16px;
    height: 16px;
    background: url("../../../img/rent/helper/documents/machineInventory.png") no-repeat 0 0;
    cursor: pointer;
}

table.list > tbody ul.rows
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: inherit;
}

table.list > tbody ul.rows > li
{
    width: inherit;
    line-height: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.list > tbody ul.rows > li.double
{
    line-height: 26px;
}

table.list > tbody ul.rows > li.top + li.btm
{
    border-top: 1px solid #bedff3;
    margin-top: 1px;
    padding-top: 1px;
}

div.done,
div.error
{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

div.done
{
    background-image: url("../../../img/yes.png");
}

div.error
{
    background-image: url("../../../img/no.png");
}

div.action-mask
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4) url('../../../img/jQuery/plugins/ajaxTable/tableLoading.gif') no-repeat center center;
    opacity: 0.6;
    z-index: 3;
    display: none;
}


.viewMode
{
    font-weight: normal !important;
    color: black !important;
}

.viewMode.disabled
{
    color: #AAAAAA !important;
}

#viewMode-checked,
#viewMode-full
{
    font-weight: bold;
}

#viewMode-checked
{
    color: #A00000;
}
