@media print
{
    body
    {
        zoom:75%;
    }
}

table.alignFieldsetBlocks
{
    width: 100%;
    table-layout: fixed;
}

table.alignFieldsetBlocks tr
{
    vertical-align: top;
}


table.formTable > tbody > tr > td.wishedMachine > div.wished
{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 1px 0 0;
    background: url('../../../img/technical/allocation/icons.png') no-repeat 0 -48px;
    vertical-align: middle;
    position: relative;
}

table.formTable > tbody > tr > td.wishedMachine > div.wished > div.tip
{
    position: absolute;
    left: -67px;
    top: 6px;
    width: 0;
    height: 0;
    overflow: hidden;
    background: url('../../../img/rent/rentContract/wishedTip.png') no-repeat 0 0;
    opacity: 0;
    z-index: -1;

    -webkit-transition: opacity 1s ease-out;
       -moz-transition: opacity 1s ease-out;
         -o-transition: opacity 1s ease-out;
            transition: opacity 1s ease-out;
}

table.formTable > tbody > tr > td.wishedMachine > div.wished:hover > div.tip,
table.formTable > tbody > tr > td.wishedMachine > div.wished.on > div.tip
{
    width: 115px;
    height: 65px;
    display: block;
    opacity: 1;
    z-index: 100;
}

table.formTable > tbody > tr > td.wishedMachine > div.wished > div.tip > div.icon
{
    position: absolute;
    left: 16px;
    top: 27px;
    width: 24px;
    height: 24px;
    background: url('../../../img/rent/rentContract/wishedTip.png') no-repeat -116px 0;
}

table.formTable > tbody > tr > td.siteBlockedMachine > div.icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 1px 0 0;
    background: url('../../../img/common/alerts/errors.png') no-repeat 0 -176px;
    vertical-align: middle;
    position: relative;
}

table.formTable > tbody > tr > td.wishedMachine > div.wished > div.tip > div.locStandardParkNumber
{
    position: absolute;
    right: 18px;
    top: 30px;
}

#rentCommentsFieldset
{
    margin-right: 10px;
}

#rentContractBlock
{
    position: relative;
    min-width: 1116px;
}

#rentContractBlock > div.loadingMask
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    z-index: 100;

    display: none;
}

#rentContractBlock.loadstatus_loading > div.loadingMask
{
    background: #f2f9fc url("../../../img/loading4.gif") no-repeat center center;
    opacity: 0.40;
    filter: alpha(opacity=40);
    display: block;
}

#rentContractBlock > div.content
{
    z-index: 0;
}


#rentContractModelUseRateBlock table#rentContractModelUseRateTable th
{
    text-align: right;
    padding-right: 2px;
    font-style: italic;
}

#rentContractModelUseRateBlock table#rentContractModelUseRateTable td.useRate
{
    width: 70px;
    text-align: right;
    white-space: nowrap;
    padding-right: 2px;
}
#rentContractModelUseRateBlock table#rentContractModelUseRateTable td.nbTotal
{
    width: 30px;
    text-align: left;
    white-space: nowrap;
    padding-right: 2px;
    font-size: 7.5pt;
    color: #707070;
}

#rentContractModelUseRateBlock.loading table#rentContractModelUseRateTable td.useRate
{
    background: transparent url("../../../img/loading2.gif") no-repeat right center;
    font-size: 0;
    color: white;
}

#rentContractModelUseRateBlock.loading table#rentContractModelUseRateTable td.nbTotal
{
    font-size: 0;
    color: white;
}

#rentContractModelUseRateBlock.error table#rentContractModelUseRateTable td.useRate,
#rentContractModelUseRateBlock.error table#rentContractModelUseRateTable td.nbTotal
{
    background: transparent url("../../../img/errorMini.png") no-repeat right center;
    font-size: 0;
    color: white;
}

#rentCommentsFieldset,
#rentContractTotalBlock
{
    height: 200px;
}

#rentCustomerFieldset
{
    height: 227px;
}
#rentSiteFieldset
{
    height: 327px;
}

#rentContractComments,
#rentContractTracking
{
    width: 100% !important;
    height: 130px !important;
}

#rentContractTotalTable tr.line
{
    height: 14px;
}

#rentContractTotalTable tr.line:hover
{
    background-color: #FCF2CC;
}

#rentContractTotalTable tr.line td.label
{
    background: transparent url("../../../img/rent/rentContract/icons.png") no-repeat left -128px;
    padding-left: 17px;
}

#rentContractTotalTable tr.line td.oldAmount > span
{
    visibility: hidden;
}

#rentContractTotalTable tr.line td.oldAmount,
#rentContractTotalTable tr.line td.amount
{
    width: 50px;
    text-align: right;
}

#rentContractTotalTable tr.line.edited td
{
    font-style: italic;
}

#rentContractTotalTable tr.line.edited td.oldAmount > span
{
    visibility: visible;
    padding-right: 20px;
    color: #27a92e;
    background: transparent url("../../../img/rent/rentContract/icons.png") no-repeat right -146px;
}

#rentContractTotalTable tr.line.edited td.amount
{
    font-weight: bold;
}

#rentContractTotalTable tr.line.edited td.label
{
    background-position: left -1px;
}

#rentContractTotalTable tr.line.rentTotal.REM02 td.label,
#rentContractTotalTable tr.line.transportDeliveryAmount.REM02 td.label,
#rentContractTotalTable tr.line.transportRecoveryAmount.REM02 td.label
{
    background-position: left -20px;
}

#rentContractTotalTable tr.line.rentTotal.REM02.edited td.label,
#rentContractTotalTable tr.line.transportDeliveryAmount.REM02.edited td.label,
#rentContractTotalTable tr.line.transportRecoveryAmount.REM02.edited td.label
{
    background-position: left -38px;
}

#rentContractTotalTable tr.line.rentTotal.REM01 td.label,
#rentContractTotalTable tr.line.transportDeliveryAmount.REM01 td.label,
#rentContractTotalTable tr.line.transportRecoveryAmount.REM01 td.label
{
    background-position: left -56px;
}

#rentContractTotalTable tr.line.rentTotal.REM01.edited td.label,
#rentContractTotalTable tr.line.transportDeliveryAmount.REM01.edited td.label,
#rentContractTotalTable tr.line.transportRecoveryAmount.REM01.edited td.label
{
    background-position: left -74px;
}

#rentContractTotalTable tr.line.rentTotal.REM03 td.label,
#rentContractTotalTable tr.line.transportDeliveryAmount.REM03 td.label,
#rentContractTotalTable tr.line.transportRecoveryAmount.REM03 td.label
{
    background-position: left -92px;
}

#rentContractTotalTable tr.line.rentTotal.REM03.edited td.label,
#rentContractTotalTable tr.line.transportDeliveryAmount.REM03.edited td.label,
#rentContractTotalTable tr.line.transportRecoveryAmount.REM03.edited td.label
{
    background-position: left -110px;
}

#rentContractTotalTable tr.total td.label
{
    color: #007AC2;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
}

#rentContractTotalTable tr.total td.amount
{
    padding: 1px 1px 0 0;
    width: 30%;
    min-width: 200px;
}

#rentContractTotalTable tr.total td.amount > div
{
    background: url("../../../img/rent/rentContract/totalBg.png") repeat-x scroll left top #357295;
    border: 1px solid #357295;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    padding: 1px 5px;
}


#rentContractTabBox
{
    margin-top: 4px;
    padding: 0;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.error
{
    padding-left: 18px;
    margin-left: 2px;
    background: transparent url("../../../img/rent/rentEstimate/tabStates.gif") no-repeat left 0px;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.warning
{
    padding-left: 18px;
    margin-left: 2px;
    background: transparent url("../../../img/rent/rentEstimate/tabStates.gif") no-repeat left -14px;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab.disabled > span.error,
div.locPlgTabBoxesDiv > div.tabsContainer > a.tab.disabled > span.warning
{
    padding-right: 10px;
    background: none;
}

#rentInvoices, #repairInvoices
{
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.noresult
{
    font-style: italic;
}

tr.totalInvoices td
{
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 2px;
}

.removed
{
    text-decoration: line-through;
    color: grey;
}

#rentContractValidBtn
{
    margin-right: 16px;
}

#rentContractStopBtn.disabled,
#rentContractReactivateBtn.disabled,
#rentContractInvoiceBtn.disabled,
#rentContractRestopBtn.disabled,
#rentContractCancelBtn.disabled
{
    display: none;
    margin: 0px 3px;
}

#stockBtn
{
    float: right;
    margin-left: 10px;
}

div.locControlPanel > table > tbody > tr > td.middle
{
    text-align: right;
}

#historyHlp_list > thead > tr > th.entity,
#historyHlp_list > tbody > tr > td.entity
{
    display: none;
}

