div.filters > span.label
{
    font-weight: bold;
}

div.filters > div.agencies
{
    display: inline;
}

div.filters > div.agencies > div.agency
{
    display: inline-block;
    padding: 3px 2px;
    margin: 1px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    color: #888888;
    border-color: #D4DADC;
    background-color: #F3F6F7;
}

div.filters > div.agencies > div.agency:hover
{
    border-color: #a4aaac;
}

div.filters > div.agencies > div.agency > span
{
    font-size: 11px;
    line-height: 11px;
}

div.filters > div.agencies > div.agency > span.count
{
    font-weight: bold;
    padding-left: 12px;
}

div.filters > div.agencies > div.agency.on
{
    color: #202020;
    border-color: #a0a0a0;
}

div.filters > div.agencies > div.agency.on:hover
{
    border-color: #202020;
}


div.noResult
{
    margin-top: 16px;
}


table.list
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

table.list > tbody > tr
{
    height: 24px;
}

table.list > thead > tr > th.header
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

table.list > thead > tr > th.header.headerSortDown
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortAsc.png');
    text-decoration: underline;
}

table.list > thead > tr > th.header.headerSortUp
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortDesc.png');
    text-decoration: underline;
}

table.list > tbody > tr > td.model
{
    font-size: 10px;
}

table.list > tbody > tr > td.agency
{
    font-weight: bold;
}

table.list > tbody > tr > td.isAnticipatedDlv,
table.list > tbody > tr > td.transportAddMach,
table.list > tbody > tr > td.isNoDelivery,
table.list > tbody > tr > td.newAccount,
table.list > tbody > tr > td.code,
table.list > tbody > tr > td.zone
{
    text-align: center;
}

table.list > tbody > tr > td.site
{
    font-size: 10px;
}

table.list > tbody > tr > td.customer
{
    width: 140px;
    padding-top: 2px;
    padding-bottom: 2px;
}

table.list > tbody > tr > td.datesToConfirm > div
{
    width: 18px;
    height: 18px;
    background: url('../../../img/rent/rentEstimate/lineIcons.png') no-repeat 0 -36px;
}

table.list > tbody > tr:hover
{
    background-color: #fcf2cc !important;
}
