div.noResult
{
    margin-top: 16px;
}

table.list
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

table.list > tbody > tr
{
    height: 24px;
}

table.list > thead > tr > th.header
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

table.list > thead > tr > th.header.headerSortDown
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortAsc.png');
    text-decoration: underline;
}

table.list > thead > tr > th.header.headerSortUp
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortDesc.png');
    text-decoration: underline;
}

table.list > tbody > tr > td.model
{
    font-size: 10px;
}


table.list > tbody > tr > td.site,
table.list > tbody > tr > td.siteLabel
{
    font-size: 10px;
}

table.list > tbody > tr > td.customer
{
    width: 140px;
    padding-top: 2px;
    padding-bottom: 2px;
}


table.list > tbody > tr > td.isAnticipatedDlv,
table.list > tbody > tr > td.isNoDelivery
{
    text-align: center;
}

table.list > tbody > tr:hover
{
    background-color: #fcf2cc !important;
}

table.list > tbody > tr.removed
{
    background-color: #dddddd;
    color: #777777;
    font-style: italic;
}
table.list > tbody > tr.removed:hover
{
    background-color: #cccccc !important;
}
table.list > tbody > tr.removed > td > a
{
    color: #777777;
}


table.list > tbody > tr.error
{
    background-color: #ffe5e6;
}
table.list > tbody > tr.error:hover
{
    background-color: #ffc5c8 !important;
}

table.list > thead > tr > th.returnError,
table.list > thead > tr > th.unaccept
{
    padding: 0;
    width: 16px;
}


table.list > tbody > tr.error > td.returnError
{
    background-image: url('../../../img/errorMini.png') !important;
    background-position: 0 center !important;
    background-repeat: no-repeat;
}


table.list > tbody > tr.loading > td.unaccept
{
    background-image: url('../../../img/rent/rentEstimate/lineLoading.gif') !important;
    background-position: 10% center !important;
    background-repeat: no-repeat;
}
table.list > tbody > tr.loading > td > a.unacceptBtn,
table.list > tbody > tr.loading > td > a.unacceptUndoBtn,
table.list > tbody > tr.unacceptLine > td > a.unacceptUndoBtn,
table.list > tbody > tr.unacceptUndoLine > td > a.unacceptBtn
{
    display: none;
}

table.list > tbody > tr.unacceptLine > td > a.unacceptBtn,
table.list > tbody > tr.unacceptUndoLine > td > a.unacceptUndoBtn
{
    display: block;
}

table.list > tbody > tr > td.datesToConfirm > div
{
    width: 18px;
    height: 18px;
    background: url('../../../img/rent/rentEstimate/lineIcons.png') no-repeat 0 -36px;
}
