@media print
{
    body
    {
        zoom:75%;
    }
}

/* Message de validation */
#validBlock #success > span
{
    display: none;
}
#validBlock #success > span.active
{
    display: inherit;
}

/* Affichage */

table.alignFieldsetBlocks
{
    width: 100%;
    table-layout: fixed;
}

table.alignFieldsetBlocks tr
{
    vertical-align: top;
}

#rentCommentsFieldset
{
    margin-right: 10px;
}

#rentCommentsFieldset,
#rentAbortFieldset
{
    height: 195px;
}

#rentEstimateComments,
#rentEstimateTracking
{
    width: 100% !important;
    height: 130px !important;
}

#rentAbortFieldset.disabled > table
{
    visibility: hidden;
}

#rentCustomerFieldset
{
    height: 227px;
}
#rentSiteFieldset
{
    height: 327px;
}

#rentEstimateLineModelUseRateBlock table#rentEstimateLineModelUseRateTable th
{
    text-align: center;
    padding-right: 2px;
    font-style: italic;
}

#rentEstimateLineModelUseRateBlock table#rentEstimateLineModelUseRateTable td.useRate
{
    width: 70px;
    text-align: right;
    white-space: nowrap;
    padding-right: 2px;
}
#rentEstimateLineModelUseRateBlock table#rentEstimateLineModelUseRateTable td.nbTotal
{
    width: 30px;
    text-align: left;
    white-space: nowrap;
    padding-right: 2px;
    font-size: 7.5pt;
    color: #707070;
}

#rentEstimateLineModelUseRateBlock.loading table#rentEstimateLineModelUseRateTable td.useRate
{
    background: transparent url("../../../img/loading2.gif") no-repeat right center;
    font-size: 0;
    color: white;
}

#rentEstimateLineModelUseRateBlock.loading table#rentEstimateLineModelUseRateTable td.nbTotal
{
    font-size: 0;
    color: white;
}

#rentEstimateLineModelUseRateBlock.error table#rentEstimateLineModelUseRateTable td.useRate,
#rentEstimateLineModelUseRateBlock.error table#rentEstimateLineModelUseRateTable td.nbTotal
{
    background: transparent url("../../../img/errorMini.png") no-repeat right center;
    font-size: 0;
    color: white;
}

#rentEstimateLineQuantityBlock
{
    visibility: hidden;
}

#rentEstimateLinesBlock
{
    position: relative;
    overflow: visible;
    margin: 0;
    padding: 0;
}

#rentEstimateLinesTable
{
    margin: 0;
    width: 100%;
}

#rentEstimateLinesTable > thead > tr > td > span
{
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 14px;
    height: 12px;
    line-height: 13px;
    background-image: url("../../../img/rent/rentEstimate/columnIcons.png");
}

#rentEstimateLinesTable > thead > tr > td.sep
{
    padding: 0 3px;
    width: 1px;
    background: transparent url("../../../img/rent/rentEstimate/sep.png") no-repeat center -1px;
}

#rentEstimateLinesTable > thead > tr > td.index
{
    padding: 0 0 0 4px;
}

#rentEstimateLinesTable > thead > tr > td.index > span
{
    background-position: 0 0;
}

#rentEstimateLinesTable > thead > tr > td.flag
{
    padding: 0 2px;
    width: 18px;
}

#rentEstimateLinesTable > thead > tr > td.accept,
#rentEstimateLinesTable > thead > tr > td.datesToConfirm
{
    padding: 0 3px;
    width: 18px;
}

#rentEstimateLinesTable > thead > tr > td.accept > span
{
    margin-left: 3px;
    background-position: 0 -126px;
}

#rentEstimateLinesTable > thead > tr > td.datesToConfirm > span
{
    margin-left: 3px;
    background-position: 0 -140px;
}

#rentEstimateLinesTable > thead > tr > td.beginDate > span,
#rentEstimateLinesTable > thead > tr > td.endDate > span
{
    background-position: 0 -14px;
}

#rentEstimateLinesTable > thead > tr > td.duration > span
{
    background-position: 0 -28px;
}

#rentEstimateLinesTable > thead > tr > td.modelLabel > span
{
    background-position: 0 -42px;
}

#rentEstimateLinesTable > thead > tr > td.transportDeliveryAmount > span
{
    background-position: 0 -70px;
}

#rentEstimateLinesTable > thead > tr > td.transportRecoveryAmount > span
{
    background-position: 0 -84px;
}

#rentEstimateLinesTable > thead > tr > td.otherServicesAmount > span
{
    background-position: 0 -98px;
}

#rentEstimateLinesTable > thead > tr > td.rentAmount > span,
#rentEstimateLinesTable > thead > tr > td.rentTotal > span,
#rentEstimateLinesTable > thead > tr > td.total > span
{
    background-position: 0 -56px;
}

#rentEstimateLinesTable > thead > tr > td.proforma > span
{
    background-position: 0 -112px;
}

#rentEstimateLinesTable > tbody > tr
{
    cursor: pointer;
    height: 19px;
}

#rentEstimateLinesTable > tbody > tr.clone
{
    display: none;
}

#rentEstimateLinesTable > tbody > tr.selected
{
    background-color: #FFE5E6;
    cursor: default;
}

#rentEstimateLinesTable > tbody > tr.selected.editmode_create
{
    background-color: #deefde;
}

#rentEstimateLinesTable > tbody > tr.selected > td
{
    color: red;
    border-bottom-color: #fec2c4;
}

#rentEstimateLinesTable > tbody > tr.selected.editmode_create > td
{
    color: #107810;
    border-bottom-color: #a4e0a2;
}

#rentEstimateLinesTable > tbody > tr.editmode_create > td
{
    color: green;
}

#rentEstimateLinesTable > tbody > tr.removed > td
{
    text-decoration: line-through;
}

#rentEstimateLinesTable > tbody > tr > td
{
    color: #505050;
    line-height: 18px;
    white-space: nowrap;
}

#rentEstimateLinesTable > tbody > tr > td.sep
{
    padding: 0 3px;
    width: 1px;
    background: transparent url("../../../img/rent/rentEstimate/sep.png") no-repeat center -1px;
}

#rentEstimateLinesTable > tbody > tr.selected > td.sep
{
    background-position: center -21px;
}

#rentEstimateLinesTable > tbody > tr.selected.editmode_create > td.sep
{
    background-position: center -41px;
}

#rentEstimateLinesTable > tbody > tr > td.index
{
    width: 16px;
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}

#rentEstimateLinesTable > tbody > tr > td.index > div
{
    height: 12px;
    line-height: 12px;
}

#rentEstimateLinesTable > tbody > tr.selected > td.index
{
    color: white;
}

#rentEstimateLinesTable > tbody > tr.selected > td.index > div
{
    border: 1px solid #bf3727;

    background: #e54225;
    background-image: -webkit-linear-gradient(bottom, rgb(229,66,37) 38%, rgb(255,124,105) 86%);
    background-image:         linear-gradient(to top, rgb(229,66,37) 38%, rgb(255,124,105) 86%);

    border-radius: 2px;
}

#rentEstimateLinesTable > tbody > tr.selected.editmode_create > td.index > div
{
    border-color: #39a148;

    background: #3dc055;
    background-image: -webkit-linear-gradient(bottom, rgb(61, 192, 84) 38%, rgb(119, 223, 137) 86%);
    background-image:         linear-gradient(to top, rgb(61, 192, 84) 38%, rgb(119, 223, 137) 86%);
}

#rentEstimateLinesTable > tbody > tr.loadstatus_loading > td.index
{
    background: transparent url("../../../img/rent/rentEstimate/lineLoading.gif") no-repeat center center;
}

#rentEstimateLinesTable > tbody > tr.loadstatus_loading > td.index > div
{
    visibility: hidden;
}

#rentEstimateLinesTable > tbody > tr > td.flag
{
    padding: 0 2px;
    width: 18px;
}

#rentEstimateLinesTable > tbody > tr > td.flag > div.icon
{
    position: relative;
    width: 18px;
    height: 18px;
}

#rentEstimateLinesTable > tbody > tr > td.flag > div.icon > div.sub
{
    position: absolute;
    background: transparent url("../../../img/rent/rentEstimate/lineIcons.png") no-repeat 0 0;
    right: 0;
    bottom: 0;
    width: 9px;
    height: 9px;
    display: none;
}

#rentEstimateLinesTable > tbody > tr > td.flag > div.icon > div.main
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent url("../../../img/rent/rentEstimate/lineIcons.png") no-repeat 0 0;
    display: none;
}

#rentEstimateLinesTable > tbody > tr.errors > td.flag > div.icon > div.main.errors
{
    background-position: -72px 0;
    display: block;
}

#rentEstimateLinesTable > tbody > tr.editmode_create > td.flag > div.icon > div.main.errors,
#rentEstimateLinesTable > tbody > tr.loadstatus_error > td.flag > div.icon > div.main.errors,
#rentEstimateLinesTable > tbody > tr.edited > td.flag > div.icon > div.main.errors,
#rentEstimateLinesTable > tbody > tr.removed > td.flag > div.icon > div.main.errors,
#rentEstimateLinesTable > tbody > tr.state_DDV02 > td.flag > div.icon > div.main.errors,
#rentEstimateLinesTable > tbody > tr.state_DDV03 > td.flag > div.icon > div.main.errors
{
    display: none;
}

#rentEstimateLinesTable > tbody > tr.editmode_create > td.flag > div.icon > div.main.editmode_create
{
    background-position: -18px 0;
    display: block;
}

#rentEstimateLinesTable > tbody > tr.loadstatus_error > td.flag > div.icon > div.main.loadstatus_error
{
    background-position: -36px 0;
    display: block;
}

#rentEstimateLinesTable > tbody > tr.edited > td.flag > div.icon > div.main.edited
{
    background-position: 0 0;
    display: block;
}

#rentEstimateLinesTable > tbody > tr.removed > td.flag > div.icon > div.main.removed
{
    background-position: -54px 0 !important;
    display: block;
}

#rentEstimateLinesTable > tbody > tr.state_DDV02 > td.flag > div.icon > div.main.state_DDV02
{
    background-position: 0 -18px;
    display: block;
}

#rentEstimateLinesTable > tbody > tr.state_DDV03 > td.flag > div.icon > div.main.state_DDV03
{
    background-position: -18px -18px;
    display: block;
}

#rentEstimateLinesTable > tbody > tr.errors.editmode_create > td.flag > div.icon > div.sub,
#rentEstimateLinesTable > tbody > tr.errors.loadstatus_error > td.flag > div.icon > div.sub,
#rentEstimateLinesTable > tbody > tr.errors.edited > td.flag > div.icon > div.sub,
#rentEstimateLinesTable > tbody > tr.errors.removed > td.flag > div.icon > div.sub,
#rentEstimateLinesTable > tbody > tr.errors.state_DDV02 > td.flag > div.icon > div.sub,
#rentEstimateLinesTable > tbody > tr.errors.state_DDV03 > td.flag > div.icon > div.sub
{
    background-position: -72px -18px;
    display: block;
}


#rentEstimateLinesTable > tbody > tr.state_DDV03 > td
{
    text-decoration: line-through;
    color: gray;
}

#rentEstimateLinesTable > tbody > tr > td.modelLabel > div
{
    position: relative;
    min-width: 100px;
    height: 17px;
    text-decoration: inherit;
}

#rentEstimateLinesTable > tbody > tr > td.modelLabel > div > span
{
    position: absolute;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: inherit;
}

#rentEstimateLinesTable > tbody > tr > td.duration > div.changed
{
    display: none;
}

#rentEstimateLinesTable > tbody > tr > td.duration > div.changed.on
{
    vertical-align: top;
    display: inline-block;
    margin-left: 4px;
    width: 18px;
    height: 18px;
    background: transparent url("../../../img/rent/rentEstimate/lineIcons.png") no-repeat -54px -36px;
}

#rentEstimateLinesTable > tbody > tr > td.modelLabel.edited,
#rentEstimateLinesTable > tbody > tr > td.duration.edited,
#rentEstimateLinesTable > tbody > tr > td.beginDate.edited,
#rentEstimateLinesTable > tbody > tr > td.endDate.edited,
#rentEstimateLinesTable > tbody > tr > td.proforma.edited
{
    font-style: italic;
    font-weight: bold;
    background: transparent url("../../../img/rent/rentEstimate/lineVIcons.png") no-repeat left 0;
}

#rentEstimateLinesTable > tbody > tr > td.proforma.edited
{
    padding-left: 20px;
    background: transparent url("../../../img/rent/rentEstimate/lineVIcons.png") no-repeat 4px 0;
}

#rentEstimateLinesTable > tbody > tr > td.rentAmount.edited,
#rentEstimateLinesTable > tbody > tr > td.rentTotal.edited,
#rentEstimateLinesTable > tbody > tr > td.transportDeliveryAmount.edited,
#rentEstimateLinesTable > tbody > tr > td.transportRecoveryAmount.edited,
#rentEstimateLinesTable > tbody > tr > td.otherServicesAmount.edited,
#rentEstimateLinesTable > tbody > tr > td.total.edited
{
    font-style: italic;
    font-weight: bold;
    background: transparent url("../../../img/rent/rentEstimate/lineVIcons.png") no-repeat right 0;
}

#rentEstimateLinesTable > tbody > tr > td.rentAmount.REM02,
#rentEstimateLinesTable > tbody > tr > td.transportDeliveryAmount.REM02,
#rentEstimateLinesTable > tbody > tr > td.transportRecoveryAmount.REM02
{
    background: transparent url("../../../img/rent/rentEstimate/lineVIcons.png") no-repeat right -18px;
}

#rentEstimateLinesTable > tbody > tr > td.rentAmount.REM02.edited,
#rentEstimateLinesTable > tbody > tr > td.transportDeliveryAmount.REM02.edited,
#rentEstimateLinesTable > tbody > tr > td.transportRecoveryAmount.REM02.edited
{
    background-position: right -36px;
}

#rentEstimateLinesTable > tbody > tr > td.rentAmount.REM01,
#rentEstimateLinesTable > tbody > tr > td.transportDeliveryAmount.REM01,
#rentEstimateLinesTable > tbody > tr > td.transportRecoveryAmount.REM01
{
    background: transparent url("../../../img/rent/rentEstimate/lineVIcons.png") no-repeat right -54px;
}

#rentEstimateLinesTable > tbody > tr > td.rentAmount.REM01.edited,
#rentEstimateLinesTable > tbody > tr > td.transportDeliveryAmount.REM01.edited,
#rentEstimateLinesTable > tbody > tr > td.transportRecoveryAmount.REM01.edited
{
    background-position: right -72px;
}

#rentEstimateLinesTable > tbody > tr > td.rentAmount.REM03,
#rentEstimateLinesTable > tbody > tr > td.transportDeliveryAmount.REM03,
#rentEstimateLinesTable > tbody > tr > td.transportRecoveryAmount.REM03
{
    background: transparent url("../../../img/rent/rentEstimate/lineVIcons.png") no-repeat right -90px;
}

#rentEstimateLinesTable > tbody > tr > td.rentAmount.REM03.edited,
#rentEstimateLinesTable > tbody > tr > td.transportDeliveryAmount.REM03.edited,
#rentEstimateLinesTable > tbody > tr > td.transportRecoveryAmount.REM03.edited
{
    background-position: right -108px;
}

#rentEstimateLinesTable > tbody > tr > td.proforma > div.icon
{
    float: left;
    margin: 0 3px 0 0;
}

#rentEstimateLinesTable > tbody > tr > td.proforma > div.icon > div
{
    display: none;
    width: 18px;
    height: 18px;
    background: transparent url("../../../img/rent/rentEstimate/lineIcons.png") no-repeat 0 0;
}

#rentEstimateLinesTable > tbody > tr > td.proforma > div.icon.actived > div.actived
{
    display: block;
    background-position: -18px -54px;
}

#rentEstimateLinesTable > tbody > tr > td.proforma > div.icon.finalized > div.finalized
{
    display: block;
    background-position: -36px -54px;
}

#rentEstimateLinesTable > tbody > tr > td.proforma > div.icon.expired > div.expired
{
    display: block;
    background-position: -54px -54px;
}

#rentEstimateLinesTable > tbody > tr.proforma_togenerate > td.proforma > div.proformaToGen
{
    float: left;
    width: 18px;
    height: 18px;
    margin: 0;
    background: transparent url("../../../img/rent/rentEstimate/lineIcons.png") no-repeat 0 -54px;
}

#rentEstimateLinesTable > tbody > tr.selected > td
{
    color: #da0005;
}

#rentEstimateLinesTable > tbody > tr > td.accept,
#rentEstimateLinesTable > tbody > tr > td.datesToConfirm
{
    padding: 0 3px;
    width: 18px;
}

#rentEstimateLinesTable > tbody > tr > td.accept > div,
#rentEstimateLinesTable > tbody > tr > td.datesToConfirm > div
{
    display: none;
    width: 18px;
    height: 18px;
    background: transparent url("../../../img/rent/rentEstimate/lineIcons.png") no-repeat 0 0;
}

#rentEstimateLinesTable > tbody > tr > td.datesToConfirm > div.on
{
    display: block;
    background-position: 0 -36px;
}

#rentEstimateLinesTable > tbody > tr > td.datesToConfirm > div.off
{
    display: block;
    visibility: hidden;
}

#rentEstimateLinesTable > tbody > tr > td.datesToConfirm.edited > div.on
{
    display: block;
    background-position: -18px -36px;
}


#rentEstimateLinesTable > tbody > tr > td.datesToConfirm.edited > div.off
{
    display: block;
    background-position: -36px -36px;
    visibility: visible;
}

#rentEstimateLinesTable > tbody > tr.accepted > td.accept > div
{
    display: block;
    background-position: -36px -18px;
}


#rentEstimateLinesTable tr > td.beginDate,
#rentEstimateLinesTable tr > td.endDate,
#rentEstimateLinesTable tr > td.duration,
#rentEstimateLinesTable tr > td.modelLabel
{
    padding-left: 16px;
}

#rentEstimateLinesTable tr > td.rentTotal,
#rentEstimateLinesTable tr > td.rentAmount,
#rentEstimateLinesTable tr > td.transportDeliveryAmount,
#rentEstimateLinesTable tr > td.transportRecoveryAmount,
#rentEstimateLinesTable tr > td.otherServicesAmount,
#rentEstimateLinesTable tr > td.total
{
    text-align: right;
    padding-right: 16px;
}

#rentEstimateLinesTable tr > td.ctrls
{
    width: 18px;
    padding: 0 2px;
}

#rentEstimateLinesTable > tbody > tr > td.ctrls > a
{
    display: none;
    width: 18px;
    height: 18px;
    background: transparent url("../../../img/rent/rentEstimate/lineIcons.png") no-repeat 0 -72px;
}

#rentEstimateLinesTable > tbody > tr.state_DDV02 > td.ctrls > a.view-contract
{
    display: block;
    background: none;
}

#rentEstimateLinesTable > tbody > tr.state_DDV02 > td.ctrls > a.view-contract:after
{
    margin-left: 0;
}


#rentEstimateLinesBlock #rentEstimateAddLineBtnDiv
{
    position: absolute;
    margin-top: -1px;
    padding: 0 8px;
    height: 20px;
    right: 0px;
    top: 100%;
    border-left: 1px solid #3395ce;
    border-bottom: 1px solid #3395ce;
    border-right: 1px solid #007ac2;
    background: #def7ff url("../../../img/rent/rentEstimate/addLineBtnBg.gif") repeat-x left top;
    z-index: 15;
    border-radius: 0 0 6px 6px;
}

#rentEstimateAddLineBtn
{
    display: block;
    width: 16px;
    height: 16px;
    padding-top: 2px;
}

#rentEstimateLineValidBtn,
#rentEstimateLineResetBtn,
#rentEstimateLineReloadBtn,
#rentEstimateLineRemoveBtn,
#rentEstimateValidBtn,
#rentEstimateResetBtn
{
    margin-right: 16px;
}

#rentEstimateLineAccept,
#rentEstimateLineCancelAccept
{
    margin-right: 4px;
}

#rentEstimateLineTabBox
{
    margin-top: 4px;
    padding: 0;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.error
{
    padding-right: 18px;
    margin-right: 2px;
    background: transparent url("../../../img/rent/rentEstimate/tabStates.gif") no-repeat right 0px;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab > span.warning
{
    padding-right: 18px;
    margin-right: 2px;
    background: transparent url("../../../img/rent/rentEstimate/tabStates.gif") no-repeat right -14px;
}

div.locPlgTabBoxesDiv > div.tabsContainer > a.tab.disabled > span.error,
div.locPlgTabBoxesDiv > div.tabsContainer > a.tab.disabled > span.warning
{
    padding-right: 10px;
    background: none;
}

#rentEstimateLineBlock
{
    position: relative;
}

#rentEstimateLineBlock > div.loadingMask
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    z-index: 1;

    display: none;
}

#rentEstimateLineBlock > div.content
{
    z-index: 0;
}

#rentEstimateLineBlock.none
{
    display: none;
}

#rentEstimateLineBlock.loadstatus_loading > div.loadingMask
{
    background: #f2f9fc url("../../../img/loading3.gif") no-repeat center center;
    opacity: 0.70;
    filter: alpha(opacity=70);
    display: block;
}

#rentEstimateLineBlock.loadstatus_error > div.loadingMask
{
    background: #fcf3f7 url("../../../img/error.png") no-repeat center center;
    opacity: 0.70;
    filter: alpha(opacity=70);
    display: block;
}

#rentEstimateLineBlock.removed > div.loadingMask
{
    background: #fcf3f7 url("../../../img/rent/rentEstimate/lineBlockRemoved.png") no-repeat center center;
    opacity: 0.70;
    filter: alpha(opacity=70);
    display: block;
}

#rentEstimateLineQuantity
{
    width: 40px;
}

#rentEstimateLineDuration
{
    width: 32px;
    text-align: right;
}

#rentEstimateLineContractCode
{
    font-style: italic;
}

table.tooltipInfos td.label
{
    text-align: left;
    font-weight: bold;
    padding-right: 8px;
}

table.tooltipInfos td.label:first-letter
{
    color: #710709;
}

table.tooltipInfos td.content
{
    text-align: right;
}



#rentEstimateBlock
{
    position: relative;
    min-width: 1116px;
}

#rentEstimateBlock > div.loadingMask
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    z-index: 100;

    display: none;
}

#rentEstimateBlock.loading > div.loadingMask
{
    background: #f2f9fc url("../../../img/loading4.gif") no-repeat center center;
    opacity: 0.40;
    filter: alpha(opacity=40);
    display: block;
}

#rentEstimateBlock > div.content
{
    z-index: 0;
}

ul.errors
{
    padding-left: 0;
}

ul.errors > li
{
    color: black;
    font-weight: normal;
    font-size: 8pt;
    margin: 4px 0;
    display : list-item;
    list-style-type: none;
    background: url("../../../img/rent/rentEstimate/bullet.png") no-repeat 0 3px;
    padding-left: 14px;
}

ul.errors > li > ul
{
    padding-left: 0;
}

ul.errors > li > ul > li
{
    color: black;
    font-weight: normal;
    margin: 4px 0;
    list-style-type: none;
    background: url("../../../img/rent/rentEstimate/bullet2.png") no-repeat 0 3px;
    padding-left: 12px;
}

ul.errors li > span.lines > a
{
    font-weight: bold;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 14px;
    height: 12px;
    background-image: url("../../../img/rent/rentEstimate/columnIcons.png");
}


#stockBtn
{
    float: right;
    margin-left: 10px;
}

div.locControlPanel > table > tbody > tr > td.middle
{
    text-align: right;
}
