div.noResult
{
    margin-top: 16px;
}

table.list
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

table.list > tbody > tr
{
    height: 24px;
}

table.list > thead > tr > th.header
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

table.list > thead > tr > th.header.headerSortDown
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortAsc.png');
    text-decoration: underline;
}

table.list > thead > tr > th.header.headerSortUp
{
    background-image: url('../../../img/jQuery/plugins/tablesorter/sortDesc.png');
    text-decoration: underline;
}

table.list > tbody > tr > td.model
{
    font-size: 10px;
}


table.list > tbody > tr > td.site,
table.list > tbody > tr > td.siteLabel
{
    font-size: 10px;
}

table.list > tbody > tr > td.customer
{
    width: 140px;
    padding-top: 2px;
    padding-bottom: 2px;
}

table.list > tbody > tr:hover
{
    background-color: #fcf2cc !important;
}

table.list > tbody > tr.removed
{
    background-color: #dddddd;
    color: #777777;
    font-style: italic;
}
table.list > tbody > tr.inactive
{
    text-decoration: line-through;
}
table.list > tbody > tr.removed:hover
{
    background-color: #cccccc !important;
}
table.list > tbody > tr.removed > td > a
{
    color: #777777;
}


table.list > tbody > tr.error
{
    background-color: #ffe5e6;
}
table.list > tbody > tr.error:hover
{
    background-color: #ffc5c8 !important;
}

table.list > thead > tr > th.returnError,
table.list > thead > tr > th.unfollow,
table.list > thead > tr > th.state
{
    padding: 0;
    width: 16px;
}


table.list > tbody > tr.error > td.returnError
{
    background-image: url('../../../img/errorMini.png') !important;
    background-position: 0 center !important;
    background-repeat: no-repeat;
}


table.list > tbody > tr.loading > td.unfollow
{
    background-image: url('../../../img/rent/rentEstimate/lineLoading.gif') !important;
    background-position: 10% center !important;
    background-repeat: no-repeat;
}
table.list > tbody > tr.loading > td > a.unfollowBtn,
table.list > tbody > tr.loading > td > a.unfollowUndoBtn,
table.list > tbody > tr.unfollowLine > td > a.unfollowUndoBtn,
table.list > tbody > tr.unfollowUndoLine > td > a.unfollowBtn
{
    display: none;
}

table.list > tbody > tr.unfollowLine > td > a.unfollowBtn,
table.list > tbody > tr.unfollowUndoLine > td > a.unfollowUndoBtn
{
    display: block;
}

table.list > tbody > tr > td.state > div,
table.list > tbody > tr > td.datesToConfirm > div
{
    width: 18px;
    height: 18px;
}
table.list > tbody > tr.inactive > td.state > div
{
    background-image: url('../../../img/rent/rentEstimate/lineIcons.png') !important;
    background-position: -16px -16px;
    background-repeat: no-repeat;
}

table.list > tbody > tr > td.datesToConfirm > div
{
    width: 18px;
    height: 18px;
    background: url('../../../img/rent/rentEstimate/lineIcons.png') no-repeat 0 -36px;
}

table.list > tbody > tr > td.spcReduc > div
{
    margin: 0 auto;
    width: 16px;
    height: 16px;
    background: url('../../../img/rent/spcReducStates.png') no-repeat 0 0;
}

table.list > tbody > tr > td.spcReduc > div.REM01
{
    background-position: 0 0;
}

table.list > tbody > tr > td.spcReduc > div.REM02
{
    background-position: 0 -16px;
}

table.list > tbody > tr > td.spcReduc > div.REM03
{
    background-position: 0 -32px;
}