<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr_FR" xml:lang="fr_FR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Visibilité de la machine <%model.label> nº <%machine.parkNumber></title>
<style>
body
{
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 10pt;
}
table.signature
{
    font-size: 9pt;
}

table.signature td.logo
{
    padding-right: 15px;
}
p.user
{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.label
{
    font-weight: bold;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.address
{
    font-size: 7pt;
    margin-top: 0px;
    margin-bottom: 0px;
}
span.before
{
    color: red;
}
span.after
{
    color: green;
}


</style>
</head>
<body>
<p>Bonjour,</p>
<p>La visibilité de la machine <a href="<%machine.url>"><span class="machine.parkNumber"><%machine.parkNumber></span></a>
vient d'être modifiée.

<ul>
    <li>Numéro de parc : <a href="<%machine.url>"><%machine.parkNumber></a></li>
    <li>Modèle de machines : <%model.label></li>
    <li>Agence de la machine : <%afterPhysicalAgency.label></li>
    <li>Agence de visibilité : <span class='before'><%beforeAgency.label><%mod:Aucune visibilité|create></span> → <span class="after"><%afterAgency.label><%mod:Aucune visibilité|suppr></span></li>
</ul>

<table class="signature">
<tr>
<td class="logo"><img src="cid:logo-accesindustrie.png" /></td>
<td>
<p class="user"><%user.firstName> <%user.name></p>
<p class="agency label">Acces industrie <%agency.label></p>
<p class="agency address">
<%agency.address><br />
<%agency.postalCode> <%agency.city><br />
Tél. <%agency.telephone><br />
Fax <%agency.fax>
</p>
</td>
</tr>
</table>
</body>

</html>