
.ajaxtable-container
{
    position: relative;
}

.ajaxtable-container > div.loading-mask
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4) url('../../../img/jQuery/plugins/ajaxTable/tableLoading.gif') no-repeat center center;
    opacity: 0.6;
    z-index: 2;
    display: none;
}

.ajaxtable-container.loading > div.loading-mask
{
    display: block;
}

.ajaxtable-container > table
{
    z-index: 1;
}

.ajaxtable-container > table th.sort
{
    padding-left: 16px;
    background: url('../../../img/jQuery/plugins/tablesorter/sort.png') no-repeat 0 center;
    cursor: pointer;
}

.ajaxtable-container > table th.sort.sort-asc
{
    background-image: url('../../../img/jQuery/plugins/ajaxTable/sortAsc.png');
    text-decoration: underline;
}

.ajaxtable-container > table th.sort.sort-desc
{
    background-image: url('../../../img/jQuery/plugins/ajaxTable/sortDesc.png');
    text-decoration: underline;
}

.ajaxtable-container.no-result > table > tbody td
{
    text-align: center;
    font-style: italic;
}



/* Paginations */
.ajaxtable-pagination-container
{
    position: relative;
    white-space: nowrap;

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.ajaxtable-pagination-container > div.loading-mask
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
    display: none;
}

.ajaxtable-pagination-container.loading > div.loading-mask
{
    display: block;
}

.ajaxtable-pagination-container > ul
{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 22px;
    z-index: 1;
    white-space: nowrap;
    display: inline-block;
}

.ajaxtable-pagination-container > ul > li
{
    display: inline-block;
    font-size: 10px;
    margin: 0 2px;
}

.ajaxtable-pagination-container > ul > li:first-child
{
    margin-left: 0;
}

.ajaxtable-pagination-container > ul > li:last-child
{
    margin-right: 0;
}

.ajaxtable-pagination-container > ul > li.btn
{
    color: #404040;
    text-decoration: none;
    padding: 4px 7px;
    background: #fff url('../../../img/jQuery/plugins/ajaxTable/paginationBg.png') repeat-x 0 0;
    border: 1px solid #B3D7ED;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #e0e0f0;
}

.ajaxtable-pagination-container > ul > li.btn.active
{
    cursor: pointer;
}

.ajaxtable-pagination-container > ul > li.btn.active:hover
{
    color: #007AC2;
    background-position: 0 -24px;
    border: 1px solid #A5D0E9;
    box-shadow: 1px 1px 3px #c8c8d8;
}

.ajaxtable-pagination-container > ul > li.btn.current
{
    border: 1px solid #007AC2;
    background-position: 0 -48px;
    font-weight: bold;
    color: white;
    cursor: default;
}

.ajaxtable-pagination-container > ul > li.btn.disabled
{
    border: 1px solid #ccc;
    background-position: 0 -72px;
    color: #888;
    cursor: default;
}

.ajaxtable-pagination-container > ul > li.sep
{
    line-height: 22px;
}

.ajaxtable-pagination-container > span.results
{
    font-size: 10px;
    line-height: 22px;
    margin: 0 12px;
    color: #333;
    white-space: nowrap;
}


/* Filtres */
.ajaxtable-filter-container
{
    position: relative;

    margin: 0;
    padding: 0;
    display: inline-block;

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.ajaxtable-filter-container span.btn
{
    text-decoration: none;
    line-height: 16px;
    padding: 0 2px;
    white-space: nowrap;
    font-weight: normal;
    color: #808080;
    cursor: pointer;
}

.ajaxtable-filter-container > span.btn
{
    color: black;
    font-weight: bold;
    cursor: default;
}

.ajaxtable-filter-container > span.btn:hover
{
    color: black;
}

.ajaxtable-filter-container.active > span.btn
{
    cursor: pointer;
    font-weight: normal;
    color: #808080;
}

/* Type Liste */
.ajaxtable-filter-container.type-list > div.content
{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 16px;
    max-height: 32px;
}

.ajaxtable-filter-container.type-list > div.content.more:after
{
    content: '...';
    position: absolute;
    color: #A00000;
    left: 3px;
    bottom: -4px;
    line-height: 4px;
}

.ajaxtable-filter-container.type-list > div.content > span.btn,
.ajaxtable-filter-container.type-search > div.content > span.btn
{
    position: relative;
    z-index: 1;
}

.ajaxtable-filter-container.type-list > div.content > span.btn:hover,
.ajaxtable-filter-container.type-search > div.content > span.btn:hover
{
    color: black;
}

.ajaxtable-filter-container.type-list.active > div.content > span.btn,
.ajaxtable-filter-container.type-search.active > div.content > span.btn
{
    display: inline-block;
    color: #A00000;
    font-weight: bold;
    max-height: 32px;
    border-radius: 3px;
    white-space: normal;
    overflow: hidden;
}

.ajaxtable-filter-container.type-list.active > div.content > span.btn:hover,
.ajaxtable-filter-container.type-search.active > div.content > span.btn:hover
{
    background-color: #efefef;
    max-height: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    z-index: 50;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper,
.ajaxtable-filter-container.type-search > div.content > div.wrapper
{
    display: none;
    position: absolute;
    width: 300px;
    border: 1px solid #E0E0E0;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 5px 0px;
    margin: 0;
    box-shadow: 1px 1px 2px #DDE;
    border-radius: 2px;
    z-index: 100;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper
{
    padding: 5px 0;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > span.no-item-msg
{
    display: none;
    font-style: italic;
    text-align: left;
    padding: 1px 0 1px 28px;
    background: transparent url('../../../img/jQuery/plugins/ajaxTable/noItem.png') no-repeat 8px center;
    color: gray;
}

.ajaxtable-filter-container.type-list.no-item > div.content > div.wrapper > span.no-item-msg
{
    display: block;
}


.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container
{
    width: 100%;
    overflow: hidden;
    margin: 0;
    position: relative;
    z-index: 0;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container.scroll-top:before,
.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container.scroll-btm:after
{
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    height: 4px;
    width: 100%;
    background: transparent;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container.scroll-top:before
{
    top: -4px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.15);
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container.scroll-btm:after
{
    bottom: -4px;
    box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.15);
}
.ajaxtable-filter-container.type-list.no-item > div.content > div.wrapper > div.list-container > ul
{
    display: none;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container > ul
{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
    z-index: 1;
    /*min-height: 50px;*/
    max-height: 150px;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container > ul > li
{
    display: block;
    cursor: pointer;
    color: gray;
    padding: 2px 5px 2px 19px;
    margin: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container > ul > li:hover
{
    color: inherit;
    background-color: #F3F3F3 !important;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container > ul > li.selected
{
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #A00000;
    background-image: url('../../../img/jQuery/plugins/ajaxTable/itemChecked.png');
    background-repeat: no-repeat;
    background-position: 5px center;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container > ul > li.updated
{
    color: black;
    background-color: rgba(0, 0, 0, 0.025);
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container > ul > li.updated.selected
{
    color: #900000;
}


.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.list-container > ul > li.empty
{
    font-style: italic;
}

/* Type recherche direct */
.ajaxtable-filter-container.type-search > div.content > div.wrapper
{
    width: 250px;
}

.ajaxtable-filter-container.type-search > div.content > div.wrapper > div.search,
.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.search
{
    display: block;
    padding: 0 5px;
    margin: 0;

    -webkit-transition: padding 0.2s ease-out;
       -moz-transition: padding 0.2s ease-out;
         -o-transition: padding 0.2s ease-out;
            transition: padding 0.2s ease-out;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.search
{
    padding-bottom: 5px;
    border-bottom: 1px solid #efefef;
}

.ajaxtable-filter-container.type-search > div.content > div.wrapper > div.search > input[type=text],
.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.search > input[type=text]
{
    padding: 1px 20px 1px 23px;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    font-size: 11px;
    line-height: 14px;
    background: transparent url('../../../img/jQuery/plugins/ajaxTable/search.png') no-repeat 1px center;
    z-index: 1;
}

.ajaxtable-filter-container.type-search > div.content > div.wrapper > div.search > div.btn-clear,
.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.search > div.btn-clear
{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    background: transparent url('../../../img/jQuery/plugins/ajaxTable/clear.png') no-repeat center center;
    cursor: pointer;
    opacity: 0.8;
    z-index: 2;
}

.ajaxtable-filter-container.type-search > div.content > div.wrapper > div.search > div.btn-clear:hover,
.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.search > div.btn-clear:hover
{
    opacity: 1;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.search > span
{
    display: none;
    font-style: italic;
    text-align: left;
    margin: 9px 0 0 3px;
    padding: 1px 0 1px 20px;
    background: transparent url('../../../img/jQuery/plugins/ajaxTable/info.png') no-repeat 0 center;
    color: gray;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.search.no-result > span
{
    display: block;
}

/* Bouton pour effacer */
.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.clear-sel
{
    border-top: 1px solid #efefef;
    padding: 3px 0 0 0;
    text-align: center;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.clear-sel > a
{
    padding-left: 14px;
    background: transparent url('../../../img/jQuery/plugins/ajaxTable/clearSel.png') no-repeat left 0;
    font-weight: normal;
    color: #999;
    text-decoration: none;
    font-size: 9px;
    line-height: 12px;
    cursor: default;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper.selected-items > div.clear-sel > a
{
    background-position: left -12px;
    color: #444;
    cursor: pointer;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper.selected-items > div.clear-sel > a:hover
{
    color: black;
}


/* Type Radio */
.ajaxtable-filter-container.type-radio > ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.ajaxtable-filter-container.type-radio > ul > li
{
    display: block;
    padding: 0;
}

.ajaxtable-filter-container.type-radio > ul > li > span.disabled
{
    display: none;
}

.ajaxtable-filter-container.type-radio > ul > li > span.selected
{
    color: #A00000;
    font-weight: bold;
}



.ajaxtable-filter-container > div.loading-mask,
.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.loading-mask,
.ajaxtable-filter-container.type-search > div.content > div.wrapper > div.loading-mask
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
    display: none;
}

.ajaxtable-filter-container.type-list > div.content > div.wrapper > div.loading-mask,
.ajaxtable-filter-container.type-search > div.content > div.wrapper > div.loading-mask
{
    background-image: url('../../../img/jQuery/plugins/ajaxTable/filterListLoading.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.ajaxtable-filter-container.loading > div.loading-mask,
.ajaxtable-filter-container.type-list.loading > div.content > div.wrapper > div.loading-mask,
.ajaxtable-filter-container.type-search.loading > div.content > div.wrapper > div.loading-mask
{
    display: block;
}


/* Récapitulatifs des filtres */
.ajaxtable-filters-recap-container
{
    font-size: 10px;
    color: #606060;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.ajaxtable-filters-recap-container span
{
    margin-right: 20px;
    padding: 1px 4px;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 2px;
}

.ajaxtable-filters-recap-container span:hover
{
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
}

