table
{
    border: none;
    padding: 0;
    margin: auto;
    border-spacing: 0px;
}
table td
{
    padding: 0px;
    font-size: inherit;
}

body
{
    margin: 10px;
    font-family: Verdana, Arial, 'Bitstream Vera Sans', Helvetica, Sans-Serif;
    font-size: 8pt;
    color: black;
    cursor: default;
    background-color: white;
}
