<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr_FR" xml:lang="fr_FR">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Une nouvelle machine (n°<%parkNumber>) a été créée par <%creator.fullName></title>
<style>
body
{
    font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 10pt;
}
table.signature
{
    font-size: 9pt;
}
table.signature td.logo
{
    padding-right: 15px;
}
p.user
{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.label
{
    font-weight: bold;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.agency.address
{
    font-size: 7pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

table.machineInfos
{
    padding: 0px;
    margin: 5px 0 35px 0;
}

table.machineInfos td
{
    vertical-align: top;
    padding: 0px;
}

table.machineInfos td.label:first-letter
{
    font-weight: bold;
}

table.machineInfos td.content
{
    padding-left: 5px;
    font-weight: bold;
}

span.parkNumber
{
    font-weight: bold;
}

</style>
</head>

<body>

<p>La machine <span class="parkNumber"><%parkNumber></span>  a été créée par <%creator.fullName>.</p>
<table cellspacing="0" cellpadding="0" class="machineInfos">
<tr>
    <td class="label">N° parc :</td><td class="content parkNumber"><%parkNumber></td>
</tr>
<tr>
    <td class="label">Modèle :</td><td class="content model"><%model.label></td>
</tr>
<tr>
    <td class="label">N° de série :</td><td class="content serialNumber"><%serialNumber></td>
</tr>
<tr>
    <td class="label">Date de création :</td><td class="content creationDate"><%dte:date.creation|10|fr_FR></td>
</tr>
<tr>
    <td class="label">Date apave :</td><td class="content controlDate"><%dte:date.control|10|fr_FR></td>
</tr>
<tr>
    <td class="label">Agence de création :</td><td class="content agency"><%creationAgency.label></td>
</tr>
</table>


<table class="signature">
<tr>
<td class="logo"><img src="cid:logo-ai-email.png" /></td>
<td>
<p class="user"><%user.firstName> <%user.name></p>
<p class="agency label">Acces industrie <%agency.label></p>
<p class="agency address">
<%agency.address><br />
<%agency.postalCode> <%agency.city><br />
Tél. <%agency.telephone><br />
Fax <%agency.fax>
</p>
</td>
</tr>
</table>
</body>

</html>